<!DOCTYPE html>
<html lang="en" ng-app="primeApp" ng-controller="mainController">
<head>
    <meta charset="utf-8">
    <title>Talents&Mentors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
          rel="stylesheet">
    <link href="/static/admin/css/font-awesome.css" rel="stylesheet">
    <link href="/static/admin/css/style.css" rel="stylesheet">
    <link href="/static/admin/css/pages/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/admin/../../static/css/font/font.css" />
    <!--<link rel="stylesheet" href="/static/admin/../.. /static/css/main.css" />-->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body ng-controller="ConversationController" ng-init="init()">
    <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a><a class="brand" href="/" style="font-family: pacifico,cursive;font-weight: 500;">Talents&Mentors</a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>&nbsp;&nbsp; {{user.name}}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
    <!-- /navbar -->
    <div class="subnavbar">
        <div class="subnavbar-inner">
            <div class="container">
                <ul class="mainnav">
                    <li><a href="/dashboard"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
                    <li class="active"><a href="/conversations"><i class="icon-comments-alt"></i><span>Conversations</span> </a> </li>
                    <!--<li><a href="/library"><i class="icon-book"></i><span>Library</span> </a></li>-->
                    <li><a href="/talents"><i class="icon-trophy"></i><span>talents</span> </a> </li>
                    <!--<li><a href="/mentors/notifications"><i class="icon-terminal"></i><span>Notifications</span> </a> </li>-->
                </ul>
            </div>
            <!-- /container -->
        </div>
        <!-- /subnavbar-inner -->
    </div>
    <!-- /subnavbar -->
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
        
                    <!-- /span6 -->
                    <div class="span12">
                        <!-- /widget -->
                        <div class="widget widget-nopad">
                            <div class="widget-header">
                                <i class="icon-list-alt"></i>
                                <h3> Recent Conversation</h3>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                <ul class="news-items">
                                    <li>

                                        <div class="news-item-date"> <span class="news-item-day">29</span> <span class="news-item-month">Aug</span> </div>
                                        <div class="news-item-detail">
                                            <a href="http://www.egrappler.com/thursday-roundup-40/" class="news-item-title" target="_blank">Thursday Roundup # 40</a>
                                            <p class="news-item-preview"> This is our web design and development news series where we share our favorite design/development related articles, resources, tutorials and awesome freebies. </p>
                                        </div>

                                    </li>
                                    <li>

                                        <div class="news-item-date"> <span class="news-item-day">15</span> <span class="news-item-month">Jun</span> </div>
                                        <div class="news-item-detail">
                                            <a href="http://www.egrappler.com/retina-ready-responsive-app-landing-page-website-template-app-landing/" class="news-item-title" target="_blank">Retina Ready Responsive App Landing Page Website Template – App Landing</a>
                                            <p class="news-item-preview"> App Landing is a retina ready responsive app landing page website template perfect for software and application developers and small business owners looking to promote their iPhone, iPad, Android Apps and software products.</p>
                                        </div>

                                    </li>
                                    <li>

                                        <div class="news-item-date"> <span class="news-item-day">29</span> <span class="news-item-month">Oct</span> </div>
                                        <div class="news-item-detail">
                                            <a href="http://www.egrappler.com/open-source-jquery-php-ajax-contact-form-templates-with-captcha-formify/" class="news-item-title" target="_blank">Open Source jQuery PHP Ajax Contact Form Templates With Captcha: Formify</a>
                                            <p class="news-item-preview"> Formify is a contribution to lessen the pain of creating contact forms. The collection contains six different forms that are commonly used. These open source contact forms can be customized as well to suit the need for your website/application.</p>
                                        </div>

                                    </li>
                                    <li>

                                        <div class="news-item-date"> <span class="news-item-day">29</span> <span class="news-item-month">Aug</span> </div>
                                        <div class="news-item-detail">
                                            <a href="http://www.egrappler.com/thursday-roundup-40/" class="news-item-title" target="_blank">Thursday Roundup # 40</a>
                                            <p class="news-item-preview"> This is our web design and development news series where we share our favorite design/development related articles, resources, tutorials and awesome freebies. </p>
                                        </div>

                                    </li>
                                    <li>

                                        <div class="news-item-date"> <span class="news-item-day">15</span> <span class="news-item-month">Jun</span> </div>
                                        <div class="news-item-detail">
                                            <a href="http://www.egrappler.com/retina-ready-responsive-app-landing-page-website-template-app-landing/" class="news-item-title" target="_blank">Retina Ready Responsive App Landing Page Website Template – App Landing</a>
                                            <p class="news-item-preview"> App Landing is a retina ready responsive app landing page website template perfect for software and application developers and small business owners looking to promote their iPhone, iPad, Android Apps and software products.</p>
                                        </div>

                                    </li>
                                    <li>

                                        <div class="news-item-date"> <span class="news-item-day">29</span> <span class="news-item-month">Oct</span> </div>
                                        <div class="news-item-detail">
                                            <a href="http://www.egrappler.com/open-source-jquery-php-ajax-contact-form-templates-with-captcha-formify/" class="news-item-title" target="_blank">Open Source jQuery PHP Ajax Contact Form Templates With Captcha: Formify</a>
                                            <p class="news-item-preview"> Formify is a contribution to lessen the pain of creating contact forms. The collection contains six different forms that are commonly used. These open source contact forms can be customized as well to suit the need for your website/application.</p>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                            <!-- /widget-content -->
                        </div>
                        <!-- /widget -->
                    </div>
                    <!-- /span6 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /main-inner -->
    </div>
    <!-- /main -->
    <!-- /extra -->
    <div class="footer">
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="span12"> &copy; 2016 <a href="http://www.egrappler.com/" style="font-family: pacifico,cursive;font-weight: 500;">Talent&mentors</a>. </div>
                    <!-- /span12 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /footer-inner -->
    </div>
    <!-- /footer -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/admin/js/jquery-1.7.2.min.js"></script>
    <script src="/static/admin/js/excanvas.min.js"></script>
    <script src="/static/admin/js/chart.min.js" type="text/javascript"></script>
    <script src="/static/admin/js/bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="/static/admin/js/full-calendar/fullcalendar.min.js"></script>
    <script src="/static/admin/js/base.js"></script>
    <script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/angularjs/angular-route.min.js"></script>
    <script type="text/javascript" src="/static/js/angularjs/angular-animate.js"></script>
    <script type="text/javascript" src="/static/js/angularjs/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/static/js/angularjs/angular-resource.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins.js"></script>
    <script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/date-picker.min.js"></script>
    <script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.min.js"></script>
    <script src="/static/js/pouchdb.js"></script>
    <script src="/static/js/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-cookie.js"></script>
    <script src="/static/js/angular-facebook.js"></script>
    <script src="/static/js/ng-file-upload.js"></script>
    <script src="/static/js/aws-sdk.min.js"></script>
    <script src="/static/js/summer-note.min.js"></script>
    <script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
    <script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/angular-moment.min.js"></script>
    <script src="/static/js/angular-aria.min.js"></script>
    <script src="/static/js/angular-messages.min.js"></script>
    <script src="/static/js/angular-material.min.js"></script>
    <script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
    <script src="/static/js/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>
    <script src="/static/js/ngAutocomplete.js"></script>
    <script src="/static/js/angular-idle.min.js"></script>
    <script type="text/javascript" src="/static/js/application.js"></script>
</body>
</html>
