<!DOCTYPE html>
<html lang="en" ng-app="primeApp">
<head>
    <meta charset="utf-8">
    <title>Dashboard | Talents&Mentors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/open_sans.css" rel="stylesheet">
    <link href="/static/admin/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/static/admin/css/style.css" rel="stylesheet">
    <link href="/static/admin/css/pages/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/admin/../../static/css/font/font.css"/>
    <![endif]-->
</head>
<body ng-controller="DashboardController" ng-init="init()" ng-cloak="loading">
<div ng-show="loading" class="loader loader-default is-active" data-text></div>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a><a class="brand" href="/" style="font-family: pacifico,cursive;font-weight: 500;">Talents&Mentors</a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>&nbsp;&nbsp; {{user.name}}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/group">My Groups</a></li>
                            <li><a href="/connections">My Connections</a></li>
                            <li><a href="/private/mentors">My Mentors</a></li>
                            <li><a href="/messages">My Messages</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-search pull-right" method="get" action="/search">
                    <input type="text" class="search-query" name="q" id="q" ng-model="search_q"
                           placeholder="Search for people, Jobs, Companies and more..." style="color:black">
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li class="active"><a href="/dashboard"><i class="icon-dashboard"></i><span>Dashboard</span> </a></li>
                <!--<li><a href="/conversations"><i class="icon-comments-alt"></i><span>Conversations</span> </a> </li>-->
                <!--<li><a href="/library"><i class="icon-book"></i><span>Library</span> </a></li>-->
                <li><a href="/mentors/talents"><i class="fa fa-users"></i><span>Talents</span> </a></li>
                <li><a href="/mentors/notifications"><i class="fa fa-bell"></i><span>Notifications</span> </a></li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="widget widget-nopad">
                        <div class="widget-header">
                            <i class="icon-list-alt"></i>
                            <h3> Stats</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="widget big-stats-container">
                                <div class="widget-content">
                                    <div id="big_stats" class="cf">
                                        <div class="stat"><i style="font-size: 16px" class="">Posts</i> <a href="/posts"
                                                class="value" ng-bind="user.posts.length"></a></div>
                                        <!-- .stat -->

                                        <div class="stat"><i style="font-size: 16px" class="">Groups</i> <a href="/group"
                                                class="value" ng-bind="user.groups.length"></a></div>
                                        <!-- .stat -->

                                        <div class="stat"><i style="font-size: 16px" class="">Connections</i> <a href="/connections"
                                                class="value" ng-bind="user.connections.length"></a></div>
                                        <!-- .stat -->

                                        <div class="stat"> <i style="font-size: 16px" class="">Talents</i> <a href="/mentors/talents" class="value" ng-bind="user.talents.length"></a> </div>
                                        <!-- .stat -->
                                    </div>
                                </div>
                                <!-- /widget-content -->

                            </div>
                        </div>
                    </div>
                    <!-- /widget -->
                    <!--<div class="widget widget-nopad">-->
                    <!--<div class="widget-header">-->
                    <!--<i class="icon-list-alt"></i>-->
                    <!--<h3> Recent News</h3>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /widget-header &ndash;&gt;-->
                    <!--<div class="widget-content">-->
                    <!--<div id='calendar'>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /widget-content &ndash;&gt;-->
                    <!--</div>-->
                    <!-- /widget -->
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
                <div class="span6">
                    <!--<div class="widget">-->
                    <!--<div class="widget-header">-->
                    <!--<i class="icon-bookmark"></i>-->
                    <!--<h3>Important Shortcuts</h3>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /widget-header &ndash;&gt;-->
                    <!--<div class="widget-content">-->
                    <!--<div class="shortcuts">-->
                    <!--<a href="javascript:;" class="shortcut">-->
                    <!--<i class="shortcut-icon icon-list-alt"></i><span class="shortcut-label">Apps</span>-->
                    <!--</a><a href="javascript:;" class="shortcut">-->
                    <!--<i class="shortcut-icon icon-bookmark"></i><span class="shortcut-label">Bookmarks</span>-->
                    <!--</a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-signal"></i> <span class="shortcut-label">Reports</span> </a><a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-comment"></i><span class="shortcut-label">Comments</span> </a><a href="javascript:;" class="shortcut">-->
                    <!--<i class="shortcut-icon icon-user"></i><span class="shortcut-label">Users</span>-->
                    <!--</a><a href="javascript:;" class="shortcut">-->
                    <!--<i class="shortcut-icon icon-file"></i><span class="shortcut-label">Notes</span>-->
                    <!--</a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-picture"></i> <span class="shortcut-label">Photos</span> </a><a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-tag"></i><span class="shortcut-label">Tags</span> </a>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /shortcuts &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /widget-content &ndash;&gt;-->
                    <!--</div>-->
                    <!-- /widget -->
                    <!--<div class="widget">-->
                    <!--<div class="widget-header">-->
                    <!--<i class="icon-signal"></i>-->
                    <!--<h3> Area Chart Example</h3>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /widget-header &ndash;&gt;-->
                    <!--<div class="widget-content">-->
                    <!--<canvas id="area-chart" class="chart-holder" height="250" width="538"> </canvas>-->
                    <!--&lt;!&ndash; /area-chart &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /widget-content &ndash;&gt;-->
                    <!--</div>-->
                    <!-- /widget -->
                    <div class="widget widget-table action-table">
                        <div class="widget-header">
                            <i class="icon-question-sign"></i>
                            <h3>Mentor Requests</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <table class="table table-striped table-bordered">
                                <thead ng-show="user.requests.length > 0">
                                <tr>
                                    <th> Name</th>
                                    <th> Email</th>
                                    <th class="td-actions"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-show="user.requests.length > 0" ng-repeat="req in user.requests">
                                    <td>
                                        <a target="_blank" href="/public/{{req.username}}" ng-bind="req.name"></a>
                                    </td>
                                    <td ng-bind="req.email"></td>
                                    <td class="td-actions">
                                        <a href=""
                                           ng-click="acceptReq(req.note_id, req.name, req.username, req.image_url, req.email, req.is_mentor)"
                                           class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a>
                                        <a href="" ng-click="rejectReq(req.note_id, req.email)"
                                           class="btn btn-danger btn-small"><i
                                                class="btn-icon-only icon-remove"> </i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-hide="user.requests.length > 0">
                                <p style="text-align: center; padding-top: 10px">No current requests</p>
                            </div>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                    <div class="widget widget-nopad">
                        <div class="widget-header">
                            <i class="icon-list-alt"></i>
                            <h3> Recent Posts</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <ul class="news-items">
                                <li ng-repeat="post in user.posts | limitTo: 3: 0">

                                    <div class="news-item-date"><span class="news-item-day" style="font-size:12px"
                                                                      ng-bind="post.dateadded | date"></span></div>
                                    <div class="news-item-detail">
                                        <a href="{{post.link}}" class="news-item-preview" target="_blank"
                                           ng-bind="post.body"></a>
                                    </div>
                                </li>
                            </ul>
                            <div ng-hide="user.posts.length > 0">
                                <p style="text-align: center; padding-top: 10px">No current posts</p>
                            </div>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<!-- /main -->

<!-- /extra -->
<div class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="span12"> &copy; 2017 <a href="/" style="font-family: pacifico,cursive;font-weight: 500;">Talent&mentors</a>.
                </div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /footer-inner -->
</div>
<!-- /footer -->
<!-- Le javascript
================================================== --
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="/static/js/jquery.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="/static/admin/js/excanvas.min.js"></script>
<script src="/static/admin/js/chart.min.js" type="text/javascript"></script>
<!--<script src="/static/admin/js/bootstrap.js"></script>-->
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/admin/js/full-calendar/fullcalendar.min.js"></script>
<script src="/static/admin/js/base.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-route.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-animate.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-resource.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/date-picker.min.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script src="/static/js/pouchdb.js"></script>
<script src="/static/js/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-aria.min.js"></script>
<script src="/static/js/angular-messages.min.js"></script>
<script src="/static/js/angular-material.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
</body>
</html>
