
@font-face {
    font-family: Helvetica;
    src: url('Helvetica-Black.otf') format('embedded-opentype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Helvetica;
    src: url('HelveticaBold.ttf') format('embedded-opentype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: Helvetica;
    src: url('Helvetica-Narrow.otf') format('embedded-opentype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Helvetica;
    src: url('Helvetica-Normal.ttf') format('embedded-opentype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
     font-family: Helvetica;
     src: url('Helvetica-Light.otf') format('embedded-opentype');
     font-style: normal;
     font-weight: 400;
 }

@font-face {
     font-family: pacifico;
     src: url('pacifico/Pacifico.ttf');
     font-style: normal;
     font-weight: 400;
 }

