<!doctype html>
<html class="no-js" lang="" ng-app="primeApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-signin-client_id"
          content="287893726188-1q4dve1oqtdr5v44ujpj7ma410m6e5qg.apps.googleusercontent.com">
    <title>About | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/animate.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
</head>
<body ng-app="primeApp" ng-controller="AppController">

<!--<div ng-view></div>-->

<div ui-view class="clearfix">
    <!--<div class="loader loader-default is-active" data-text></div>-->
    <header>
        <div class="top-section">
            <div class="main-wrapper clearfix">
                <div class="logo">
                    <a href="/">Talents&Mentors</a>
                </div>
                <div class="search-section clearfix">

            <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
                    <form method="get" action="/search">
                        <button type="submit" class="hidden-sm hidden-xs"
                                style="float: right; background-color: #3c763d" data-rippleria><i class="fa fa-search"
                                                                                                  aria-hidden="true"></i>
                        </button>
                        <div class="search clearfix hidden-sm hidden-xs" style="float: right;">
                            <div class="form">
                                <input style="color: black" type="text" name="q" id="q" ng-model="search_q"
                                       placeholder="Search for people, Jobs, Companies and more...">
                    </form>
                </div>
            </div>
        </div>
</div>
</div>
<div class="bottom-section hidden-sm hidden-xs">
    <div class="main-wrapper clearfix">
        <ul class="left">
            <li class="has-drop-down">
                <a href="">Community</a>
                <div class="drop-down bottom-nav">
                    <div class="content clearfix">
                        <a href="/mentors">
                            <div class="description">
                                <div class="cont">
                                    Mentors
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/talents">
                            <div class="description">
                                <div class="cont">
                                    Talents
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/groups">
                            <div class="description">
                                <div class="cont">
                                    Groups
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/community">
                            <div class="description">
                                <div class="cont">
                                    Add New
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/search">
                            <div class="description">
                                <div class="cont">
                                    Find Mentors/Talents
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </li>
            <li>
                <a href="/jobs">Jobs</a>
            </li>
        </ul>
    </div>
</div>
<div id="menu" class="collapse menu-links hidden-md hidden-lg" style="">
    <ul>
        <li>
            <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
            <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
            <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
            <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
            <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
            <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
            <a href="/logout"><i class="fa fa-close"></i>&nbsp;Sign Out</a>
        </li>
    </ul>
</div>
</header>

<div id="main">
    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <div id="landing">
        <!-- Opportunity section -->
        <section class="opportunity" style="">
            <div class="main-wrapper clearfix">
                <div>
                    <div class="col-md-12">
                        <h3 class="title">About Us</h3>
                        <p class="sub-title text-center" style="margin-top: -40px">Welcome to Talents&Mentors, the
                            world's largest professional mentoring network.</p>
                    </div>
                </div>
                <div class="text-center hidden-sm hidden-xs"><img src="/static/images/mission.jpg"></div>
                <div class="col-md-6">
                    <div class="opportunity-tab clearfix">
                        <div class="content-section">
                            <h3><strong>Mission</strong></h3>
                            <p class="text-justify">Our mission is simple: To close the gap between mentees and mentors
                                and improve the
                                quantity and quality of mentoring relationships for young people and professionals
                                helping

                                them to plan and make great career choices and avoid common mistakes and become models,

                                successful and more productive.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="opportunity-tab clearfix">
                        <div class="content-section">
                            <h3><strong>Company Info</strong></h3>
                            <p class="text-justify">Talents&Mentors was birthed out the dearth in the quality and
                                quantity of mentors, who

                                traditionally are supposed to guide the young professionals and students in making life
                                career

                                decisions. This idea was initiated by Akeem Mustapha in Lagos, Nigeria and officially

                                launched on 5 th May, 2016.

                                Akeem Mustapha is the CEO, and the company&#39;s management team is made up of seasoned

                                executives from top companies in Nigeria.

                                For more information about our company, please visit our Company Page.

                                For more information about our Products &amp; Services, visit our Products &amp;
                                Services page.

                                For more information, please visit our Press Center. Members of the media may direct

                                inquiries to info@Talents&Mentors.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of opportunity section -->

        <!-- Footer section -->
        <footer class="clearfix">
            <div class="main-wrapper">
                <div class="">
                    <div class="col-md-4">
                        <div class="logo-section">
                            <a href="/">Talents&Mentors</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="link-section">
                            <ul>
                                <li>
                                    <a href="">
                                        Privacy
                                    </a>
                                </li>
                                <li>
                                    <a href="/about">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Terms Of Service
                                    </a>
                                </li>
                                <li>
                                    <a href="/guide"> Guide on Becoming A Mentor</a>
                                </li>
                                <li>
                                    <a href="/register">
                                        SignUp
                                    </a>
                                </li>
                                <li>
                                    <a href="/login">
                                        Login
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of footer section -->
    </div>
</div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/date-picker.min.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-aria.min.js"></script>
<script src="/static/js/angular-messages.min.js"></script>
<script src="/static/js/angular-material.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>