<!doctype html>
<html class="no-js" lang="" ng-app="primeApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-signin-client_id"
          content="287893726188-1q4dve1oqtdr5v44ujpj7ma410m6e5qg.apps.googleusercontent.com">
    <title>Terms of Use | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/animate.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
</head>
<body ng-app="primeApp" ng-controller="AppController">

<!--<div ng-view></div>-->

<div ui-view class="clearfix">
    <!--<div class="loader loader-default is-active" data-text></div>-->
    <header>
        <div class="top-section">
            <div class="main-wrapper clearfix">
                <div class="logo">
                    <a href="/">Talents&Mentors</a>
                </div>
                <div class="search-section clearfix">

            <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
                    <form method="get" action="/search">
                        <button type="submit" class="hidden-sm hidden-xs"
                                style="float: right; background-color: #3c763d" data-rippleria><i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                        <div class="search clearfix hidden-sm hidden-xs" style="float: right;">
                            <div class="form">
                                <input style="color: black" type="text" name="q" id="q" ng-model="search_q"
                                       placeholder="Search for people, Jobs, Companies and more...">
                    </form>
                </div>
            </div>
        </div>
</div>
</div>
<div class="bottom-section hidden-sm hidden-xs">
    <div class="main-wrapper clearfix">
        <ul class="left">
            <li class="has-drop-down">
                <a href="">Community</a>
                <div class="drop-down bottom-nav">
                    <div class="content clearfix">
                        <a href="/mentors">
                            <div class="description">
                                <div class="cont">
                                    Mentors
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/talents">
                            <div class="description">
                                <div class="cont">
                                    Talents
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/groups">
                            <div class="description">
                                <div class="cont">
                                    Groups
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/community">
                            <div class="description">
                                <div class="cont">
                                    Add New
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/search">
                            <div class="description">
                                <div class="cont">
                                    Find Mentors/Talents
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </li>
            <li>
                <a href="/jobs">Jobs</a>
            </li>
        </ul>
        <!-- <ul class="right">
            <li>
                <a href="">Profile</a>
            </li>
        </ul> -->
    </div>
</div>
</header>
<div id="menu" class="collapse menu-links hidden-md hidden-lg" style="margin-top:5em;">
    <ul>
        <li>
            <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
            <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
            <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
            <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
            <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
            <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
        </li>
    </ul>
</div>

<div id="main">
    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <div id="landing">
        <!-- Opportunity section -->
        <section class="opportunity" style="margin-top: -50px">
            <div class="main-wrapper clearfix">
                <div class="col-md-12">
                    <h3 class="text-center" style="font-size: 35px"><strong>User Agreement</strong></h3>
                </div>
                <div class="text-center"><img src="/static/images/cond.jpg"></div>
                <p class="text-justify">Welcome, and thanks for using Talents&Mentors.com, Talents&Mentors services and apps! When you use our products and services, you're agreeing to our terms, so please take a few minutes to read over the User Agreement below.
                    Note: You are entering into a legally binding agreement.</p>
                <div class="content-section text-justify">
                    <h3><strong>1. Introduction</strong></h3>
                    <p>We are a social network and online platform for professionals.</p>
                    <h4><strong>1.1 Purpose</strong></h4>
                    <p>Our mission is simple: To close the gap between mentees and mentors and improve the
                        quantity and quality of mentoring relationships for young people and professionals helping

                        them to plan and make great career choices and avoid common mistakes and become models,

                        successful and more productive.</p>
                    <h4><strong>1.2. Agreement</strong></h4>
                    <p>When you use our Services, you are entering into a legal agreement and you agree to all of these terms.
                        You also agree to our <a href="/policy">Privacy Policy</a>, which covers how we collect, use, share, and store your personal information.
                        You agree that by clicking “Join Now” “Join Talents&Mentors”, “Sign Up” or similar, registering, accessing or using our services (including our related mobile apps, developer platforms, premium services, or any content or information provided as part of these services, collectively, “Services”), you are entering into a legally binding agreement (even if you are using our Services on behalf of a company).
                        This “Agreement” includes this User Agreement and the Privacy Policy, and other terms that will be displayed to you at the time you first use certain features (such as starting a “Group or Community,” downloading one of our software applications or purchasing advertisements), as may be amended by Talents&Mentors from time to time. If you do not agree to this Agreement, do NOT click “Join Now” (or similar) and do not access or otherwise use any of our Services.
                        Registered users of our Services are “Members” and unregistered users are “Visitors”. This Agreement applies to both.</p><br>
                    <h3><strong>2. Obligations</strong></h3>
                    <h4><strong>2.1. Service Eligibility</strong></h4>
                    <p>Here are some promises you make to us in this Agreement:
                        You're eligible to enter into this Agreement and you are at least our “Minimum Age.”
                        To use the Services, you agree that: (1) you must be the “Minimum Age” (defined below) or older; (2) you will only have one Talents&Mentors account, which must be in your real name; and (3) you are not already restricted by Talents&Mentors from using the Services.
                        “Minimum Age” means (a) 18 years old for the Federal Republic of Nigeria, (b) 16 years old for the Netherlands, (c) 14 years old for the United States, Canada, Germany, Spain, Australia and South Korea, and (d) 13 years old for all other countries. However, if law requires that you must be older in order for Talents&Mentors to lawfully provide the Services to you (including the collection, storage and use of your information) then the Minimum Age is such older age.
                        The Services are not for use by anyone under the age of 13.</p>
                    <h4><strong>2.2. Your Membership</strong></h4>
                    <p>You'll keep your password a secret.
                        You will not share an account with anyone else and will follow our rules and the law.
                        As between you and others, your account belongs to you. You agree to: (1) try to choose a strong and secure password; (2) keep your password secure and confidential; (3) not transfer any part of your account (e.g., connections, groups) and (4) follow the law and the Dos and Don'ts below.
                        You are responsible for anything that happens through your account unless you close it or report misuse.</p>
                    <h4><strong>2.3 Payment</strong></h4>
                    <p>You'll honor your payment obligations and you are okay with us storing your payment information. Also, there may be fees and taxes that are added to our prices.
                        We don't guarantee refunds.
                        If you purchase any of our paid Services (“Premium Services”), you agree to pay us the applicable fees and taxes. Failure to pay these fees may result in the termination of your subscription. Also:
                    </p>
                    <ul>
                        <li>Your purchase may be subject to foreign exchange fees or differences in prices based on location (e.g. exchange rates).</li>
                        <li>You authorize us to store and continue billing your payment method (e.g. credit card) even after it has expired, to avoid interruptions in your service (e.g. subscriptions) and to facilitate easy payment for new services.</li>
                        <li>You must pay us for applicable fees and taxes unless you cancel the Premium Service, in which case you agree to still pay these fees through the end of the applicable subscription period. Learn how to cancel or change your Premium Services and read about Talents&Mentors's refund policy.</li>
                        <li>Taxes are calculated based on the billing information that you provide us at the time of purchase.</li>
                    </ul>
                    <h4><strong>2.4. Notices and Service Messages</strong></h4>
                    <p>You're okay with us using our websites, mobile apps, and email to provide you with important notices. This Agreement applies to mobile applications as well. Also, you agree certain additional information can be shared with us.
                        If the contact information you provide isn't up to date, you may miss out on these notices.
                        You agree that we may provide notices to you in the following ways: (1) a banner notice on the Service, or (2) an email sent to an address you provided, or (3) through other means including mobile number, telephone, or mail. You agree to keep your contact information up to date.
                        Please review your Talents&Mentors.com settings to control and limit what kind of messages you receive from us.</p>
                    <h4><strong>2.5. Messages and Sharing</strong></h4>
                    <p>When you share information, others can see, copy and use that information.
                        Our Services allow messaging and sharing of information in many ways, such as your profile, slide deck, links to news articles, job postings, Mails and blogs. Information and content that you share or post may be seen by other Members or, if public, by Visitors. Where we have made settings available, we will honor the choices you make about who can see content or information (e.g., sharing to a group or community instead of your network, changing the default setting for Talents&Mentors content from public to a more restricted view, limiting your profile visibility, or not letting people know when you change your profile, make recommendations or follow companies). Note that other activities, such as applying for a job, or sending an Mail, are by default private, only visible to the addressee(s).
                        We are not obligated to publish any information or content on our Service and can remove it in our sole discretion, with or without notice.</p>
                    <br>
                    <h3><strong>3. Rights and Limits</strong></h3>
                    <h4><strong>3.1. Your License to Talents&Mentors</strong></h4>
                    <p>You own all of the content, feedback, and personal information you provide to us, but you also grant us a non-exclusive license to it.
                        We'll honor the choices you make about who gets to see your information and content.
                        You promise to only provide information and content that you have the right to share, and that your Talents&Mentors profile will be truthful.
                        As between you and Talents&Mentors, you own the content and information that you submit or
                        post to the Services and you are only granting Talents&Mentors the following non-exclusive license:
                        A worldwide, transferable and sub-licensable right to use, copy, modify, distribute, publish, and process, information and content that you provide through our Services, without any further consent, notice and/or compensation to you or others. These rights are limited in the following ways:</p>
                    <ol>
                        <li>You can end this license for specific content by deleting such content from the Services, or generally by closing your account, except (a) to the extent you shared it with others as part of the Service and they copied or stored it and (b) for the reasonable time it takes to remove from backup and other systems.</li>
                        <li>We will not include your content in advertisements for the products and services of others (including sponsored content) to others without your separate consent. However, we have the right, without compensation to you or others, to serve ads near your content and information, and your comments on sponsored content may be visible as noted in the Privacy Policy.</li>
                        <li>We will get your consent if we want to give others the right to publish your posts beyond the Service. However, other Members and/or Visitors may access and share your content and information, consistent with your settings and degree of connection with them.</li>
                        <li>While we may edit and make formatting changes to your content (such as translating it, modifying the size, layout or file type or removing metadata), we will not modify the meaning of your expression.</li>
                        <li>Because you own your content and information and we only have non-exclusive rights to it, you may choose to make it available to others, including under the terms of a Creative Commons license.</li>
                    </ol>
                    <p>You agree that we may access, store and use any information that you provide in accordance with the terms of the Privacy Policy and your privacy settings.
                    By submitting suggestions or other feedback regarding our Services to Talents&Mentors, you agree that Talents&Mentors can use and share (but does not have to) such feedback for any purpose without compensation to you.</p>
                    <p>You agree to only provide content or information if that does not violate the law nor anyone's rights (e.g., without violating any intellectual property rights or breaching a contract). You also agree that your profile information will be truthful. Talents&Mentors may be required by law to remove certain information or content in certain countries.</p>
                    <h4><strong>3.2. Service Availability</strong></h4>
                    <p>We may change or discontinue any of our Services. We can't promise to store or keep showing any information and content you've posted.
                        We may change, suspend or end any Service, or change and modify prices prospectively in our discretion. To the extent allowed under law, these changes may be effective upon notice provided to you.
                        Talents&Mentors is not a storage service. You agree that we have no obligation to store, maintain or provide you a copy of any content or information that you or others provide, except to the extent required by applicable law and as noted in Section 3.1 of our Privacy Policy</p>
                    <h4><strong>3.3. Other Content, Sites and apps</strong></h4>
                    <p>When you see or use others' content and information posted on our Services, it's at your own risk.
                        Third parties may offer their own products and services through Talents&Mentors, and we aren't responsible for those third-party activities.
                        By using the Services, you may encounter content or information that might be inaccurate, incomplete, delayed, misleading, illegal, offensive or otherwise harmful. Talents&Mentors generally does not review content provided by our Members. You agree that we are not responsible for third parties' (including other Members') content or information or for any damages as result of your use of or reliance on it.
                        You are responsible for deciding if you want to access or use third party apps or sites that link from our Services. If you allow a third party app or site to authenticate you or connect with your Talents&Mentors account, that app or site can access information on Talents&Mentors related to you and your connections. Third party apps and sites have their own legal terms and privacy policies, and you may be giving others permission to use your information in ways we would not. Except to the limited extent it may be required by applicable law, Talents&Mentors is not responsible for these other sites and apps -- use these at your own risk. Please see Sections 2.6 and 2.7 of the <a href="/policy">Privacy Policy.</a></p>
                    <h4><strong>3.4. Limits</strong></h4>
                    <p>We have the right to limit how you connect and interact on our Services.
                        We're providing you notice about our intellectual property rights.
                        Talents&Mentors reserves the right to limit your use of the Services, including the number of your connections and your ability to contact other Members. Talents&Mentors reserves the right to restrict, suspend, or terminate your account if Talents&Mentors believes that you may be in breach of this Agreement or law or are misusing the Services (e.g. violating any Do and Don'ts).
                        Talents&Mentors reserves all of its intellectual property rights in the Services. For example, Talents&Mentors and “in” logos and other Talents&Mentors trademarks, service marks, graphics, and logos used in connection with Talents&Mentors are trademarks or registered trademarks of Talents&Mentors. Other trademarks and logos used in connection with the Services may be the trademarks of their respective owners.</p>
                    <br>
                    <h3><strong>4. Disclaimer and Limit of Liability</strong></h3>
                    <h4><strong>4.1. No Warranty</strong></h4>
                    <p>This is our disclaimer of legal liability for the quality, safety, or reliability of our Services.
                        TO THE EXTENT ALLOWED UNDER LAW, Talents&Mentors (AND THOSE THAT Talents&Mentors WORKS WITH TO PROVIDE THE SERVICES) (A) DISCLAIM ALL IMPLIED WARRANTIES AND REPRESENTATIONS (E.G. WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY OF DATA, AND NONINFRINGEMENT); (B) DO NOT GUARANTEE THAT THE SERVICES WILL FUNCTION WITHOUT INTERRUPTION OR ERRORS, AND (C) PROVIDE THE SERVICE (INCLUDING CONTENT AND INFORMATION) ON AN “AS IS” AND “AS AVAILABLE” BASIS.
                        SOME LAWS DO NOT ALLOW CERTAIN DISCLAIMERS, SO SOME OR ALL OF THESE DISCLAIMERS MAY NOT APPLY TO YOU.</p>
                    <h4><strong>4.2. Exclusion of Liability</strong></h4>
                    <p>These are the limits of legal liability we may have to you.
                        TO THE EXTENT PERMITTED UNDER LAW (AND UNLESS Talents&Mentors HAS ENTERED INTO A SEPARATE WRITTEN AGREEMENT THAT SUPERSEDES THIS AGREEMENT), Talents&Mentors (AND THOSE THAT Talents&Mentors WORKS WITH TO PROVIDE THE SERVICES) SHALL NOT BE LIABLE TO YOU OR OTHERS FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF DATA, OPPORTUNITIES, REPUTATION, PROFITS OR REVENUES, RELATED TO THE SERVICES (E.G. OFFENSIVE OR DEFAMATORY STATEMENTS, DOWN TIME OR LOSS, USE OR CHANGES TO YOUR INFORMATION OR CONTENT).
                        IN NO EVENT SHALL THE LIABILITY OF Talents&Mentors (AND THOSE THAT Talents&Mentors WORKS WITH TO PROVIDE THE SERVICES) EXCEED, IN THE AGGREGATE FOR ALL CLAIMS, AN AMOUNT THAT IS THE LESSER OF (A) FIVE TIMES THE MOST RECENT MONTHLY OR YEARLY FEE THAT YOU PAID FOR A PREMIUM SERVICE, IF ANY, OR (B) US $1000.</p>
                    <p>THIS LIMITATION OF LIABILITY IS PART OF THE BASIS OF THE BARGAIN BETWEEN YOU AND Talents&Mentors AND SHALL APPLY TO ALL CLAIMS OF LIABILITY (E.G. WARRANTY, TORT, NEGLIGENCE, CONTRACT, LAW) AND EVEN IF Talents&Mentors HAS BEEN TOLD OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF THESE REMEDIES FAIL THEIR ESSENTIAL PURPOSE.
                        SOME LAWS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY, SO THESE LIMITS MAY NOT APPLY TO YOU.</p><br>
                    <h3><strong>5. Termination</strong></h3>
                    <p>We can each end this Agreement anytime we want.
                        Talents&Mentors or You may terminate this Agreement at any time with notice to the other. On termination, you lose the right to access or use the Services. The following shall survive termination:</p>
                    <ul>
                        <li>Our rights to use and disclose your feedback;</li>
                        <li>Members' and/or Visitors' rights to further re-share content and information you shared through the Service to the extent copied or re-shared prior to termination;</li>
                        <li>Sections 4, 6 and 7 of this Agreement;</li>
                        <li>Any amounts owed by either party prior to termination remain owed after termination.</li>
                    </ul>
                    <p>You can visit our Help Center to learn how to close your Talents&Mentors account.</p><br>
                    <h3><strong>6. Dispute Resolution</strong></h3>
                    <p>In the unlikely event we end up in a legal dispute, it will take place in Nigeria, applying Nigeria law.
                        You agree that the laws of Nigeria., excluding its conflict of laws rules, shall exclusively govern any dispute relating to this Agreement and/or the Services. We both agree that all of these claims can only be litigated in the federal or state courts of Nigeria, and we each agree to personal jurisdiction in those courts.</p>
                    <br>
                    <h3><strong>7. General Terms</strong></h3>
                    <p>Here are some important details about how to read the Agreement.
                        If a court with authority over this Agreement finds any part of it not enforceable, you and us agree that the court should modify the terms to make that part enforceable while still achieving its intent. If the court cannot do that, you and us agree to ask the court to remove that unenforceable part and still enforce the rest of this Agreement. To the extent allowed by law, the English version of this Agreement is binding and other translations are for convenience only. This Agreement (including additional terms that may be provided by us when you engage with a feature of the Services) is the only agreement between us regarding the Services and supersedes all prior agreements for the Services.
                        If we don't act to enforce a breach of this Agreement, that does not mean that Talents&Mentors has waived its right to enforce this Agreement. You may not assign or transfer this Agreement (or your membership or use of Services) to anyone without our consent. However, you agree that Talents&Mentors may assign this Agreement to its affiliates or a party that buys it without your consent. There are no third party beneficiaries to this Agreement.
                        We reserve the right to change the terms of this Agreement and will provide you notice if we do and we agree that changes cannot be retroactive. If you don't agree to these changes, you must stop using the Services.
                        You agree that the only way to provide us legal notice is at the addresses provided in Section 10.</p>
                    <br>
                    <h3><strong>8. Talents&Mentors “DOs” and “DON’Ts.”</strong></h3>
                    <h4><strong>8.1. Dos. You agree that you will:</strong></h4>
                    <ul>
                        <li>Comply with all applicable laws, including, without limitation, privacy laws, intellectual property laws, anti-spam laws, export control laws, tax laws, and regulatory requirements;</li>
                        <li>Provide accurate information to us and keep it updated;</li>
                        <li>Use your real name on your profile;</li>
                        <li>Use the Services in a professional manner.</li>
                    </ul>
                    <h4><strong>8.2. Don'ts. You agree that you will not:</strong></h4>
                    <ul>
                        <li>Act dishonestly or unprofessionally, including by posting inappropriate, inaccurate, or objectionable content;</li>
                        <li>Add content that is not intended for, or inaccurate for, a designated field (e.g. submitting a telephone number in the “title” or any other field, or including telephone numbers, email addresses, street addresses or any personally identifiable information for which there is not a field provided by Talents&Mentors);</li>
                        <li>Use an image that is not your likeness or a head-shot photo for your profile;</li>
                        <li>Create a false identity on Talents&Mentors;</li>
                        <li>Misrepresent your current or previous positions and qualifications;</li>
                        <li>Misrepresent your affiliations with a person or entity, past or present;</li>
                        <li>Misrepresent your identity, including but not limited to the use of a pseudonym;</li>
                        <li>Create a Member profile for anyone other than yourself (a real person);</li>
                        <li>Invite people you do not know to join your network;</li>
                        <li>Use or attempt to use another's account;</li>
                        <li>Harass, abuse or harm another person;</li>
                        <li>Send spam or other unwelcomed communications to others;</li>
                        <li>Scrape or copy profiles and information of others through any means (including crawlers, browser plugins and add-ons, and any other technology or manual work);</li>
                        <li>Act in an unlawful, libelous, abusive, obscene, discriminatory or otherwise objectionable manner;</li>
                        <li>Disclose information that you do not have the right to disclose (such as confidential information of others (including your employer));</li>
                        <li>Violate intellectual property rights of others, including patents, trademarks, trade secrets, copyrights or other proprietary rights;</li>
                        <li>Violate the intellectual property or other rights of Talents&Mentors, including, without limitation, using the word “Talents&Mentors” or our logos in any business name, email, or URL except as provided in the Brand Guidelines;</li>
                        <li>Use Talents&Mentors invitations to send messages to people who don't know you or who are unlikely to recognize you as a known contact;</li>
                        <li>Post any unsolicited or unauthorized advertising, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” or any other form of solicitation unauthorized by Talents&Mentors;</li>
                        <li>Send messages to distribution lists, newsgroup aliases, or group aliases;</li>
                        <li>Post anything that contains software viruses, worms, or any other harmful code;</li>
                        <li>Manipulate identifiers in order to disguise the origin of any message or post transmitted through the Services;</li>
                        <li>Create profiles or provide content that promotes escort services or prostitution.</li>
                        <li>Creating or operate a pyramid scheme, fraud or other similar practice;</li>
                        <li>Copy or use the information, content or data of others available on the Services (except as expressly authorized);</li>
                        <li>Copy or use the information, content or data on Talents&Mentors in connection with a competitive service (as determined by Talents&Mentors);</li>
                        <li>Copy, modify or create derivative works of Talents&Mentors, the Services or any related technology (except as expressly authorized by Talents&Mentors);</li>
                        <li>Reverse engineer, decompile, disassemble, decipher or otherwise attempt to derive the source code for the Services or any related technology, or any part thereof;</li>
                        <li>Imply or state that you are affiliated with or endorsed by Talents&Mentors without our express consent (e.g., representing yourself as an accredited Talents&Mentors trainer);</li>
                        <li>Rent, lease, loan, trade, sell/re-sell access to the Services or related any information or data;</li>
                        <li>Sell, sponsor, or otherwise monetize a Talents&Mentors Group or any other feature of the Services, without Talents&Mentors's consent;</li>
                        <li>Deep-link to our Services for any purpose other than to promote your profile or a Group on Talents&Mentors (as set forth in the Brand Guidelines), without Talents&Mentors's consent;</li>
                        <li>Remove any copyright, trademark or other proprietary rights notices contained in or on our Service;</li>
                        <li>Remove, cover or obscure any advertisement included on the Services;</li>
                        <li>Collect, use, copy, or transfer any information obtained from Talents&Mentors without the consent of Talents&Mentors;</li>
                        <li>Share or disclose information of others without their express consent;</li>
                        <li>Use manual or automated software, devices, scripts robots, other means or processes to access, “scrape,” “crawl” or “spider” the Services or any related data or information;</li>
                        <li>Use bots or other automated methods to access the Services, add or download contacts, send or redirect messages;</li>
                        <li>Monitor the Services' availability, performance or functionality for any competitive purpose;</li>
                        <li>Engage in “framing,” “mirroring,” or otherwise simulating the appearance or function of the Services;</li>
                        <li>Access the Services except through the interfaces expressly provided by Talents&Mentors, such as its mobile applications, Talents&Mentors.com;</li>
                        <li>Override any security feature of the Services;</li>
                        <li>Interfere with the operation of, or place an unreasonable load on, the Services (e.g., spam, denial of service attack, viruses, gaming algorithms); and/or</li>
                    </ul>
                    <br>
                    <h3><strong>9. Complaints Regarding Content</strong></h3>
                    <p>We respect the intellectual property rights of others. We require that information posted by Members be accurate and not in violation of the intellectual property rights or other rights of third parties. We provide a policy and process for complaints concerning content posted by our Members.</p>
                </div>
            </div>
        </section>
        <!-- End of opportunity section -->

        <!-- Footer section -->
        <footer class="clearfix">
            <div class="main-wrapper">
                <div class="">
                    <div class="col-md-4">
                        <div class="logo-section">
                            <a href="/">Talents&Mentors</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="link-section">
                            <ul>
                                <li>
                                    <a href="/policy">
                                        Privacy
                                    </a>
                                </li>
                                <li>
                                    <a href="/about">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="/agreement">
                                        Terms Of Service
                                    </a>
                                </li>
                                <li>
                                    <a href="/register">
                                        SignUp
                                    </a>
                                </li>
                                <li>
                                    <a href="/login">
                                        Login
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of footer section -->
    </div>
</div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/date-picker.min.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-aria.min.js"></script>
<script src="/static/js/angular-messages.min.js"></script>
<script src="/static/js/angular-material.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>