<!doctype html>
<html class="no-js" lang="" ng-app="primeApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-signin-client_id"
          content="287893726188-1q4dve1oqtdr5v44ujpj7ma410m6e5qg.apps.googleusercontent.com">
    <title>Mentor Guide | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/animate.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
</head>
<body ng-app="primeApp" ng-controller="AppController">

<!--<div ng-view></div>-->

<div ui-view class="clearfix">
    <!--<div class="loader loader-default is-active" data-text></div>-->
    <header>
        <div class="top-section">
            <div class="main-wrapper clearfix">
                <div class="logo">
                    <a href="/">Talents&Mentors</a>
                </div>
                <div class="search-section clearfix">

            <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
                    <form method="get" action="/search">
                        <button type="submit" class="hidden-sm hidden-xs"
                                style="float: right; background-color: #3c763d" data-rippleria><i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                        <div class="search clearfix hidden-sm hidden-xs" style="float: right;">
                            <div class="form">
                                <input style="color: black" type="text" name="q" id="q" ng-model="search_q"
                                       placeholder="Search for people, Jobs, Companies and more...">
                    </form>
                </div>
            </div>
        </div>
</div>
</div>
<div class="bottom-section hidden-sm hidden-xs">
    <div class="main-wrapper clearfix">
        <ul class="left">
            <li class="has-drop-down">
                <a href="">Community</a>
                <div class="drop-down bottom-nav">
                    <div class="content clearfix">
                        <a href="/mentors">
                            <div class="description">
                                <div class="cont">
                                    Mentors
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/talents">
                            <div class="description">
                                <div class="cont">
                                    Talents
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/groups">
                            <div class="description">
                                <div class="cont">
                                    Groups
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/community">
                            <div class="description">
                                <div class="cont">
                                    Add New
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/search">
                            <div class="description">
                                <div class="cont">
                                    Find Mentors/Talents
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </li>
            <li>
                <a href="/jobs">Jobs</a>
            </li>
        </ul>
        <!-- <ul class="right">
            <li>
                <a href="">Profile</a>
            </li>
        </ul> -->
    </div>
</div>
</header>
<div id="menu" class="collapse menu-links hidden-md hidden-lg" style="margin-top:5em;">
    <ul>
        <li>
            <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
            <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
            <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
            <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
            <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
            <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
        </li>
    </ul>
</div>

<div id="main">
    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <div id="landing">
        <!-- Opportunity section -->
        <section class="opportunity">
            <div class="main-wrapper clearfix">
                <div>
                    <div class="col-md-12">
                        <h3 class="title">Mentor Guide</h3>
                    </div>
                </div>
                <div class="content-section">
                    <h3><strong>WHAT MENTORING IS</strong></h3>
                    <p class="text-justify">"Mentoring is to support and encourage people to manage their own learning in order that they may maximise their potential, develop their skills, improve their performance and become the person they want to be." Eric Parsloe, The Oxford School of Coaching & Mentoring. Unlike a management relationship, mentoring relationships tend to be voluntary on both sides, mentoring relationships are more usually unpaid.</p>
                    <p class="text-justify">The idea behind mentoring relationships is a semi-charitable one: that the more successful, senior partner, the Mentor, wishes to pass on some of what theyâ€™ve learned to someone else who will benefit from their experience.
                        Mentoring is a highly valuable development activity. At the core of the activity is the relationship between the Mentor and the Talent, where the development of the Talent is the key focus.</p>
                    <p class="text-justify">The development needs satisfied through the relationship can vary in focus from guidance on settling into a new organisation, performance improvement to career management. The main point with mentoring is that the focus is determined by the Talent. They must lead in identifying issues and, with guidance from the mentor, resolving them. The mentor is not there to provide â€˜the answersâ€™, but to guide the Talent towards â€˜the answerâ€™ that is right for them.
                        The mentoring relationship can be both short and long term. It may develop to focus on a particular issue or it may be one that lasts for years covering a range of issues. Typically, the Mentor and Talent meet at designated times and places to discuss issues; make plans to resolve and then review. The formal vs. informal nature of the sessions is down to those involved, however each session must have a purpose.</p>
                </div>
                <div class="content-section">
                    <h3><strong>WHY CHOOSE TO BE A MENTOR</strong></h3>
                    <p class="text-justify">Engaging in a mentoring relationship is beneficial for Mentor and Talent as well. The specific benefits for the Mentor are:</p>
                    <ol>
                        <li>Broadening of skills and knowledge</li>
                        <li>Provision of a new dimension to current profession</li>
                        <li>Can increase personal and professional networks</li>
                        <li>Seeing others develop from your experience(s)</li>
                    </ol>
                </div>
                <div class="content-section">
                    <h3><strong>SHOULD I BECOME A MENTOR</strong></h3>
                    <p class="text-justify">The decision to become a mentor is not one that should be taken lightly. Being a mentor for someone is a rewarding and valuable role to take on, however before agreeing you must understand the skills & qualities required to be a mentor and what the role will involve.</p>
                    <h5><strong>Skills and Qualities of a Mentor</strong></h5>
                    <p class="text-justify">It is important that those that agree to become Mentors have the right skills and qualities to make the relationship work. As such below is a basic list of the skills a Mentor should have. You are encouraged to review these and evaluate yourself before agreeing to become a mentor.</p>
                    <ol>
                        <li>Interested in being a mentor â€“ if asked to become a mentor you must think carefully whether you actually want to do it, you can say No.</li>
                        <li>Available time â€“ mentoring will require a time commitment so look at your existing time commitments and truly evaluate whether you can spare the time </li>
                        <li>Appropriate knowledge and skills â€“ you should be involved in a similar field to
                            that of the Talent in order than you can provide guidance from an
                            understanding of the area they are working</li>
                        <li>Listening skills â€“ are you able to actively listen to others, not interrupting but
                            listening and reflecting back what the Talent is saying</li>
                        <li>Patient and supportive â€“ as the relationship is led by the mentee you will need
                            to be prepared to support them towards achieving their goals. You need to let them reach conclusions at their own pace and not impose your views or suggestions.</li>
                        <li>Trustworthy â€“ the issues discussed during mentoring sessions must be treated in the strictest of confidence and therefore the Talent needs to believe that they can trust you.</li>
                    </ol>
                </div>
                <div class="content-section">
                    <h3><strong>Role of a Mentor</strong></h3>
                    <p class="text-justify">As a Mentor you will be viewed as a more experienced Professional who is willing and able to pass on the benefit of that experience. However, your role is not simply to â€˜tellâ€™ the Talent what to do, the role of the mentor is to:</p>
                    <ul>
                        <li>Listen and be supportive</li>
                        <li>Provide non-judgmental support</li>
                        <li>Provide guidance on issues raised</li>
                        <li>Clarify goals of Talent</li>
                        <li>Pass on knowledge and experience</li>
                    </ul>
                </div>
                <div class="content-section">
                    <h3><strong>How to get Started</strong></h3>
                    <p class="text-justify">Once you have agreed to be a Mentor, you need to agree with the Talent how the relationship will work. This should ideally be done at the beginning of the first meeting. There is no need to formalise the arrangement by drawing up a contract, but there are key issues that need to be discussed and agreed. Below is a suggested list of the topics to include in the discussion:</p>
                    <ul>
                        <li>Meetings</li>
                        <li>Frequency and length</li>
                        <li>Location</li>
                        <li>Formal vs. Informal</li>
                        <li>Who and how will outcomes/action plans be recorded?
                            <ol>
                                <li>How will communication outside of meetings be dealt with; method, turnaround, frequency etc.?</li>
                                <li>Are there any issues that will not be discussed?</li>
                                <li>Are there any limits on confidentiality? Are the contents of the meetings to be
                                    kept confidential or can they be discussed with outside parties?</li>
                            </ol>
                        </li>
                    </ul>
                </div>
                <div class="content-section">
                    <h3><strong>Recommended 3 Stage Approach</strong></h3>
                    <p class="text-justify">An effective mentoring relationship has been shown to move through 3 stages. Each stage builds on the learning from the previous and within each stage there are responsibilities for both the Mentor and Talent.</p>
                    <h5><strong>Stage 1 â€“ Exploration</strong></h5>
                    <p>During the first stage of the process your role as a Mentor is to provide information, when requested by the Talent, and to ask probing questions to help the Talent make judgments. </p>
                    <p>It is during this stage that you need to use your â€˜active listeningâ€™ skills. Using good questioning techniques and then recapping, paraphrasing and summarising to try and get to the centre issue being raised. Remember you are there to guide the Talent, not to provide a solution or impose your point of view.</p>
                    <h5><strong>Stage 2 - New Understanding</strong></h5>
                    <p class="text-justify">Having worked through the first stage, the likelihood is that some â€˜new understandingâ€™ will be reached about the issue being discussed. This may be a minor change in viewpoint or a major breakthrough in a persons thinking processes.</p>
                    <p class="text-justify">Regardless of the size or significance of the breakthrough, your role as the Mentor is to reflect back to the mentee what they have learned. You should then guide the Talent through thinking about the implications of potential conclusions.</p>
                    <h5><strong>Stage 3 - Action</strong></h5>
                    <p class="text-justify">If you have successfully reached a new understanding the next stage is to agree what actions should be taken. Again this is not about you as the Mentor telling the Talent what to do. You need to guide the Talent towards identifying actions they can implement.
                        If actions are agreed, you must ensure these are recorded and then monitored through regular review and feedback. </p>
                </div>
            </div>
        </section>
        <!-- End of opportunity section -->

        <!-- Footer section -->
        <footer class="clearfix">
            <div class="main-wrapper">
                <div class="">
                    <div class="col-md-4">
                        <div class="logo-section">
                            <a href="/">Talents&Mentors</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="link-section">
                            <ul>
                                <li>
                                    <a href="">
                                        Privacy
                                    </a>
                                </li>
                                <li>
                                    <a href="/about">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Terms Of Service
                                    </a>
                                </li>
                                <li>
                                    <a href="/guide">
                                        Guide on Becoming A Mentor
                                    </a>
                                </li>
                                <li>
                                    <a href="/register">
                                        SignUp
                                    </a>
                                </li>
                                <li>
                                    <a href="/login">
                                        Login
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of footer section -->
    </div>
</div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>