<header>
    <div class="top-section">
        <div class="main-wrapper clearfix">
            <div class="logo">
                <a href="/">Talents&Mentors</a>
            </div>
            <div class="search-section clearfix">

            <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>

            <button class="hidden-sm hidden-xs" style="float: right;" class="btn-shadow" data-rippleria ><i class="fa fa-search" aria-hidden="true"></i></button>
                <div class="search clearfix hidden-sm hidden-xs" style="float: right;">
                    <!-- <div class="filter">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </div> -->
                    <div class="form">
                        <input type="text" placeholder="Search for people, Jobs, Companies and more...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section hidden-sm hidden-xs">
        <div class="main-wrapper clearfix">
            <ul class="left">
                <li class="has-drop-down">
                    <a href="">Community</a>
                    <div class="drop-down bottom-nav">
                        <div class="content clearfix">
                            <a href="">
                                <div class="description">
                                    <div class="cont">
                                        Mentors
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="">
                                <div class="description">
                                    <div class="cont">
                                        Mentees
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="">
                                <div class="description">
                                    <div class="cont">
                                        Add New
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="">
                                <div class="description">
                                    <div class="cont">
                                        Find Mentors/Mentees
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="">
                                <div class="description">
                                    <div class="cont">
                                         People You May Know
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </li>
                <li>
                    <a href="">Jobs</a>
                </li>
            </ul>
            <!-- <ul class="right">
                <li>
                    <a href="">Profile</a>
                </li>
            </ul> -->
        </div>
    </div>
</header>
<div id="menu" class="collapse menu-links hidden-md hidden-lg" style="margin-top:5em;">
    <ul>
        <li>
            <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
            <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
            <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
            <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
            <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
            <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
        </li>
    </ul>
</div>

<div id="main" ng-controller="mainController">
    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <div id="landing">
        <!-- Banner section -->
        <div class="banner-section" style="background-image: url('images/new.jpg')">
            <div class="overlay">
                <div class="main-wrapper clearfix">
                    <div class="left-info">
                        <div class="logo">
                            Talents&Mentors
                        </div>
                        <div class="caption">The community of young minds and great achievers</div>
                    </div>
                    <div class="right-info hidden-sm hidden-xs">
                        <div class="link-wrap clearfix">
                            <ul>
                                <li>
                                    <a class="clearfix" data-rippleria>
                                        <span class="text">Find a Mentor</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="clearfix" data-rippleria>
                                        <span class="text">Get/Post a Job</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="clearfix" data-rippleria>
                                        <span class="text">Connect with industry peers</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="clearfix" data-rippleria>
                                        <span class="text">Offer Mentoring</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of banner section -->

        <!-- Get started section -->
        <section class="get_started clearfix" style="background-color: #f5f5f5">
            <div class="main-wrapper">
                <div class="col-md-5">
                    <div class="caption-text">
                        Get Started Today
                    </div>
                    <div class="small-caption">
                        Find opportunity that matches you and find professionals who can offer you advice to advance
                        your
                        career, help grow your network, and more.
                    </div>
                </div>
                <div class="col-md-7">
                    <form method="post" ng-submit="getStarted()">
                        <div class="form-section clearfix">
                            <input type="email" ng-model="email" placeholder="Email address" required>
                            <button type="submit" class="btn-shadow" data-rippleria>Get Started</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- End of get started section -->

        <!-- Opportunity section -->
        <section class="opportunity">
            <div class="main-wrapper clearfix">
                <div class="">
                    <div class="col-md-12">
                        <div class="title">Opportunities Are Everywhere!</div>
                    </div>
                </div>
                <div class=" clearfix row-section">
                    <div class="col-md-6">
                        <div class="opportunity-tab clearfix">
                            <div class="image-section"
                                 style="background-image: url('images/placeholder.jpg');"></div>
                            <div class="content-section">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum totam molestias ab eum
                                incidunt non sunt sed tempore, sit delectus, voluptatum exercitationem! Totam quia
                                veritatis omnis dignissimos explicabo, repellendus quae.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 clearfix">
                        <div class="opportunity-tab clearfix">
                            <div class="image-section"
                                 style="background-image: url('images/placeholder.jpg');"></div>
                            <div class="content-section">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum totam molestias ab eum
                                incidunt non sunt sed tempore, sit delectus, voluptatum exercitationem! Totam quia
                                veritatis omnis dignissimos explicabo, repellendus quae.
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" clearfix row-section">
                    <div class="col-md-6">
                        <div class="opportunity-tab clearfix">
                            <div class="image-section"
                                 style="background-image: url('images/placeholder.jpg');"></div>
                            <div class="content-section">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum totam molestias ab eum
                                incidunt non sunt sed tempore, sit delectus, voluptatum exercitationem! Totam quia
                                veritatis omnis dignissimos explicabo, repellendus quae.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 clearfix">
                        <div class="opportunity-tab clearfix">
                            <div class="image-section"
                                 style="background-image: url('images/placeholder.jpg');"></div>
                            <div class="content-section">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum totam molestias ab eum
                                incidunt non sunt sed tempore, sit delectus, voluptatum exercitationem! Totam quia
                                veritatis omnis dignissimos explicabo, repellendus quae.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of opportunity section -->

        <!-- Footer section -->
        <footer class="clearfix">
            <div class="main-wrapper">
                <div class="">
                    <div class="col-md-4">
                        <div class="logo-section">
                            <a ui-sref="home">Talents&Mentors</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="link-section">
                            <ul>
                                <li>
                                    <a href="">
                                        Privacy
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Terms Of Service
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="register">
                                        SignUp
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="login">
                                        Login
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of footer section -->
    </div>
</div>