<!doctype html>
<html class="no-js" lang="" ng-app="primeApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="287893726188-1q4dve1oqtdr5v44ujpj7ma410m6e5qg.apps.googleusercontent.com">
    <title>Welcome | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/animate.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
</head>
<body ng-app="primeApp" ng-controller="AppController">

<!--<div ng-view></div>-->

<div ui-view class="clearfix">
    <!--<div class="loader loader-default is-active" data-text></div>-->
    <header>
        <div class="top-section">
            <div class="main-wrapper clearfix">
                <div class="logo">
                    <a href="/">Talents&Mentors</a>
                </div>
                <div class="search-section clearfix">

            <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
                    <form method="get" action="/search">
                        <button type="submit" class="hidden-sm hidden-xs" style="float: right; background-color: #3c763d" data-rippleria ><i class="fa fa-search" aria-hidden="true"></i></button>
                        <div class="search clearfix hidden-sm hidden-xs" style="float: right;">
                            <div class="form">
                                <input style="color: black" type="text" name="q" id="q" ng-model="search_q" placeholder="Search for people, Jobs, Companies and more...">
                    </form>
                </div>
            </div>
        </div>
</div>
</div>
<div class="bottom-section hidden-sm hidden-xs">
    <div class="main-wrapper clearfix">
        <ul class="left">
            <li class="has-drop-down">
                <a href="">Community</a>
                <div class="drop-down bottom-nav">
                    <div class="content clearfix">
                        <a href="/mentors">
                            <div class="description">
                                <div class="cont">
                                    Mentors
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/talents">
                            <div class="description">
                                <div class="cont">
                                    Talents
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/groups">
                            <div class="description">
                                <div class="cont">
                                    Groups
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/community">
                            <div class="description">
                                <div class="cont">
                                    Add New
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/search">
                            <div class="description">
                                <div class="cont">
                                    Find Mentors/Talents
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </li>
            <li>
                <a href="/jobs">Jobs</a>
            </li>
        </ul>
        <!--<ul class="right">-->
        <!--<li>-->
        <!--<a href="/register">-->
        <!--SignUp-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="/login">-->
        <!--Login-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
    </div>
</div>
<div id="menu" class="collapse menu-links hidden-md hidden-lg">
    <ul>
        <li>
            <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
            <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
            <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
            <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
            <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
            <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
            <a href="/login"><i class="fa fa-user-secret"></i>&nbsp;Sign In</a>
        </li>
    </ul>
</div>
</header>


<div id="main">
    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <div id="landing">
        <!-- Banner section -->
        <div class="banner-section" style="background-image: url('images/new.jpg')">
            <div class="overlay">
                <div class="main-wrapper clearfix">
                    <div class="left-info">
                        <div class="logo">
                            Talents&Mentors
                        </div>
                        <div class="caption">The community of young minds and great achievers</div>
                    </div>
                    <div class="right-info hidden-sm hidden-xs">
                        <div class="link-wrap clearfix">
                            <ul>
                                <li>
                                    <a href="/register" class="clearfix" data-rippleria>
                                        <span class="text">Join Us</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/login" class="clearfix" data-rippleria>
                                        <span class="text">Sign In</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/jobs" class="clearfix" data-rippleria>
                                        <span class="text">Get/Post a Job</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/mentors" class="clearfix" data-rippleria>
                                        <span class="text">Connect with industry peers</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of banner section -->

        <!-- Get started section -->
        <section class="get_started clearfix" style="background-color: #f5f5f5">
            <div class="main-wrapper">
                <div class="col-md-5">
                    <div class="caption-text">
                        Get Started Today
                    </div>
                    <div class="small-caption">
                        Find opportunity that matches you and find professionals who can offer you advice to advance
                        your
                        career, help grow your network, and more.
                    </div>
                </div>
                <div class="col-md-7">
                    <form method="post" ng-submit="getStarted()">
                        <div class="form-section clearfix">
                            <input type="email" ng-model="data.email" name="email" id="email" placeholder="Email address" required>
                            <button type="submit" class="btn-shadow">Get Started</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- End of get started section -->

        <!-- Opportunity section -->
        <section class="opportunity">
            <div class="main-wrapper clearfix">
                <div class="">
                    <div class="col-md-12">
                        <div class="title">Opportunities Are Everywhere!</div>
                    </div>
                </div>
                <div class=" clearfix row-section">
                    <div class="col-md-6">
                        <div class="opportunity-tab clearfix">
                            <div class="image-section"
                                 style="background-image: url('https://s3.amazonaws.com/talents/pexels-photo-256040.jpeg');"></div>
                            <div class="content-section">
                                <h4><strong>Babatunde Adegbite</strong></h4>
                                Joining Talents&Mentors has offered me a lifetime opportunity to learn from professionals in my field
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 clearfix">
                        <div class="opportunity-tab clearfix">
                            <div class="image-section"
                                 style="background-image: url('images/avata.jpg');"></div>
                            <div class="content-section">
                                <h4><strong>Adisa Ahmed</strong></h4>
                                I have Connected with over 10 HSE professionals that have enlightened me on the best possible career improvement techniques
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" clearfix row-section">
                    <div class="col-md-6">
                        <div class="opportunity-tab clearfix">
                            <div class="image-section"
                                 style="background-image: url('images/a.jpg');"></div>
                            <div class="content-section">
                                <h4><strong>Femi Obisesan</strong></h4>
                                Imparting on the lives of young, energetic, promising professionals.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 clearfix">
                        <div class="opportunity-tab clearfix">
                            <div class="image-section"
                                 style="background-image: url('images/job.jpg');"></div>
                            <div class="content-section">
                                <h4><strong>Tola Onawole</strong></h4>
                                Learning from the best everyday.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of opportunity section -->

        <!-- Footer section -->
        <footer class="clearfix">
            <div class="main-wrapper">
                <div class="">
                    <div class="col-md-4">
                        <div class="logo-section">
                            <a href="/">Talents&Mentors</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="link-section">
                            <ul>
                                <li>
                                    <a href="">
                                        Privacy
                                    </a>
                                </li>
                                <li>
                                    <a href="/about">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Terms Of Service
                                    </a>
                                </li>
                                <li>
                                    <a href="/guide">Guide on Becoming A Mentor</a>
                                </li>
                                <li>
                                    <a href="/register">
                                        SignUp
                                    </a>
                                </li>
                                <li>
                                    <a href="/login">
                                        Login
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of footer section -->
    </div>
</div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<script type="text/javascript">
//    (function() {
//        gapi.load('auth2', function () {
//            gapi.auth2.init();
//        });
//    })();
    window.onLoadCallback = function(){
        gapi.load('auth2', function () {
            gapi.auth2.init({
                client_id: '287893726188-1q4dve1oqtdr5v44ujpj7ma410m6e5qg.apps.googleusercontent.com'
            });
        });
    };
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        window.onload = function () {
            angular.element(document.getElementById('main')).scope().googleLogin(profile.getEmail(), profile.getId());
        };
    }
</script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(){})
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>