<!DOCTYPE html>
<html lang="en" ng-app="primeApp">
<head>
    <meta charset="utf-8">
    <title>Notifications | Talents&Mentors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
          rel="stylesheet">
    <link href="/static/admin/css/font-awesome.css" rel="stylesheet">
    <link href="/static/admin/css/style.css" rel="stylesheet">
    <link href="/static/admin/css/pages/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/admin/../../static/css/font/font.css" />
    <link href="/static/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body ng-controller="NotificationController" ng-init="init()">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a><a class="brand" href="index.html" style="font-family: pacifico,cursive;font-weight: 500;">Talents&Mentors</a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>&nbsp;&nbsp; {{user.name}}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/group">My Groups</a></li>
                            <li><a href="/connections">My Connections</a></li>
                            <li><a href="/private/mentors">My Mentors</a></li>
                            <li><a href="/messages">My Messages</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-search pull-right" method="get" action="/search">
                    <input type="text" class="search-query" name="q" id="q" ng-model="search_q"
                           placeholder="Search for people, Jobs, Companies and more..." style="color:black">
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li><a href="/dashboard"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
                <!--<li><a href="/conversations"><i class="icon-comments-alt"></i><span>Conversations</span> </a> </li>-->
                <li><a href="/mentors/talents"><i class="fa fa-users"></i><span>talents</span> </a> </li>
                <li class="active"><a href="/mentors/notifications"><i class="fa fa-bell"></i><span>Notifications</span> </a> </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">

                <!-- /span6 -->
                <div class="span12">
                    <!-- /widget -->
                    <div class="widget widget-nopad">
                        <div class="widget-header">
                            <i style="padding-left: 10px" class="fa fa-bell-o"></i>
                            <h3>Notifications</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <ul class="news-items">
                                <li ng-repeat="note in notifications">
                                    <div class="news-item-detail">
                                        <a href="/notifications/{{note.id}}" class="news-item-title" target="_blank" ng-bind="note.actor"></a>
                                        <small ng-bind="note.subject"></small>
                                        <p class="news-item-preview" ng-bind="note.message"></p>
                                    </div>
                                </li>
                            </ul>
                            <div ng-hide="notifications.length > 0">
                                <p style="text-align: center; padding-top: 10px">No current notifications</p>
                            </div>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<!-- /main -->
<!-- /extra -->
<div class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="span12"> &copy; 2016 <a href="http://www.egrappler.com/" style="font-family: pacifico,cursive;font-weight: 500;">Talent&mentors</a>. </div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /footer-inner -->
</div>
<!-- /footer -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/../static/js/jquery-1.7.2.min.js"></script>
<script src="/../static/admin/js/excanvas.min.js"></script>
<script src="/../static/admin/js/chart.min.js" type="text/javascript"></script>
<script src="/../static/admin/js/bootstrap.js"></script>
<script language="javascript" type="text/javascript" src="/../static/admin/js/full-calendar/fullcalendar.min.js"></script>
<script src="/../static/admin/js/base.js"></script>
<script type="text/javascript" src="/../static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/../static/js/plugins.js"></script>
<script type="text/javascript" src="/../static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/../static/js/date-picker.min.js"></script>
<script type="text/javascript" src="/../static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/../static/js/wow.min.js"></script>
<script type="text/javascript" src="/../static/js/angular-cookie.js"></script>
<script src="/../static/js/angular-facebook.js"></script>
<script src="/../static/js/ng-file-upload.js"></script>
<script src="/../static/js/aws-sdk.min.js"></script>
<script src="/../static/js/summer-note.min.js"></script>
<script src="/../static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/../static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/../static/js/moment.min.js"></script>
<script src="/../static/js/angular-moment.min.js"></script>
<script src="/../static/js/angular-aria.min.js"></script>
<script src="/../static/js/angular-messages.min.js"></script>
<script src="/../static/js/angular-material.min.js"></script>
<script src="/../static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/../static/js/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>
<script src="/../static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/../static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
</body>
</html>
