<!doctype html>
<html class="no-js" lang="" ng-app="primeApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-signin-client_id"
          content="287893726188-1q4dve1oqtdr5v44ujpj7ma410m6e5qg.apps.googleusercontent.com">
    <title>Copyright Policy | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/animate.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
</head>
<body ng-app="primeApp" ng-controller="AppController">

<!--<div ng-view></div>-->

<div ui-view class="clearfix">
    <!--<div class="loader loader-default is-active" data-text></div>-->
    <header>
        <div class="top-section">
            <div class="main-wrapper clearfix">
                <div class="logo">
                    <a href="/">Talents&Mentors</a>
                </div>
                <div class="search-section clearfix">

            <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
                    <form method="get" action="/search">
                        <button type="submit" class="hidden-sm hidden-xs"
                                style="float: right; background-color: #3c763d" data-rippleria><i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                        <div class="search clearfix hidden-sm hidden-xs" style="float: right;">
                            <div class="form">
                                <input style="color: black" type="text" name="q" id="q" ng-model="search_q"
                                       placeholder="Search for people, Jobs, Companies and more...">
                    </form>
                </div>
            </div>
        </div>
</div>
</div>
<div class="bottom-section hidden-sm hidden-xs">
    <div class="main-wrapper clearfix">
        <ul class="left">
            <li class="has-drop-down">
                <a href="">Community</a>
                <div class="drop-down bottom-nav">
                    <div class="content clearfix">
                        <a href="/mentors">
                            <div class="description">
                                <div class="cont">
                                    Mentors
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/talents">
                            <div class="description">
                                <div class="cont">
                                    Talents
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/groups">
                            <div class="description">
                                <div class="cont">
                                    Groups
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/community">
                            <div class="description">
                                <div class="cont">
                                    Add New
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="content clearfix">
                        <a href="/search">
                            <div class="description">
                                <div class="cont">
                                    Find Mentors/Talents
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </li>
            <li>
                <a href="/jobs">Jobs</a>
            </li>
        </ul>
        <!-- <ul class="right">
            <li>
                <a href="">Profile</a>
            </li>
        </ul> -->
    </div>
</div>
</header>
<div id="menu" class="collapse menu-links hidden-md hidden-lg" style="margin-top:5em;">
    <ul>
        <li>
            <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
            <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
            <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
            <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
            <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
            <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
        </li>
    </ul>
</div>

<div id="main">
    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <div id="landing">
        <!-- Opportunity section -->
        <section class="opportunity" style="margin-top: -50px">
            <div class="main-wrapper clearfix">
                <div>
                    <div class="col-md-12">
                        <h3 class="title">Copyright Policy</h3>
                    </div>
                </div>
                <div class="content-section">
                    <h3><strong>Complaints regarding content posted on the Talents&Mentors website</strong></h3>
                    <p class="text-justify">Talents&Mentors respects the intellectual property rights of others and desires to offer a platform which contains no content that violates those rights. Our User Agreement requires that information posted by Members be accurate, lawful and not in violation of the rights of third parties. To promote these objectives, Talents&Mentors provides a process for submission of complaints concerning content posted by our Members. Our policy and procedures are described and/or referenced in the sections that follow.
                        Please note that whether or not we disable access to or remove content, Talents&Mentors may make a good faith attempt to forward the written notification, including the complainant’s contact information, to the Member who posted the content and/or take other reasonable steps to notify the Member that Talents&Mentors has received notice of an alleged violation of intellectual property rights or other content violation. It is also our policy, in appropriate circumstances and in our discretion, to disable and/or terminate the accounts of Members, or groups as the case may be, who infringe or repeatedly infringe the rights of others or otherwise post unlawful content.
                        Please note that any notice or counter-notice you submit must be truthful and must be submitted under penalty of perjury. A false notice or counter-notice may give rise to personal liability. You may therefore want to seek the advice of legal counsel before submitting a notice or a counter-notice. </p>
                </div>
                <div class="content-section">
                    <h3><strong>Claims regarding copyright infringement</strong></h3>
                    <p class="text-justify">Notice of Copyright Infringement:</p>
                    <p>Pursuant to the Digital Millennium Copyright Act (17 U.S.C. § 512), Talents&Mentors has implemented procedures for receiving written notification of claimed infringements. Talents&Mentors has also designated an agent to receive notices of claimed copyright infringement. If you believe in good faith that your copyright has been infringed, you may complete and submit a Notice of Copyright Infringement form, or otherwise provide a written communication which contains:</p>
                    <ol>
                        <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;</li>
                        <li>A description of the copyrighted work that you claim has been infringed;</li>
                        <li>A description specifying the location on our website of the material that you claim is infringing;</li>
                        <li>Your email address and your mailing address and/or telephone number;</li>
                        <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</li>
                        <li>A statement by you, made under penalty of perjury, that the information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.</li>
                    </ol>
                </div>
                <div class="content-section">
                    <p>Please submit your notice to Talents&Mentors Corporation’s Copyright Agent as follows: </p>
                    <strong>Contact us by mail at:
                        Talents&Mentors
                        ATTN: Copyright Agent
                        Legal Department
                        30, Adeola odeku Street
                        Victorial Island, Lagos
                        Nigeria</strong>
                    <br><br>
                    <p><strong>Counter-Notice:</strong>
                        If you believe that a notice of copyright infringement has been improperly submitted against you, you may submit a Counter-Notice, pursuant to Sections 512(g)(2) and (3) of the Digital Millennium Copyright Act. You may complete the Counter-Notice Regarding Claim of Copyright Infringement form, or otherwise provide a written communication which contains: </p>
                    <ol>
                        <li>Your physical or electronic signature;</li>
                        <li>Identification of the material removed or to which access has been disabled;</li>
                        <li>A statement under penalty of perjury that you have a good faith belief that removal or disablement of the material was a mistake or that the material was misidentified;</li>
                        <li>Your full name, your email address, your mailing address, and a statement that you consent to the jurisdiction of the Federal District court (i) in the judicial district where your address is located if the address is in the United States, or (ii) located in the Northern District of California (Santa Clara County), if your address is located outside the United States, and that you will accept service of process from the Complainant submitting the notice or his/her authorized agent.</li>
                    </ol>
                </div>
                <div class="content-section">
                    <h3><strong>Claims regarding content other than copyright infringement</strong></h3>
                    <p class="text-justify">For issues other than copyright infringement please send us a mail:</p>
                    <ul>
                        <li>Reporting Inappropriate Content, Messages, or Safety Concerns</li>
                        <li>Talents&Mentors's Trademark Policy</li>
                        <li>Talents&Mentors's False Profile Policy</li>
                    </ul>
                    <p>Notice regarding Associated Press content on Talents&Mentors: Associated Press text, photo, graphic, audio and/or video material shall not be published, broadcast, rewritten for broadcast or publication or redistributed directly or indirectly in any medium. Neither these AP materials nor any portion thereof may be stored in a computer except for personal and non-commercial use. Users may not download or reproduce a substantial portion of the AP material found on this web site. AP will not be held liable for any delays, inaccuracies, errors or omissions therefrom or in the transmission or delivery of all or any part thereof or for any damages arising from any of the foregoing.</p>
                </div>
            </div>
        </section>
        <!-- End of opportunity section -->

        <!-- Footer section -->
        <footer class="clearfix">
            <div class="main-wrapper">
                <div class="">
                    <div class="col-md-4">
                        <div class="logo-section">
                            <a href="/">Talents&Mentors</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="link-section">
                            <ul>
                                <li>
                                    <a href="/policy">
                                        Privacy
                                    </a>
                                </li>
                                <li>
                                    <a href="/about">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="/agreement">
                                        Terms Of Service
                                    </a>
                                </li>
                                <li>
                                    <a href="/register">
                                        SignUp
                                    </a>
                                </li>
                                <li>
                                    <a href="/login">
                                        Login
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of footer section -->
    </div>
</div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<!-- <script src="/static/js/summer-note.min.js"></script> -->
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-route.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-animate.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-resource.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script src="/static/js/pouchdb.js"></script>
<script src="/static/js/pouchdb.memory.min.js"></script>
<script src="/static/js/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ng-infinite-scroll/build/ng-infinite-scroll.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="/static/js/angular-idle.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    (function () {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
//        var auth2 = gapi.auth2.getAuthInstance();
//        auth2.signOut().then(function () {
//        });
    })();
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        window.onload = function () {
            angular.element(document.getElementById('main')).scope().googleLogin(profile.getEmail(), profile.getId());
        };
    }
</script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>