<!DOCTYPE html>
<html lang="en" ng-app="primeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <title>Talents | Talents&Mentors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/../static/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/../static/admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
          rel="stylesheet">
    <link href="/../static/admin/css/font-awesome.css" rel="stylesheet">
    <link href="/../static/admin/css/style.css" rel="stylesheet">
    <link href="/../static/admin/css/pages/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/../static/admin/../../../static/css/font/font.css" />
    <link rel="stylesheet" href="/../static/css/normalize.css"/>
    <link rel="stylesheet" href="/../static/css/main.css"/>
    <link rel="stylesheet" href="/../static/css/font/font.css"/>
    <link rel="stylesheet" href="/../static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/../static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/../static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/../static/css/login.css"/>
    <link rel="stylesheet" href="/../static/css/signup.css"/>
    <link rel="stylesheet" href="/../static/css/style.css"/>
    <link rel="stylesheet" href="/../static/css/profile.css"/>
    <link rel="stylesheet" href="/../static/css/home.css"/>
    <link rel="stylesheet" href="/../static/css/pure-css-loader/dist/css-loader.css">
    <link href="/../static/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body ng-controller="DashboardController" ng-init="init()" ng-hide="loading">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a><a class="brand" href="index.html" style="font-family: pacifico,cursive;font-weight: 500;">Talents&Mentors</a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>&nbsp;&nbsp; {{user.name}}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/group">My Groups</a></li>
                            <li><a href="/connections">My Connections</a></li>
                            <li><a href="/private/mentors">My Mentors</a></li>
                            <li><a href="/messages">My Messages</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-search pull-right" method="get" action="/search">
                    <input type="text" class="search-query" name="q" id="q" ng-model="search_q"
                           placeholder="Search for people, Jobs, Companies and more..." style="color:black">
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li><a href="/dashboard"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
                <!--<li><a href="/conversations"><i class="icon-comments-alt"></i><span>Conversations</span> </a> </li>-->
                <li class="active"><a href="/mentors/talents"><i class="fa fa-users"></i><span>talents</span> </a> </li>
                <li><a href="/mentors/notifications"><i class="fa fa-bell"></i><span>Notifications</span> </a> </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<div class="main" style="border-bottom: none">
    <div class="main-inner">
        <div class="container">
            <div class="row" ng-show="user.talents.length > 0">

                <!-- /span6 -->
                <div class="span4">
                    <!-- /widget -->
                    <div class="widget widget-nopad">
                        <div ng-show="user.talents.length > 0" class="widget-header" ng-cloak>
                            <i class="icon-list-alt"></i>
                            <h3>Talents</h3>
                            <span style="float: right;">
                                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                            </span>
                        </div>
                        <div class="widget-content">
                            <ul class="news-items" ng-repeat="talent in user.talents" ng-cloak>
                                <li style="padding-bottom: 20px" ng-click="selectRecipient(talent)">
                                    <div class="news-item-pic">
                                        <div class="img" style="background-image: url('{{talent.image_url}}')"></div>
                                    </div>
                                    <div class="news-item-detail" ng-cloak>
                                        <a href="/public/{{talent.username}}" target="_blank">
                                            <h4 class="news-item-title" ng-bind="talent.name"></h4>
                                            <small ng-bind="talent.email" style="color: grey"></small>
                                            <p class="news-item-preview" ng-bind="talent.summary"></p>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <div class="span4" ng-show="account && !loading">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-comments"></i>
                            <h3> Conversations</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <ul class="messages_layout">
                                <li ng-repeat="convo in talent.conversations" ng-class="convo.sender_email == user.email ? 'by_myself right' : 'from_user left'" ng-cloak>
                                    <div style="height: 4em; width: 2em">
                                        <a ng-show="convo.sender_url" href="/public/{{sender_username}}"><img width="100%" height="100%" src="{{convo.sender_url}}" /></a>
                                        <a ng-hide="convo.sender_url" href="/public/{{sender_username}}"><img width="100%" height="100%" src="/static/images/avatar-profile.png" /></a>
                                    </div>
                                    <div class="message_wrap">
                                        <span class="arrow"></span>
                                        <div class="info">
                                            <a class="name" ng-bind="convo.sender_name"></a> <span class="time" am-time-ago="convo.createdAt"></span>
                                        </div>
                                        <div class="text" ng-bind="convo.text"></div>
                                    </div>
                                </li><br>
                                <div ng-hide="talent.conversations">
                                    <p class="text-center">No messages in conversation yet.</p>
                                </div>
                            </ul>
                        </div>
                        <div style="border-top: 1px solid whitesmoke; margin-top: 2px">
                            <form class="form-group" method="post" ng-submit="sendMessage()">
                                <textarea class="form-control" rows="2" placeholder="Enter Message..." style="width: 100%; padding-left: 5px" ng-model="text.msg"></textarea>
                                <button type="submit" class="btn btn-mini btn-success pull-right">Send</button>
                            </form>
                        </div>
                        <!-- /widget-content -->
                    </div>
                </div>
                <!-- /span6 -->
            </div>

            <div class="row" ng-show="user.talents.length == 0">
                <!-- /span6 -->
                <div class="span12">
                    <!-- /widget -->
                    <div class="widget widget-nopad">
                        <div ng-show="user.talents.length > 0" class="widget-header">
                            <i class="icon-list-alt"></i>
                            <h3>Talents</h3>
                            <span style="float: right;">
                                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                            </span>
                        </div>
                        <div class="widget-content">
                            <div class="share-actions shadow clearfix">
                                <div class="col-md-12 p-0">
                                    <div class="share" style="height: 200px; background-color: white; margin-top: 20px; color: black">
                                        <p style="font-size: 66px; text-align: center"><i class="fa fa-smile-o" aria-hidden="true"></i></p><br>
                                        <h2 style="text-align: center;">Welcome to Talents & Mentors</h2><br>
                                        <h6 style="text-align: center;"><em>You are not mentoring any talents on the platform yet.</em> &nbsp;&nbsp;<a class="btn btn-xs btn-primary" href="/talents">Find Talents</a></h6><br><br>
                                    </div>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<!-- /main -->
<!-- /extra -->
<div class="footer" style="bottom: 0; height: 45px; position: fixed; width: 100%">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="span12"> &copy; 2016 <a href="http://www.egrappler.com/" style="font-family: pacifico,cursive;font-weight: 500;">Talent&mentors</a>. </div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /footer-inner -->
</div>
<!-- /footer -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="/../static/js/jquery-1.7.2.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/../static/admin/js/excanvas.min.js"></script>
<script src="/../static/admin/js/chart.min.js" type="text/javascript"></script>
<!--<script src="/../static/admin/js/bootstrap.js"></script>-->
<script language="javascript" type="text/javascript" src="/../static/admin/js/full-calendar/fullcalendar.min.js"></script>
<script src="/../static/admin/js/base.js"></script>
<script type="text/javascript" src="/../static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/../static/js/angular-cookie.js"></script>
<script src="/../static/js/angular-facebook.js"></script>
<script src="/../static/js/ng-file-upload.js"></script>
<script src="/../static/js/aws-sdk.min.js"></script>
<script src="/../static/js/summer-note.min.js"></script>
<script src="/../static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/../static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/../static/js/moment.min.js"></script>
<script src="/../static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/../static/js/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>
<script src="/../static/js/angular-moment.min.js"></script>
<script src="/../static/js/ngAutocomplete.js"></script>
<script src="/static/js/angular-idle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/../static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
</body>
</html>
