<!doctype html>
<html class="no-js" lang="" ng-app="primeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title ng-cloak>Article | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/animate.css"/>
    <link rel="stylesheet" href="/static/css/trumbowyg.css"/>
    <link rel="stylesheet" href="/static/css/trumbowyg.colors.css"/>
    <link rel="stylesheet" href="/static/css/froala_editor.min.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
    <!--<link rel="stylesheet" href="/static/js/summernote/dist/summernote.css"/>-->
</head>
<body ng-controller="PostController" ng-init="init()">
<header>
    <div class="top-section">
        <div class="main-wrapper clearfix">
            <div class="logo">
                <a href="/">Talents&Mentors</a>
            </div>
            <div class="notification-section hidden-sm hidden-xs">
                <ul>
                    <li ng-show="notifications.length > 0" class="has-drop-down">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <div class="drop-down flag">
                            <div class="title clearfix">
                                <span class="message">Notifications</span>
                            </div>
                            <div ng-repeat="note in notifications" class="content clearfix">
                                <div class="img-wrap">
                                    <div ng-show="note.image_url" class="img"
                                         style="background-image: url('{{note.image_url}}')"></div>
                                    <div ng-hide="note.image_url" class="img"
                                         style="background-image: url('/static/images/avatar-profile.png')"></div>
                                </div>
                                <div class="description">
                                    <a href="/notifications/{{note.id}}">
                                        <div class="t1">
                                            <span ng-bind="note.actor"></span>
                                        </div>
                                        <div class="t2" ng-bind="note.subject"></div>
                                        <div class="cont" ng-bind="note.message"></div>
                                        <!-- <span class="time" ng-bind="note.id | date"></span> -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-drop-down" ng-show="user">
                        <div>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="drop-down profile">
                            <div class="title clearfix">
                                <span class="message" ng-bind="user.name"></span>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/connections">My Connections</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-object-group" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/group">My Groups</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/private/mentors">My Mentors</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/profile">Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i style="color: red" class="fa fa-close" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont">
                                        <a href="/logout">Sign Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="search-section clearfix">

                    <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>

                <div class="search clearfix hidden-sm hidden-xs">
                    <form class="form" method="get" action="/search">
                        <input type="text" name="q" id="q" ng-model="search_q"
                               placeholder="Search for people, Jobs, Companies and more..." style="color:black">
                </div>
                <button type="submit" class="hidden-sm hidden-xs"><i class="fa fa-search" aria-hidden="true"></i>
                </button>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-section hidden-sm hidden-xs">
        <div class="main-wrapper clearfix">
            <ul class="left">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li class="has-drop-down">
                    <a href="/community">My community</a>
                    <div class="drop-down bottom-nav">
                        <div class="content clearfix">
                            <a href="/mentors">
                                <div class="description">
                                    <div class="cont">Mentors</div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/talents">
                                <div class="description">
                                    <div class="cont">Talents</div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/groups">
                                <div class="description">
                                    <div class="cont">
                                        Groups
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/community">
                                <div class="description">
                                    <div class="cont">Add New</div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/search">
                                <div class="description">
                                    <div class="cont">Find Mentors/Talents</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/jobs">Jobs</a>
                </li>
                <li ng-show="user.is_mentor">
                    <a href="/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div id="menu" class="collapse menu-links hidden-md hidden-lg">
    <ul>
        <li>
            <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
            <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
            <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
            <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
            <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
            <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
            <a ng-show="user" href="/profile"><i class="fa fa-user-md"></i>Profile</a>
            <a ng-show="user" href="/messages"><i class="fa fa-comments-o"></i>Messages</a>
            <a ng-show="user" href="/logout"><i class="fa fa-close"></i>Sign Out</a>
        </li>
    </ul>
</div>
<!-- end of header -->

<div id="main">
    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <section class="main-wrapper pt-90 content">
        <div class="col-md-12">
            <div infinite-scroll="loadMore()" infinite-scroll-distance="3">
                <div class="content clearfix">
                    <div class="col-md-1 pl-0">
                        <div ng-show="post.image_url" class="img shadow" style="background-image:url('{{post.image_url}}')"></div>
                        <div ng-hide="post.image_url" class="img shadow" style="background-image:url('/static/images/avatar-profile.png')"></div>
                    </div>
                    <div class="col-md-8 p-0">
                        <div class="info shadow">
                            <div class="post-section clearfix" id="post">
                                <div class="name-section">
                                    <div class="name"><a href="" ng-bind="post.poster"></a></div>
                                </div>
                                <div class="duration" style="font-size:9px" am-time-ago="post.dateadded">
                                </div>
                                <div class="clearfix"></div>
                                <div class="line"></div>
                                <div class="image-wrap">
                                    <div class="caption" ng-show="post.body != null">
                                        <ng-bind-html ng-bind-html="post.body"></ng-bind-html>
                                    </div>
                                    <div class="images" ng-show="post.image">
                                        <img src="{{post.image}}" width="100%" height="100%">
                                    </div>
                                </div>
                                <div class="like" style="background-color: whitesmoke">
                                    <ul ng-show="user" class="share-buttons" style="padding-left: 15px">
                                        <li style="zoom: 0.7;"><a href="" title="Share on Facebook" target="_blank" ng-click="shareFB(post.id)"><img alt="Share on Facebook" src="/static/images/flat_web_icon_set/color/Facebook.png"></a></li>
                                        <li style="zoom: 0.7;"><a href="" target="_blank" title="Tweet" ng-click="shareTweet(post.id)"><img alt="Tweet" src="/static/images/flat_web_icon_set/color/Twitter.png"></a></li>
                                        <li style="zoom: 0.7;"><a href="" target="_blank" title="Share on Google+" ng-click="shareGPlus(post.id)"><img alt="Share on Google+" src="/static/images/flat_web_icon_set/color/Google+.png"></a></li>
                                        <li style="zoom: 0.7;"><a href="" target="_blank" title="Share on LinkedIn" ng-click="shareIn(post.id)"><img alt="Share on LinkedIn" src="/static/images/flat_web_icon_set/color/LinkedIn.png"></a></li>
                                        <li style="zoom: 0.7;"><a href="" target="_blank" title="Send email" ng-click="shareMail(post.id)"><img alt="Send email" src="/static/images/flat_web_icon_set/color/Email.png"></a></li>
                                        <li class="with-icon pull-right" style="font-size: 16px">
                                            <a href="" ng-hide="checkPost(post.id)" ng-click="likePost(post.id)">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                <span ng-bind="post.likes"></span>
                                            </a>
                                            <a href="" ng-show="checkPost(post.id)" ng-click="unLike(post.id)">
                                                <i style="color: red;" class="fa fa-heart" aria-hidden="true"></i>
                                                <span ng-bind="post.likes"></span>
                                            </a>
                                            <a>
                                                <i class="fa fa-comment" aria-hidden="true"></i>
                                                <span ng-bind="post.comments"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comment-section" style="background-color: whitesmoke">
                                    <a href="" ng-hide="post.show" style="margin-bottom: 5px" ng-click="showComments(post.id)" class="title">Show previous comments&nbsp;<i class="fa fa-caret-down"></i></a>
                                    <a href="" ng-show="post.show" style="margin-bottom: 5px" ng-click="hideComments(post.id)" class="title">Hide comments&nbsp;<i class="fa fa-caret-down"></i></a>
                                    <div ng-repeat="com in post.comment" class="comment clearfix" style="padding-bottom: 10px">
                                        <div class="user-img">
                                            <div class="img" style="background-image: url('/static/images/avatar-profile.png')"></div>
                                        </div>
                                        <div class="content">
                                            <a href="/public/{{com.username}}" ng-bind="com.name"></a> <span ng-bind="com.body"></span>
                                        </div>
                                    </div>
                                    <form ng-show="user" method="post" ng-submit="comPost(post.id, post.text)">
                                        <input style="height: 40px" type="text" class="form-control" ng-model="post.text" placeholder="Add a comment..." required><br>
                                        <button type="submit" class="btn btn-xs btn-primary pull-right">Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="imageModalLabel">Upload a Photo</h4>
            </div>
            <div class="modal-body">
                <form novalidate>
                    <div>
                        <p>
                            <button type="file" ngf-select="uploadFiles($files)" ngf-multiple="true">Select File
                            </button>
                        </p>
                    </div>
                    <div ng-show="Files.length > 0">
                        <div ng-repeat="file in Files">File:
                            <div>{{file.name}} {{file.$error}} {{file.$errorParam}}</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                     aria-valuemax="100" style="width: {{file.Progress}}%;">
                                    {{file.Progress | number:0}}%
                                </div>
                            </div>
                            <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">
                                Processing, please wait...
                            </div>
                            <div class="alert alert-success" role="alert" ng-show="file.Success">Upload Complete!</div>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                            Oooops we had trouble uploading the file. Please refresh the page and try again.
                            <p>If the problem persits please supply us with the following details</p>
                            <p>{{errorMsg}}</p>
                        </div>
                        <div>{{Error}}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="ModalLabel">Share What's on your mind</h4>
            </div>
            <div class="modal-body">
                <form novalidate>
                    <div class="form-group">
                        <label for="text"></label>
                        <textarea class="form-control" id="text" ng-model="text" rows="5"></textarea>
                    </div>
                    <div>
                        <p>
                            <button type="file" ngf-select="uploadFiles($files)">Select File</button>
                        </p>
                    </div>
                    <div ng-repeat="file in Files">
                        File:
                        <div>{{file.name}} {{file.$error}} {{file.$errorParam}}</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{file.Progress}}%;">
                                {{file.Progress | number:0}}%
                            </div>
                        </div>
                        <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">
                            Processing, please wait...
                        </div>
                        <div class="alert alert-success" role="alert" ng-show="file.Success">Upload Complete!</div>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                        Oooops we had trouble uploading the file. Please refresh the page and try again.
                        <p>If the problem persits please supply us with the following details</p>
                        <p>{{errorMsg}}</p>
                    </div>
                    <div>{{Error}}</div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="articleModal" tabindex="-1" role="dialog" aria-labelledby="articleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Work Experience</h4>
            </div>
            <div class="modal-body">
                <form method="post" ng-submit="AddExperience()">
                    <div class="form-group">
                        <label>Company Name</label>
                        <input type="text" class="form-control" ng-model="company" placeholder="Ake Incorporated">
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control" ng-model="loc" placeholder="Abuja, Nigeria">
                    </div>
                    <div class="form-group">
                        <label>From</label>
                        <input type="text" class="form-control" ng-model="startdate"
                               placeholder="Enter graduation year">
                    </div>
                    <div class="form-group">
                        <label>To</label>
                        <input type="text" class="form-control" ng-model="enddate" placeholder="Enter graduation year">
                    </div>
                    <div class="form-group">
                        <label>Position</label>
                        <input type="text" class="form-control" ng-model="title" placeholder="Chemical Engineer">
                    </div>
                    <div class="form-group">
                        <label>Describe Role</label>
                        <textarea class="form-control" ng-model="desc" name="desc" rows="6"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="connectModalLabel">Request Connection</h4>
            </div>
            <div class="modal-body">
                <form method="post" ng-submit="sendRequest()">
                    <div class="form-group">
                        <label for="message">Short Message</label>
                        <textarea class="form-control" ng-model="message" id="message" rows="3"
                                  placeholder=""
                                  required>Hello, I am interesting in getting to know you better.</textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="requestModalLabel">Accept connection request</h4>
            </div>
            <div class="modal-body">
                <form method="post" ng-submit="sendRequest()">
                    <div class="form-group">
                        <label for="message">Short Message</label>
                        <textarea class="form-control" ng-model="message" rows="2"
                                  placeholder=""
                                  required disabled>{{requester.name}} is trying to connect with you</textarea>
                        <div class="text-center">
                            <button class="btn btn-xs btn-success">Accept</button>
                            <button class="btn btn-xs btn-danger">Reject</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
                {{requester.name}} wants to connect with you.
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/in.js">
    api_key: '774bs20nb5i6qo'
    authorize: true
    onLoad: onLinkedInLoad
</script>
<script type="text/javascript">

    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", shareContent);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to share content on LinkedIn
    function shareContent() {

        // Build the JSON payload containing the content to be shared
        var payload = {
            "comment": "Check out developer.linkedin.com! http://linkd.in/1FC2PyG",
            "visibility": {
                "code": "anyone"
            }
        };

        IN.API.Raw("/people/~/shares?format=json")
            .method("POST")
            .body(JSON.stringify(payload))
            .result(onSuccess)
            .error(onError);
    }

</script>
<!--<script type="IN/Share" data-url="http://google.com.ng" data-counter="top"></script>-->
<script type="in/Login"></script>
<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/js/trumbowyg.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');

    $(document).ready(function () {
        $('.messageLaunch').click(function () {
            $('.messageContainer').show();
            $('.messageContainer').addClass('animated fadeInUp animationFix');
            $('.messageLaunch').hide()

        });

        $('.closed').click(function () {
            $('.messageLaunch').show();
            $('.messageContainer').removeClass('animated fadeInUp animationFix');
            $('.messageContainer').hide()

        })
    });

    $('#textarea').trumbowyg({});

    $(".messageArea").attr({ scrollTop: $(".messageArea").attr("scrollHeight") });
</script>
</body>
</html>