<!doctype html>
<html class="no-js" lang="" ng-app="primeApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-signin-client_id"
          content="287893726188-1q4dve1oqtdr5v44ujpj7ma410m6e5qg.apps.googleusercontent.com">
    <title>Choices | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
    <!---->
</head>
<body ng-controller="CheckController" style="background-image: url(/images/bkgnd.jpg)">

<div ng-show="loading" class="loader loader-default is-active" data-text></div>
<div id="signup">
    <!-- <div style="height: 5em"></div> -->
    <div class="select-opportunity">
        <div class="main-wrapper">
            <form method="post" ng-submit="pickChoice()">
                <div class="title" style="font-family: 'Century Schoolbook L'">I am looking to</div>
                <div class="title"><span ng-show="error" style="color: red; font-size: 24px">{{error}}</span></div>
                <div class="opportunity-wrap clearfix">
                    <div class="col-md-6">
                        <input type="radio" ng-model="choice.data" value="mentor" name="opportunity" id="1"
                               style="display:none;" required>
                        <label class="opportunity-tab btn-shadow" for="1"
                               style="background-image: url('images/sales.jpg');">
                            <span class="overlay"><i class="fa fa-check" aria-hidden="true"></i></span>
                        </label>
                        <div class="opportunity-label">Offer Mentoring</div>
                    </div>
                    <div class="col-md-6">
                        <input type="radio" ng-model="choice.data" value="talent" name="opportunity" id="2"
                               style="display:none;" required>
                        <label class="opportunity-tab btn-shadow" for="2"
                               style="background-image: url('images/job.jpg');">
                            <span class="overlay"><i class="fa fa-check" aria-hidden="true"></i></span>
                        </label>
                        <div class="opportunity-label">Find a Mentor</div>
                    </div>
                </div>
                <button type="submit" class="btn-shadow" data-rippleria>Next</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/../static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/../static/js/angularjs/angular-route.min.js"></script>
<script type="text/javascript" src="/../static/js/angularjs/angular-animate.js"></script>
<script type="text/javascript" src="/../static/js/angularjs/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/../static/js/angularjs/angular-resource.min.js"></script>
<script src="/../static/js/pouchdb.js"></script>
<script src="/../static/js/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script type="text/javascript" src="/../static/js/angular-cookie.js"></script>
<script src="/../static/js/angular-facebook.js"></script>
<script src="/../static/js/ng-file-upload.js"></script>
<script src="/../static/js/aws-sdk.min.js"></script>
<script src="/../static/js/summer-note.min.js"></script>
<script src="/../static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/../static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/../static/js/moment.min.js"></script>
<script src="/../static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/../static/js/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>
<script src="/../static/js/angular-moment.min.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="/static/js/angular-idle.min.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/../static/js/application.js"></script>
<script type="text/javascript">
    (function () {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
//        var auth2 = gapi.auth2.getAuthInstance();
//        auth2.signOut().then(function () {
//        });
    })();
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        window.onload = function () {
            angular.element(document.getElementById('main')).scope().googleLogin(profile.getEmail(), profile.getId());
        };
    }
</script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>