<!doctype html>
<html class="no-js" lang="" ng-app="primeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Connections | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../static/css/normalize.css"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="static/css/font/font.css"/>
    <link rel="stylesheet" href="static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="static/css/login.css"/>
    <link rel="stylesheet" href="static/css/signup.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="static/css/jobs.css"/>
    <!--<link rel="stylesheet" href="static/css/guideline.css"/>-->
    <link rel="stylesheet" href="static/css/profile.css"/>
    <link rel="stylesheet" href="static/css/home.css"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/pure-css-loader/dist/css-loader.css">
    <!---->
    <style>
        body {
            background: #fff;
        }
    </style>
</head>
<body ng-controller="ConnectionController" ng-init="init()">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--<div ng-view></div>-->


<div class="clearfix">
    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <header>
        <div class="top-section">
            <div class="main-wrapper clearfix">
                <div class="logo">
                    <a href="/">Talents&Mentors</a>
                </div>
                <div class="notification-section hidden-sm hidden-xs">
                    <ul>
                        <li ng-show="notifications.length > 0" class="has-drop-down">
                            <i class="fa fa-flag" aria-hidden="true"></i><span class="badge" style="background-color: red" ng-bind="notifications.length"></span>
                            <div class="drop-down flag">
                                <div class="title clearfix">
                                    <span class="message">Notifications</span>
                                </div>
                                <div ng-repeat="note in notifications" class="content clearfix">
                                    <div class="img-wrap">
                                        <div ng-show="note.image_url" class="img"
                                             style="background-image: url('{{note.image_url}}')"></div>
                                        <div ng-hide="note.image_url" class="img"
                                             style="background-image: url('/static/images/avatar-profile.png')"></div>
                                    </div>
                                    <div class="description">
                                        <a href="/notifications/{{note.id}}">
                                            <div class="t1">
                                                <span ng-bind="note.actor"></span>
                                            </div>
                                            <div class="t2" ng-bind="note.subject"></div>
                                            <div class="cont" ng-bind="note.message"></div>
                                            <!-- <span class="time" ng-bind="note.id | date"></span> -->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-hide="notifications.length > 0" class="has-drop-down">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            <div class="drop-down flag" style="background-color: white; color: black">
                                <div class="title clearfix">
                                    <span class="message">Notifications</span>
                                </div>
                                <h3 class="text-center">No Notifications</h3>
                            </div>
                        </li>
                        <li class="has-drop-down">
                            <div>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="drop-down profile">
                                <div class="title clearfix">
                                    <span class="message" ng-bind="user.name"></span>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/connections">My Connections</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/messages">My Messages</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-object-group" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/group">My Groups</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-male" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/private/mentors">My Mentors</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/profile">Edit Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i style="color: red" class="fa fa-close" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont">
                                            <a href="/logout">Sign Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="search-section clearfix">

                    <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>

                    <div class="search clearfix hidden-sm hidden-xs">
                        <form class="form" method="get" action="/search">
                            <input type="text" name="q" id="q" ng-model="search_q"
                                   placeholder="Search for people, Jobs, Companies and more..." style="color:black">
                    </div>
                    <button class="hidden-sm hidden-xs"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom-section hidden-sm hidden-xs">
            <div class="main-wrapper clearfix">
                <ul class="left">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li class="has-drop-down">
                        <a href="/community"><span ng-show="user">My</span> Community</a>
                        <div class="drop-down bottom-nav">
                            <div class="content clearfix">
                                <a href="/mentors">
                                    <div class="description">
                                        <div class="cont">
                                            Mentors
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/talents">
                                    <div class="description">
                                        <div class="cont">
                                            Talents
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/community">
                                    <div class="description">
                                        <div class="cont">
                                            Add New
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/search">
                                    <div class="description">
                                        <div class="cont">
                                            Find Mentors/Talents
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/jobs">Jobs</a>
                    </li>
                    <li ng-show="user.is_mentor">
                        <a href="/dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="menu" class="collapse menu-links hidden-md hidden-lg">
        <ul>
            <li>
                <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
                <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
                <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
                <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
                <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
                <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
                <a href="/profile"><i class="fa fa-user-md"></i>Profile</a>
                <a href="/messages"><i class="fa fa-comments-o"></i>Messages</a>
                <a href="/logout"><i class="fa fa-close"></i>Sign Out</a>
            </li>
        </ul>
    </div>
    <!-- end of header -->

    <div id="talentandmetors">
        <div class="main-wrapper clearfix">
            <div class="col-md-12">
                <div class="connections">
                    <div class="icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                    <div class="text-wrap">
                        <div class="title">Connections</div>
                        <div class="caption">You currently have <span ng-bind="connections.total"></span> connections connected to your account.
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="connections.data.length > 0" class="content-wrap">
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                <br>
                <div class="col-md-4" dir-paginate="con in connections.data | itemsPerPage: connections.PerPage"
                     total-items="connections.total" current-page="connections.currentPage">
                    <div class="d-wrap clearfix" style="zoom: 0.7">
                        <div class="col-md-6 p-0">
                            <div class="img-section">
                                <a href="/public/{{con.username}}"><img width="100%" height="183px" style="max-width: 210px;" ng-show="con.image_url"
                                                                           src="{{con.image_url}}"></a>
                                <a href="/public/{{con.username}}" style="font-size: 100px;"><i ng-hide="con.image_url"
                                                                                                   class="fa fa-user"
                                                                                                   aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 p-0">
                            <div class="info-section"><div class="title"><h3 ng-bind="con.name"></h3></div></div>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <div class="contact">
                                <a href="" data-toggle="modal" data-target="#messageModal" ng-click="selectRecipient(con)">Message</a>
                                <!--<a href="/public/{{con.username}}" class="btn btn-primary">View Profile</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div ng-hide="connections.data.length > 0" class="main-wrapper pt-90 content">
                <div class="share-actions shadow clearfix">
                    <div class="col-md-12 p-0">
                        <div class="share"
                             style="height: 250px; background-color: white; margin-top: 20px; color: black">
                            <span style="font-size: 66px"><i class="fa fa-smile-o" aria-hidden="true"></i></span><br>
                            <h3>Welcome to Talents & Mentors</h3>
                            <small><em>We are very happy to have you here.</em> Below are some activities to get your
                                gears spinning
                            </small>
                            <br>
                            <a href="/register" ng-hide="user" class="btn btn-success">Join Us</a>
                        </div>
                        <br><br>
                        <a href="/jobs">
                            <div class="share col-md-4 p-0" style="background-color: white">

                                <span><i class="fa fa-search-plus" aria-hidden="true"></i> </span>
                                <span>Find a Job</span>
                            </div>
                        </a>
                        <a href="/community">
                            <div class="share col-md-4 p-0" style="background-color: white">
                                <span><i class="fa fa-users" aria-hidden="true"></i> </span>
                                <span>Explore the community</span>
                            </div>
                        </a>
                        <a href="/mentors">
                            <div class="share col-md-4 p-0" style="background-color: white">
                                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                                <span>Find a Mentor</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="messageModalLabel">Send Message</h4>
            </div>
            <form method="post" ng-submit="sendMessage()">
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" ng-model="text_message" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<!--<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<!--<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
