<!doctype html>
<html class="no-js" lang="" ng-app="primeApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-signin-client_id"
          content="287893726188-1q4dve1oqtdr5v44ujpj7ma410m6e5qg.apps.googleusercontent.com">
    <title>Details | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
    <!---->
</head>
<body style="background-image: url(/images/bkgnd.jpg)">

<div id="signup" ng-controller="DetailController">
    <div class="details">
        <div class="main-wrapper">
            <form method="post" ng-submit="saveDetails()">
                <div class="title">Tell us about yourself</div>
                <div ng-show="error.message" class="text-center" style="margin-bottom: 10px">
                    <p style="color: red" ng-bind="error.message"></p>
                    <a href="/register" type="submit" class="btn btn-primary btn-sm">Click here to Register new Account</a>
                </div>
                <div class="form-wrap">
                    <div class="input">
                        <input type="email" ng-model="email" placeholder="Email Address" required disabled>
                    </div>
                    <div class="input">
                        <input type="text" ng-model="first_name" placeholder="First Name" required>
                    </div>
                    <div class="input">
                        <input type="text" ng-model="last_name" placeholder="Last Name" required>
                    </div>
                    <div class="input">
                        <input type="password" ng-model="password" placeholder="Create password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg">Next</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/../static/js/angularjs/angular.min.js"></script>
<script src="/../static/js/pouchdb.js"></script>
<script src="/../static/js/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script type="text/javascript" src="/../static/js/angular-cookie.js"></script>
<script src="/../static/js/angular-facebook.js"></script>
<script src="/../static/js/ng-file-upload.js"></script>
<script src="/../static/js/aws-sdk.min.js"></script>
<script src="/../static/js/summer-note.min.js"></script>
<script src="/../static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/../static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/../static/js/moment.min.js"></script>
<script src="/../static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/../static/js/angular-moment.min.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/../static/js/application.js"></script>
<script type="text/javascript">
    (function () {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
//        var auth2 = gapi.auth2.getAuthInstance();
//        auth2.signOut().then(function () {
//        });
    })();
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        window.onload = function () {
            angular.element(document.getElementById('main')).scope().googleLogin(profile.getEmail(), profile.getId());
        };
    }
</script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>