<!doctype html>
<html class="no-js" lang="" ng-app="primeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Create Group | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/date-picker.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
    <!---->
</head>
<body ng-app="primeApp" ng-controller="ProfileController" ng-init="init()" ng-cloak="loading">

<header>
    <div class="top-section">
        <div class="main-wrapper clearfix">
            <div class="logo">
                <a href="/">Talents&Mentors</a>
            </div>
            <div class="notification-section hidden-sm hidden-xs">
                <ul>
                    <li ng-show="notifications.length > 0" class="has-drop-down">
                        <i class="fa fa-flag" aria-hidden="true"></i><span class="badge" style="background-color: red" ng-bind="notifications.length"></span>
                        <div class="drop-down flag">
                            <div class="title clearfix">
                                <span class="message">Notifications</span>
                            </div>
                            <div ng-repeat="note in notifications" class="content clearfix">
                                <div class="img-wrap">
                                    <div ng-show="note.image_url" class="img"
                                         style="background-image: url('{{note.image_url}}')"></div>
                                    <div ng-hide="note.image_url" class="img"
                                         style="background-image: url('/static/images/avatar-profile.png')"></div>
                                </div>
                                <div class="description">
                                    <a href="/notifications/{{note.id}}">
                                        <div class="t1">
                                            <span ng-bind="note.actor"></span>
                                        </div>
                                        <div class="t2" ng-bind="note.subject"></div>
                                        <div class="cont" ng-bind="note.message"></div>
                                        <!-- <span class="time" ng-bind="note.id | date"></span> -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li ng-hide="notifications.length > 0 || !user.data" class="has-drop-down">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <div class="drop-down flag" style="background-color: white; color: black">
                            <div class="title clearfix">
                                <span class="message">Notifications</span>
                            </div>
                            <h3 class="text-center">No Notifications</h3>
                        </div>
                    </li>
                    <li ng-show="user.data" class="has-drop-down">
                        <div>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="drop-down profile">
                            <div class="title clearfix">
                                <span class="message" ng-bind="user.data.name"></span>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/connections">My Connections</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/messages">My Messages</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-object-group" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/group">My Groups</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/private/mentors">My Mentors</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/profile">Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i style="color: red" class="fa fa-close" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont">
                                        <a href="/logout">Sign Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="search-section clearfix">

            <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
                <div class="search clearfix hidden-sm hidden-xs">
                    <form class="form" method="get" action="/search">
                        <input type="text" name="q" id="q"
                               placeholder="Search for people, Jobs, Companies and more..." style="color: black">
                </div>
                <button class="hidden-sm hidden-xs"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-section hidden-sm hidden-xs">
        <div class="main-wrapper clearfix">
            <ul class="left">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li class="has-drop-down">
                    <a href="/community"><span ng-show="user.data" ng-cloak>My </span>Community</a>
                    <div class="drop-down bottom-nav">
                        <div class="content clearfix">
                            <a href="/mentors">
                                <div class="description">
                                    <div class="cont">
                                        Mentors
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/talents">
                                <div class="description">
                                    <div class="cont">
                                        Talents
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/groups">
                                <div class="description">
                                    <div class="cont">
                                        Groups
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/community">
                                <div class="description">
                                    <div class="cont">
                                        Add New
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/search">
                                <div class="description">
                                    <div class="cont">
                                        Find Mentors/Mentees
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/jobs">Jobs</a>
                </li>
            </ul>
            <ul ng-hide="user.data" class="right">
                <li>
                    <a href="/register">SignUp</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="menu" class="collapse menu-links hidden-md hidden-lg">
        <ul>
            <li>
                <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
                <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
                <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
                <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
                <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
                <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
                <a ng-show="user.data" href="/profile"><i class="fa fa-user-md"></i>Profile</a>
                <a ng-show="user.data" href="/messages"><i class="fa fa-comments-o"></i>Messages</a>
                <a ng-show="user.data" href="/logout"><i class="fa fa-close"></i>Sign Out</a>
                <a ng-hide="user.data" href="/login"><i class="fa fa-user-secret"></i>&nbsp;Sign In</a>
            </li>
        </ul>
    </div>
</header>

<div id="main">
    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <div id="profile-wrapper">
        <div class="main-content main-wrapper clearfix" style="margin-top: 6em;">
            <div class="col-md-12 p-0 ">
                <div class="info-section">
                    <div class="summery-section">
                        <div class="title pt-10 text-center">
                            <strong>Edit Profile</strong>
                        </div>
                        <form method="post" ng-submit="updateProfile()">
                            <div class="modal-body">
                                <div class="form-group row">
                                  <label for="example-text-input" class="col-md-2 col-form-label">Name</label>
                                  <div class="col-md-10">
                                    <input class="form-control" type="text" ng-model="user.name" id="name" disabled>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="example-search-input" class="col-md-2 col-form-label">Email</label>
                                  <div class="col-md-10">
                                    <input class="form-control" type="email" ng-model="user.profile.email">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="example-email-input" class="col-md-2 col-form-label">Occupation</label>
                                  <div class="col-md-10">
                                    <input class="form-control" type="text" ng-model="user.profile.occupation">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="example-url-input" class="col-md-2 col-form-label">Username</label>
                                  <div class="col-md-10">
                                    <input class="form-control" type="text" ng-model="user.profile.profile_url_param">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="example-tel-input" class="col-md-2 col-form-label">Mobile</label>
                                  <div class="col-md-10">
                                    <input class="form-control" type="tel" ng-model="user.profile.phone">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="example-tel-input" class="col-md-2 col-form-label">Date of Birth</label>
                                  <div class="col-md-10">
                                    <!-- <input class="form-control" type="date" ng-model="user.profile.birthdate"> -->
                                    <input class="form-control" id="date" name="date" ng-model="user.profile.birthdate" placeholder="MM/DD/YYY" type="text"/>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="example-password-input" class="col-md-2 col-form-label">Marital Status</label>
                                  <div class="col-md-10">
                                    <select class="form-control" ng-model="user.profile.marital">
                                      <option value="single">Single</option>
                                      <option value="married">Married</option>
                                      <option value="divorced">Divorced</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="Autocomplete" class="col-md-2 col-form-label">Location</label>
                                  <div class="col-md-10">
                                      <!--<input class="form-control" type="text" ng-model="user.profile.location">-->
                                      <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="user.profile.location" details="details1" options="options1"/>
                                  </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="/profile" type="button" class="btn btn-secondary">Close</a>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA3AxedvCZ9QsSmuBy7a72Ds3ChoOo5CMs"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/date-picker.min.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-aria.min.js"></script>
<script src="/static/js/angular-messages.min.js"></script>
<script src="/static/js/angular-material.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(){})
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>