<!doctype html>
<html class="no-js" lang="" ng-app="primeApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="static/css/normalize.css" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="static/css/font/font.css" />
    <link rel="stylesheet" href="static/css/owl.carousel/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="static/css/owl.carousel/owl-carousel/owl.transitions.css" />
    <link rel="stylesheet" href="static/css/jquery.rippleria.min.css" />
    <link rel="stylesheet" href="static/css/login.css" />
    <link rel="stylesheet" href="static/css/signup.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/profile.css" />
    <link rel="stylesheet" href="static/css/home.css" />

    <script type="text/javascript" src="static/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body id="signup" ng-controller="EducationController">

<div class="needs">
    <div class="main-wrapper">
        <form method="post" action="save()">
            <div class="title">Educational Background</div>
            <div class="form-wrap">
                <div class="input">
                    <input type="text" ng-model="school" placeholder="School" required>
                </div>
                <div class="input">
                    <input type="text" ng-model="degree" placeholder="Degree" required>
                </div>
            </div>
            <button type="submit" class="btn-shadow" data-rippleria>Next</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-route.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-animate.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-resource.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script src="/static/js/pouchdb.js"></script>
<script src="/static/js/pouchdb.memory.min.js"></script>
<script src="/static/js/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="/static/js/platform.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<script type="text/javascript">
    (function () {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
//        var auth2 = gapi.auth2.getAuthInstance();
//        auth2.signOut().then(function () {
//        });
    })();
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        window.onload = function () {
            angular.element(document.getElementById('main')).scope().googleLogin(profile.getEmail(), profile.getId());
        };
    }
</script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>