<!doctype html>
<html class="no-js" lang="" ng-app="primeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Community | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="static/css/normalize.css"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="static/css/font/font.css"/>
    <link rel="stylesheet" href="static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="static/css/login.css"/>
    <link rel="stylesheet" href="static/css/signup.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="static/css/jobs.css"/>
    <link rel="stylesheet" href="static/css/profile.css"/>
    <link rel="stylesheet" href="static/css/home.css"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/pure-css-loader/dist/css-loader.css">
    <!---->
    <style>
        body {
            background: #fff;
        }
    </style>
</head>
<body ng-controller="CommunityController" ng-init="init()">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--<div ng-view></div>-->

<div class="clearfix">

    <header>
        <div class="top-section">
            <div class="main-wrapper clearfix">
                <div class="logo">
                    <a href="/">Talents&Mentors</a>
                </div>
                <div class="notification-section hidden-sm hidden-xs">
                    <ul>
                        <li ng-show="notifications.length > 0" class="has-drop-down">
                            <i class="fa fa-flag" aria-hidden="true"></i><span class="badge" style="background-color: red" ng-bind="notifications.length"></span>
                            <div class="drop-down flag">
                                <div class="title clearfix">
                                    <span class="message">Notifications</span>
                                </div>
                                <div ng-repeat="note in notifications" class="content clearfix">
                                    <div class="img-wrap">
                                        <div ng-show="note.image_url" class="img"
                                             style="background-image: url('{{note.image_url}}')"></div>
                                        <div ng-hide="note.image_url" class="img"
                                             style="background-image: url('/static/images/avatar-profile.png')"></div>
                                    </div>
                                    <div class="description">
                                        <a href="/notifications/{{note.id}}">
                                            <div class="t1">
                                                <span ng-bind="note.actor"></span>
                                            </div>
                                            <div class="t2" ng-bind="note.subject"></div>
                                            <div class="cont" ng-bind="note.message"></div>
                                            <!-- <span class="time" ng-bind="note.id | date"></span> -->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-hide="notifications.length > 0 || !user" class="has-drop-down">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            <div class="drop-down flag" style="background-color: white; color: black">
                                <div class="title clearfix">
                                    <span class="message">Notifications</span>
                                </div>
                                <h3 class="text-center">No Notifications</h3>
                            </div>
                        </li>
                        <li ng-show="user" class="has-drop-down">
                            <div>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="drop-down profile">
                                <div class="title clearfix">
                                    <span class="message" ng-bind="user.name"></span>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/connections">My Connections</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/messages">My Messages</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-object-group" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/group">My Groups</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-male" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/private/mentors">My Mentors</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/profile">Edit Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i style="color: red" class="fa fa-close" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont">
                                            <a href="/logout">Sign Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="search-section clearfix">

                <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </span>
                    <div class="search clearfix hidden-sm hidden-xs">
                        <form class="form" method="get" action="/search">
                            <input type="text" name="q" id="q"
                                   placeholder="Search for people, Jobs, Companies and more..." style="color: black">
                    </div>
                    <button class="hidden-sm hidden-xs"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom-section hidden-sm hidden-xs">
            <div class="main-wrapper clearfix">
                <ul class="left">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li class="has-drop-down">
                        <a href="/community"><span ng-show="user" ng-cloak>My </span>Community</a>
                        <div class="drop-down bottom-nav">
                            <div class="content clearfix">
                                <a href="/mentors">
                                    <div class="description">
                                        <div class="cont">
                                            Mentors
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/talents">
                                    <div class="description">
                                        <div class="cont">
                                            Talents
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/groups">
                                    <div class="description">
                                        <div class="cont">
                                            Groups
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/community">
                                    <div class="description">
                                        <div class="cont">
                                            Add New
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/search">
                                    <div class="description">
                                        <div class="cont">
                                            Find Mentors/Mentees
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/jobs">Jobs</a>
                    </li>
                    <li ng-show="user.is_mentor">
                        <a href="/dashboard">Dashboard</a>
                    </li>
                </ul>
                <ul ng-hide="user" class="right">
                    <li>
                        <a href="/register">SignUp</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu" class="collapse menu-links hidden-md hidden-lg">
            <ul>
                <li>
                    <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
                    <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
                    <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
                    <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
                    <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
                    <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
                    <a ng-show="user" href="/profile"><i class="fa fa-user-md"></i>Profile</a>
                    <a ng-show="user" href="/messages"><i class="fa fa-comments-o"></i>Messages</a>
                    <a ng-show="user" href="/logout"><i class="fa fa-close"></i>Sign Out</a>
                    <a ng-hide="user" href="/login"><i class="fa fa-user-secret"></i>&nbsp;Sign In</a>
                </li>
            </ul>
        </div>
    </header>
    <div id="community">
        <!-- <div ng-show="loading" class="loader loader-default is-active" data-text></div> -->
        <div class="banner" style="background-image: url('images/community.jpg');">
            <div class="overlay">
                <div class="content main-wrapper">
                    <div class="title"> Welcome to Talents&Mentors</div>
                    <div class="caption">Learn the most in-demand business, tech and creative skills from industry
                        experts
                    </div>
                    <a ng-show="user" href="/home" class="btn btn-primary start" data-rippleria ng-cloak="user">Start Free</a>
                    <a ng-hide="user" href="/register" class="btn btn-primary start" data-rippleria ng-cloak="user">Sign Up
                        Here</a>
                </div>
            </div>
        </div>
        <div class="main-wrapper">
            <div class="col-md-12 p-0 captionWrap">
                <div class="skills">
                    <div class="user clearfix">
                        <div class="img" style="background-image: url('/static/images/training.jpg')"></div>
                        <div class="text-wrap">
                            <span class="cation" ng-show="user" ng-cloak>Good Evening, <em ng-bind="user.name"></em></span>
                            <span class="title" ng-show="user" ng-cloak>Let’s connect with new people today!</span>
                            <span class="title" ng-hide="user" ng-cloak>Join the fastest network of talents and professionals today!</span>
                        </div>
                    </div>
                </div>
                <div class="intrest">
                    <span ng-show="user" class="text" ng-cloak>Skills I’m interested in:</span>
                    <a href="/profile" ng-show="user" class="addSkill" data-rippleria ng-cloak="user">Add skills</a>
                    <span ng-hide="user" class="text" ng-cloak="user">Don't have an Account?</span>
                    <a ng-hide="user" class="btn btn-sm btn-success" href="/register" ng-cloak="user">Join Us</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tilesWrap clearfix">

            <div ng-show="data.groups.length > 0" class="main-wrapper mb-20 clearfix">
                <div class="title">Groups</div>
                <div ng-repeat="_acct in data.groups" class="col-md-3 pl-0">
                    <div class="cards" style="zoom: 0.8;">
                        <a href="/group/{{_acct.name}}">
                            <div class="img-section">
                                <img src="{{_acct.image_url}}" style="min-width:100%;max-height:100%;">
                                <div class="text-center" ng-show="account.image_url == '' || !account.image_url" style="font-size: 170px; color: #000;" ng-cloak><i
                                        class="fa fa-users"></i></div>
                            </div>
                            <div class="info-section" style="margin-top:5px">
                                <div class="name" ng-bind="_acct.name"></div>
                                <div class="pull-right" ng-show="checkUser(_acct.email)">
                                    <button ng-hide="checkGroups(_acct.id)" class="btn btn btn-primary" ng-click="Join(_acct)">Join</button>
                                    <button ng-show="checkGroups(_acct.id)" class="btn btn btn-default" disabled>Requested</button>
                                </div>
                                <div class="views" ng-bind="_acct.views_count"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="main-wrapper mb-20 clearfix" ng-show="data.recommendations.length > 0">
                <div class="title">People you may know</div>
                <div ng-repeat="account in data.recommendations" class="col-md-3">
                    <div class="cards" style="zoom: 0.8; margin-bottom:15px">
                        <a href="/public/{{account.username}}">
                            <div class="img-section">
                                <img src="{{account.image_url}}" style="width:100%;height:auto;margin-bottom: 10px;">
                                <div class="text-center" ng-show="account.image_url == '' || !account.image_url" style="font-size: 170px; line-height: 1px;" ng-cloak><i
                                        class="fa fa-user"></i></div>
                            </div>
                            <div class="info-section">
                                <div class="skill" ng-bind="account.occupation"></div>
                                <div class="name" ng-bind="account.name"></div>
                                <div>
                                    <a ng-show="user && !checkConnection(account.email)" href="" ng-click="selectContact(account)" data-toggle="modal"
                                       data-target="#connectModal" class="btn btn-warning">Connect</a>
                                    <a style="background-color: ghostwhite; color: black" class="btn btn-default" ng-show="user && checkConnection(account.email)">Requested</a>
                                    <!--<a href="/public/{{account.username}}" class="btn btn-primary">View Profile</a>-->
                                </div>
                                <div class="views" ng-bind="account.views_count"></div>
                            </div>
                        </a>    
                    </div>
                </div>
            </div>
        </div>
        <div class="topUpdate" ng-show="jobs.data.length > 0">
            <div class="main-wrapper mb-20 clearfix">
                <div class="title">Job Offers</div>
                <div ng-repeat="job in jobs.data" class="col-md-3 pl-0">
                    <div class="cards" style="zoom: 0.7; margin-bottom:15px">
                        <div class="img-section" style="background-image: url('images/1.png');"></div>
                        <div class="info-section">
                            <div class="skill" ng-bind="job.title"></div>
                            <div class="truncate" ng-bind="job.description"></div>
                            <!--<div class="views">330,000 views</div>-->
                            <div class="views" ng-bind="job.link"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Request Connection</h4>
            </div>
            <div class="modal-body">
                <form method="post" ng-submit="sendRequest()">
                    <div class="form-group">
                        <label for="message">Short Message</label>
                        <textarea class="form-control" ng-model="message" id="message" rows="3"
                                  placeholder="Hi, kindly connect with me on Talents & Mentors. Thanks."></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="static/js/plugins.js"></script>
<script type="text/javascript" src="static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="static/js/wow.min.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>






































