<!doctype html>
<html class="no-js" lang="" ng-app="primeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/animate.css"/>
    <link rel="stylesheet" href="/static/css/trumbowyg.css"/>
    <link rel="stylesheet" href="/static/css/trumbowyg.colors.css"/>
    <link rel="stylesheet" href="/static/css/froala_editor.min.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css">
</head>
<body ng-controller="HomeController" ng-init="init()" style="zoom:0.9" ng-cloak="loading">
<div class="messageWrap">
    <a href="/invite" class="messageLaunch">
        <span class="icon"><i class="fa fa-send-o" aria-hidden="true"></i></span>
        Invite Others
    </a>
</div>
<header>
    <div class="top-section">
        <div class="main-wrapper clearfix">
            <div class="logo">
                <a href="/">Talents&Mentors</a>
            </div>
            <div class="notification-section hidden-sm hidden-xs">
                <ul>
                    <li ng-show="notifications.length > 0" class="has-drop-down">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <div class="drop-down flag">
                            <div class="title clearfix">
                                <span class="message">Notifications</span>
                            </div>
                            <div ng-repeat="note in notifications" class="content clearfix">
                                <div class="img-wrap">
                                    <div ng-show="note.image_url" class="img"
                                         style="background-image: url('{{note.image_url}}')"></div>
                                    <div ng-hide="note.image_url" class="img"
                                         style="background-image: url('/static/images/avatar-profile.png')"></div>
                                </div>
                                <div class="description">
                                    <a href="/notifications/{{note.id}}">
                                        <div class="t1">
                                            <span ng-bind="note.actor"></span>
                                        </div>
                                        <div class="t2" ng-bind="note.subject"></div>
                                        <div class="cont" ng-bind="note.message"></div>
                                        <!-- <span class="time" ng-bind="note.id | date"></span> -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-drop-down" ng-show="user">
                        <div>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="drop-down profile">
                            <div class="title clearfix">
                                <span class="message" ng-bind="user.name"></span>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/connections">My Connections</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-object-group" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/group">My Groups</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/private/mentors">My Mentors</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/profile">Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i style="color: red" class="fa fa-close" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont">
                                        <a href="/logout">Sign Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="search-section clearfix">

                    <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>

                <div class="search clearfix hidden-sm hidden-xs">
                    <form class="form" method="get" action="/search">
                        <input type="text" name="q" id="q" ng-model="search_q"
                               placeholder="Search for people, Jobs, Companies and more..." style="color:black">
                </div>
                <button type="submit" class="hidden-sm hidden-xs"><i class="fa fa-search" aria-hidden="true"></i>
                </button>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-section hidden-sm hidden-xs">
        <div class="main-wrapper clearfix">
            <ul class="left">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li class="has-drop-down">
                    <a href="/community">My community</a>
                    <div class="drop-down bottom-nav">
                        <div class="content clearfix">
                            <a href="/mentors">
                                <div class="description">
                                    <div class="cont">Mentors</div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/talents">
                                <div class="description">
                                    <div class="cont">Talents</div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/groups">
                                <div class="description">
                                    <div class="cont">
                                        Groups
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/community">
                                <div class="description">
                                    <div class="cont">Add New</div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/search">
                                <div class="description">
                                    <div class="cont">Find Mentors/Talents</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/jobs">Jobs</a>
                </li>
                <li ng-show="user.is_mentor">
                    <a href="/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- end of header -->

<div id="main" ng-cloak="loading">
    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <section class="main-wrapper pt-90 content">
        <div class="col-md-8">

            <div class="share-actions shadow clearfix">
                <div class="col-md-6 p-0">
                    <div class="share" data-toggle="modal" data-target="#postModal">
                        <span><i class="fa fa-quote-left" aria-hidden="true"></i></span>
                        <span>Post an update</span>
                    </div>
                </div>
                <div class="col-md-6 p-0 hidden-sm hidden-sm">
                    <div class="share" data-rippleria data-toggle="modal" data-target="#imageModal">
                        <span><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                        <span>Upload a photo</span>
                    </div>
                </div>
            </div>
            <div>
                <div ng-repeat="post in user.posts" class="content clearfix">
                    <div class="col-md-2 pl-0 hidden-sm hidden-xs">
                        <div ng-show="post.image_url" class="img shadow" style="background-image:url('{{post.image_url}}')" ng-cloak></div>
                        <div ng-hide="post.image_url" class="img" style="background-image:url('/static/images/avatar-profile.png')" ng-cloak></div>
                    </div>
                    <div class="col-md-2 p-0 hidden-lg hidden-md">
                        <div ng-show="post.image_url" class="img shadow" style="background-image:url('{{post.image_url}}')" ng-cloak></div>
                        <div ng-hide="post.image_url" class="img" style="background-image:url('/static/images/avatar-profile.png')" ng-cloak></div>
                    </div>

                    <div class="col-md-10 p-0">
                        <div class="info shadow">
                            <div class="post-section clearfix" style="background-color: whitesmoke">
                                <div class="name-section">
                                    <div class="name"><span ng-bind="post.poster"></span></div>
                                </div>
                                <div class="duration" style="font-size:9px" am-time-ago="post.dateadded">
                                </div>
                                <div class="clearfix"></div>
                                <div class="line"></div>
                                <div class="image-wrap">
                                    <a href="/posts/{{post.id}}">
                                        <div class="caption" style="color:black" ng-show="post.body != null">
                                            <ng-bind-html ng-bind-html="post.body"></ng-bind-html>
                                        </div>
                                        <div class="images" ng-show="post.image">
                                            <img src="{{post.image}}" width="100%" height="100%">
                                        </div>
                                    </a>
                                </div>
                                <div class="like" style="background-color: whitesmoke">
                                    <ul class="share-buttons" style="padding-left: 15px">
                                        <li style="zoom: 0.7;"><a href="" title="Share on Facebook" target="_blank" ng-click="shareFB(post.id)"><img alt="Share on Facebook" src="/static/images/flat_web_icon_set/color/Facebook.png"></a></li>
                                        <li style="zoom: 0.7;"><a href="" target="_blank" title="Tweet" ng-click="shareTweet(post.id)"><img alt="Tweet" src="/static/images/flat_web_icon_set/color/Twitter.png"></a></li>
                                        <li style="zoom: 0.7;"><a href="" target="_blank" title="Share on Google+" ng-click="shareGPlus(post.id)"><img alt="Share on Google+" src="/static/images/flat_web_icon_set/color/Google+.png"></a></li>
                                        <li style="zoom: 0.7;"><a href="" target="_blank" title="Share on LinkedIn" ng-click="shareIn(post.id)"><img alt="Share on LinkedIn" src="/static/images/flat_web_icon_set/color/LinkedIn.png"></a></li>
                                        <li style="zoom: 0.7;"><a href="" target="_blank" title="Send email" ng-click="shareMail(post.id)"><img alt="Send email" src="/static/images/flat_web_icon_set/color/Email.png"></a></li>
                                        <li class="with-icon pull-right" style="font-size: 16px">
                                            <a href="" ng-hide="checkPost(post.id) || post.click" ng-click="likePost(post.id)">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </a>
                                            <a href="" ng-show="checkPost(post.id) || post.unclick" ng-click="unLike(post.id)">
                                                <i style="color: red;" class="fa fa-heart" aria-hidden="true"></i>
                                            </a>
                                            <a href="/posts/{{post.id}}/likes" style="color: green"><span ng-bind="post.likes"></span> Likes</a>
                                            <a>
                                                <i class="fa fa-comment" aria-hidden="true"></i>
                                                <span ng-bind="post.comments"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comment-section" style="background-color: whitesmoke">
                                    <a href="" ng-hide="post.show" style="margin-bottom: 5px" ng-click="showComments(post.id)" class="title">Show previous comments&nbsp;<i class="fa fa-caret-down"></i></a>
                                    <a href="" ng-show="post.show" style="margin-bottom: 5px" ng-click="hideComments(post.id)" class="title">Hide comments&nbsp;<i class="fa fa-caret-down"></i></a>
                                    <div ng-repeat="com in post.comment" class="comment clearfix" style="padding-bottom: 10px">
                                        <div class="user-img">
                                            <div ng-hide="com.image_url" class="img" style="background-image: url('/static/images/avatar-profile.png')"></div>
                                            <div ng-show="com.image_url" class="img" style="background-image: url('{{com.image_url}}')"></div>
                                        </div>
                                        <div class="content">
                                            <a href="/public/{{com.username}}" ng-bind="com.name"></a> <span ng-bind="com.body"></span>

                                            <!--<ul>-->
                                            <!--<li><a href="">Like .</a></li>-->
                                            <!--<li><a href="">Reply .</a></li>-->
                                            <!--<li class="with-icon"><a href=""><i class="fa fa-thumbs-up"-->
                                            <!--aria-hidden="true"></i> <span>5</span></a>-->
                                            <!--</li>-->
                                            <!--</ul>-->
                                        </div>
                                    </div>
                                    <div ng-show="post.new_comment" class="comment clearfix" style="padding-bottom: 10px">
                                        <div class="user-img">
                                            <div ng-hide="post.new_comment.image_url" class="img" style="background-image: url('/static/images/avatar-profile.png')"></div>
                                            <div ng-show="post.new_comment.image_url" class="img" style="background-image: url('{{post.new_comment.image_url}}')"></div>
                                        </div>
                                        <div class="content">
                                            <a href="/public/{{post.new_comment.username}}" ng-bind="post.new_comment.name"></a> <span ng-bind="post.new_comment.body"></span>
                                        </div>
                                    </div>
                                    <form method="post" ng-submit="comPost(post.id, post.text)">
                                        <input style="height: 40px" type="text" class="form-control" ng-model="post.text" placeholder="Add a comment..." required><br>
                                        <button type="button" ng-show="post.addedby == user.email" ng-click="deletePost(post.id)" class="btn btn-xs btn-danger pull-left">Delete</button>
                                        <button type="submit" class="btn btn-xs btn-primary pull-right">Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="user.posts.length == 0" class="share-actions shadow clearfix" ng-cloak>
                <div class="col-md-12 p-0">
                    <div class="share backgrnd" style="height: 200px; background-color: white; color: black">
                        <div class="overlay">
                            <span style="font-size: 66px"><i class="fa fa-smile-o" aria-hidden="true"></i></span><br>
                            <h3>Welcome to Talents & Mentors</h3>
                            <small><em>We are very happy to have you here.</em> Below are some activities to get your gears
                                spinning
                            </small>
                        </div>
                    </div>
                    <br><br>
                    <a href="/jobs">
                        <div class="share col-md-4 p-0" style="background-color: white">
                            <span><i class="fa fa-search-plus" aria-hidden="true"></i> </span>
                            <span>Find a Job</span>
                        </div>
                    </a>
                    <a href="/community">
                        <div class="share col-md-4 p-0" style="background-color: white">
                            <span><i class="fa fa-users" aria-hidden="true"></i></span>
                            <span>Explore the community</span>
                        </div>
                    </a>
                    <a ng-hide="user.is_mentor" href="/mentors">
                        <div class="share col-md-4 p-0" style="background-color: white">
                            <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            <span>Find a Mentor</span>
                        </div>
                    </a>
                    <a ng-show="user.is_mentor" href="/talents">
                        <div class="share col-md-4 p-0" style="background-color: white">
                            <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            <span>Find Talents</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-0 hidden-sm hidden-xs" ng-cloak>
            <div class="fixed-section" style="zoom:1">
                <div class="front shadow" style="height:260px" ng-show="user.recommendations.length > 1">
                    <div class="title clearfix">
                        <div class="name-section">
                            <div class="name">
                                <span style="color:black"><strong>People You May Know</strong></span>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="person in user.recommendations" class="d-info" style="margin-left: 20px">
                        <div class="comment clearfix">
                            <div class="user-img" style="height: 0">
                                <div>
                                    <a href="/public/{{person.username}}" style="margin-left: -15px; color: #000;"><img width="60px" height="60px" ng-show="person.image_url" src="{{person.image_url}}"></a>
                                    <a href="/public/{{person.username}}" style="font-size: 40px; margin-left: 20px; color: #000;"><i ng-hide="person.image_url"></i> </a>
                                </div>
                            </div>
                            <div class="content">
                                <h5 class="text-capitalize" style="color:black" ng-bind="person.name"></h5>
                                <a ng-click="selectContact(person)" class="btn btn-xs btn-success" data-rippleria
                                   data-rippleria-color="#fbfbfb" href="" data-toggle="modal" data-target="#connectModal"
                                   ng-hide="checkConnection(person.email)">Connect</a>
                                <a ng-show="checkConnection(person.email)" data-toggle="modal"
                                   data-target="#messageModal" ng-click="selectRecipient(person)" href=""
                                   class="btn btn-xs btn-success" ng-cloak>Message</a>
                                <!--<a class="btn btn-xs btn-primary" data-rippleria data-rippleria-color="#fbfbfb"-->
                                <!--href="/public/{{person.username}}">View Profile</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add shadow" style="margin-top: 80px"
                     ng-hide="user.is_mentor || requested == 'accepted' && !loading" ng-cloak>
                    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
                    <div ng-show="message.success" style="color: green">{{message.success}}</div>
                    <div class="name-section">
                        <div class="name">
                            <a href="" data-toggle="modal" data-target="#menu">Request to be a mentor</a>
                        </div>
                    </div>
                    <div ng-hide="requested == 'requested' || requested == 'accepted'">
                        <div class="clearfix"></div>
                        <div class="line"></div>
                        <div class="add-image" style="background-image: url('/static/images/community.jpg')"></div>
                        <br>
                        <div ng-show="request_text">
                            <form ng-submit="postMentor()" method="post">
                                <textarea class="form-control" cols="30" rows="5" ng-model="request_message"
                                          placeholder="Enter request text here" required></textarea><br>
                                <button type="submit" class="btn btn-sm btn-primary pull-right" data-rippleria><i
                                        class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;Request</button>
                            </form>

                        </div>
                        <a href="" ng-click="requestMentor()" type="submit" ng-hide="request_text" class="connect" data-rippleria><i
                                class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp; Request</a>

                    </div>
                    <div ng-show="requested == 'requested'">
                        <div class="clearfix"></div>
                        <div class="line"></div>
                        <div class="add-image"
                             style="background-image: url('/static/images/sent.png'); height: 200px"></div>
                    </div>
                </div>
                <div class="add shadow" ng-show="user.is_mentor && !loading" style="margin-top: 80px" ng-cloak>
                    <div class="name-section">
                        <div class="name"><a href="/talents">Connect with talents</a></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="line"></div>
                    <div class="add-image" style="background-image: url('images/new.jpg')"></div>
                    <a class="connect" href="/talents" data-rippleria><i class="fa fa-paper-plane"></i> Connect</a>
                </div>
                <div ng-hide="request_text" class="add shadow" style="margin-top: 19em; background: transparent; background: #fff;padding-top: 18px;">
                    <a style="color: black" href="/about"><strong>About</strong></a> |
                    <a style="color: black" href=""><strong>Privacy Policy</strong></a> |
                    <a style="color: black" href="/guide"><strong>Mentor Guide</strong></a> |
                    <a style="color: black" href=""><strong>Terms of Use</strong></a>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="imageModalLabel">Upload a Photo</h4>
            </div>
            <div class="modal-body">
                <form novalidate>
                    <div>
                        <p>
                            <button type="file" ngf-select="uploadFiles($files)" ngf-multiple="true">Select File
                            </button>
                        </p>
                    </div>
                    <div ng-show="Files.length > 0">
                        <div ng-repeat="file in Files">File:
                            <div>{{file.name}} {{file.$error}} {{file.$errorParam}}</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                     aria-valuemax="100" style="width: {{file.Progress}}%;">
                                    {{file.Progress | number:0}}%
                                </div>
                            </div>
                            <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">
                                Processing, please wait...
                            </div>
                            <div class="alert alert-success" role="alert" ng-show="file.Success">Upload Complete!</div>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                            Oooops we had trouble uploading the file. Please refresh the page and try again.
                            <p>If the problem persits please supply us with the following details</p>
                            <p>{{errorMsg}}</p>
                        </div>
                        <div>{{Error}}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="ModalLabel">Share What's on your mind</h4>
            </div>
            <div class="modal-body">
                <form novalidate>
                    <div class="form-group">
                        <!--<label for="text"></label>-->
                        <!--<textarea class="form-control" id="text" ng-model="text" rows="5"></textarea>-->
                        <summernote config="options" ng-model="text">
                            <span style="font-weight: bold;"></span>
                        </summernote>
                    </div>
                    <div>
                        <p>
                            <button type="file" ngf-select="uploadFiles($files)">Select File</button>
                            <button ng-click="sharePost()" ng-hide="Files.length > 0" class="btn btn-xs btn-primary pull-right">Share</button>
                        </p>
                    </div>
                    <div ng-repeat="file in Files">
                        File:
                        <div>{{file.name}} {{file.$error}} {{file.$errorParam}}</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{file.Progress}}%;">
                                {{file.Progress | number:0}}%
                            </div>
                        </div>
                        <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">
                            Processing, please wait...
                        </div>
                        <div class="alert alert-success" role="alert" ng-show="file.Success">Upload Complete!</div>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                        Oooops we had trouble uploading the file. Please refresh the page and try again.
                        <p>If the problem persits please supply us with the following details</p>
                        <p>{{errorMsg}}</p>
                    </div>
                    <div>{{Error}}</div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="articleModal" tabindex="-1" role="dialog" aria-labelledby="articleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Work Experience</h4>
            </div>
            <div class="modal-body">
                <form method="post" ng-submit="AddExperience()">
                    <div class="form-group">
                        <label>Company Name</label>
                        <input type="text" class="form-control" ng-model="company" placeholder="Ake Incorporated">
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control" ng-model="loc" placeholder="Abuja, Nigeria">
                    </div>
                    <div class="form-group">
                        <label>From</label>
                        <input type="text" class="form-control" ng-model="startdate"
                               placeholder="Enter graduation year">
                    </div>
                    <div class="form-group">
                        <label>To</label>
                        <input type="text" class="form-control" ng-model="enddate" placeholder="Enter graduation year">
                    </div>
                    <div class="form-group">
                        <label>Position</label>
                        <input type="text" class="form-control" ng-model="title" placeholder="Chemical Engineer">
                    </div>
                    <div class="form-group">
                        <label>Describe Role</label>
                        <textarea class="form-control" ng-model="desc" name="desc" rows="6"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="connectModalLabel">Request Connection</h4>
            </div>
            <div class="modal-body">
                <form method="post" ng-submit="sendRequest()">
                    <div class="form-group">
                        <label for="connect_message">Short Message</label>
                        <textarea class="form-control" ng-model="connect_message" id="connect_message" rows="3"
                                  placeholder="Hi, kindly connect with me on Talents & Mentors. Thanks."></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="messageModalLabel">Send Message</h4>
            </div>
            <form method="post" ng-submit="sendMessage()">
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" ng-model="text_message" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="requestModalLabel">Accept connection request</h4>
            </div>
            <div class="modal-body">
                <form method="post" ng-submit="sendRequest()">
                    <div class="form-group">
                        <label>Short Message</label>
                        <textarea class="form-control" ng-model="message" rows="2"
                                  placeholder=""
                                  required disabled>{{requester.name}} is trying to connect with you</textarea>
                        <div class="text-center">
                            <button class="btn btn-xs btn-success">Accept</button>
                            <button class="btn btn-xs btn-danger">Reject</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
                {{requester.name}} wants to connect with you.
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/js/trumbowyg.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<script type="text/javascript" src="/static/js/application.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');

    $(document).ready(function () {
        $('.messageLaunch').click(function () {
            $('.messageContainer').show();
            $('.messageContainer').addClass('animated fadeInUp animationFix');
            $('.messageLaunch').hide()

        });

        $('.closed').click(function () {
            $('.messageLaunch').show();
            $('.messageContainer').removeClass('animated fadeInUp animationFix');
            $('.messageContainer').hide()

        })
    });

    $('#textarea').trumbowyg({});

    $(".messageArea").attr({ scrollTop: $(".messageArea").attr("scrollHeight") });
</script>
</body>
</html>