<!doctype html>
<html class="no-js" lang="" ng-app="primeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Group | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/date-picker.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
    <!---->
</head>
<body ng-app="primeApp" ng-controller="GroupController" ng-init="init_individual()">

<header>
    <div class="top-section">
        <div class="main-wrapper clearfix">
            <div class="logo">
                <a href="/">Talents&Mentors</a>
            </div>
            <div class="notification-section">
                <ul>
                    <li ng-show="notifications.length > 0" class="has-drop-down">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <div class="drop-down flag">
                            <div class="title clearfix">
                                <span class="message">Notifications</span>
                            </div>
                            <div ng-repeat="note in notifications" class="content clearfix">
                                <div class="img-wrap">
                                    <div class="img" style="background-image: url('/static/images/avatar-profile.png')"></div>
                                </div>
                                <div class="description">
                                    <div class="t1">
                                        <a href="/notifications/{{note.uniqueid}}" ng-bind="note.actor"></a>
                                    </div>
                                    <div class="t2" ng-bind="note.subject"></div>
                                    <div class="cont" ng-bind="note.message"></div>
                                    <span class="time" ng-bind="note.id | date"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-drop-down">
                        <div>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="drop-down profile">
                            <div class="title clearfix">
                                <span class="message" ng-bind="user.data.name"></span>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/connections">My Connections</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-object-group" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/group">My Groups</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/private/mentors">My Mentors</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/profile">Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i style="color: red" class="fa fa-close" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont">
                                        <a href="/logout">Sign Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="search-section clearfix">
                <form class="form" method="get" action="/search">
                    <div class="search clearfix">
                        <div class="form">
                            <input type="text" name="q" id="q" ng-model="search_q" placeholder="Search for people, Jobs, Companies and more..." style="color:black">
                        </div>
                    </div>
                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="main-wrapper clearfix">
            <ul class="left">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li class="has-drop-down">
                    <a href="/community">My community</a>
                    <div class="drop-down bottom-nav">
                        <div class="content clearfix">
                            <a href="/mentors">
                                <div class="description">
                                    <div class="cont">
                                        Mentors
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/talents">
                                <div class="description">
                                    <div class="cont">
                                        Talents
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/groups">
                                <div class="description">
                                    <div class="cont">
                                        Groups
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/community">
                                <div class="description">
                                    <div class="cont">
                                        Add New
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/search">
                                <div class="description">
                                    <div class="cont">
                                        Find Mentors/Talents
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/jobs">Jobs</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div id="menu" class="collapse menu-links hidden-md hidden-lg">
    <ul>
        <li>
            <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
            <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
            <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
            <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
            <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
            <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
            <a href="/profile"><i class="fa fa-user-md"></i>Profile</a>
            <a href="/messages"><i class="fa fa-comments-o"></i>Messages</a>
            <a href="/logout"><i class="fa fa-close"></i>Sign Out</a>
        </li>
    </ul>
</div>

<div id="main">
    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <div id="profile-wrapper">
        <div class="banner" style="background-image: url('/static/images/Groups-Movements.jpg')">
            <div class="main-wrapper">
                <div class="group-sum clearfix">
                    <div class="profile-image-section clearfix">
                        <h3 class="text-center" ng-bind="group.data.name"></h3>
                        <p class="text-center" ng-bind="group.data.description"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content main-wrapper clearfix">
            <div class="col-md-9 p-0 ">
                <div class="info-section">
                    <div class="summery-section">
                        <div class="content">
                            <div ng-repeat="post in group.posts" class="content clearfix">
                                <div class="col-md-2 pl-0">
                                    <div class="img shadow" style="background-image:url('{{post.image_url}}')"></div>
                                </div>
                                <div class="col-md-10 p-0">
                                    <div class="info shadow">
                                        <div class="post-section clearfix">
                                            <div class="name-section">
                                                <div class="name"><a href="" ng-bind="post.poster"></a></div>
                                            </div>
                                            <div class="duration" style="font-size:9px" am-time-ago="post.dateadded">
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="line"></div>
                                            <div class="image-wrap">
                                                <div class="caption" ng-show="post.body != null" ng-bind="post.body"></div>
                                                <div class="images">
                                                    <img src="{{post.image}}" style="width: 100%; height: 100%">
                                                </div>
                                            </div>
                                            <div class="like">
                                                <ul>
                                                    <li><a href="">Share .</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="group.posts.length == 0" class="text-center" style="padding-top: 20px; padding-bottom: 20px">
                                <strong>No current posts on this group</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pr-0">
                <div class="extra-section">
                    <div>
                        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#postModal">Post Message/Link</button>
                    </div>
                    <div class="title">Admin</div>

                    <div class="common-friends clearfix">
                        <div ng-show="group.admin.image_url" class="image" style="background-image: url('{{group.admin.image_url}}')"></div>
                        <div ng-hide="group.admin.image_url" class="image" style="background-image: url('/static/images/avatar-profile.png')"></div>
                        <div class="content">
                            <div class="name" ng-bind="group.admin.name"></div>
                            <div class="ocupation" ng-bind="group.admin.industry"></div>
                            <a class="btn btn-xs btn-primary" href="/public/{{group.admin.username}}">View Profile</a>
                        </div>
                    </div>
                </div>

                <div class="extra-section">
                    <div class="title">Members</div>

                    <div ng-repeat="rec in members" class="common-friends clearfix">
                        <div ng-show="rec.image_url" class="image" style="background-image: url('{{rec.image_url}}')"></div>
                        <div ng-hide="rec.image_url" class="image" style="background-image: url('/static/images/avatar-profile.png')"></div>
                        <div class="content">
                            <div class="name" ng-bind="rec.name"></div>
                            <div class="ocupation" ng-bind="rec.industry"></div>
                            <a class="btn btn-xs btn-primary" href="/public/{{rec.username}}">View Profile</a>
                        </div>
                    </div>
                    <div ng-show="members.length == 0" class="text-center" style="padding-top: 20px; padding-bottom: 20px">
                        <strong>No current members</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Summary modal-->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="messageModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                <form method="post" ng-submit="sendMessage()">
                    <div class="form-group">
                        <textarea class="form-control" ng-model="message" rows="6"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="ModalLabel">Share What's on your mind</h4>
            </div>
            <div class="modal-body">
                <form novalidate>
                    <div class="form-group">
                        <label for="text"></label>
                        <textarea class="form-control" id="text" ng-model="text" rows="5"></textarea>
                    </div>
                    <div>
                        <p>
                            <button type="file" ngf-select="uploadFiles($files)">Select File</button>
                        </p>
                    </div>
                    <div ng-repeat="file in Files">
                        File:
                        <div>{{file.name}} {{file.$error}} {{file.$errorParam}}</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{file.Progress}}%;">
                                {{file.Progress | number:0}}%
                            </div>
                        </div>
                        <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">
                            Processing, please wait...
                        </div>
                        <div class="alert alert-success" role="alert" ng-show="file.Success">Upload Complete!</div>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                        Oooops we had trouble uploading the file. Please refresh the page and try again.
                        <p>If the problem persits please supply us with the following details</p>
                        <p>{{errorMsg}}</p>
                    </div>
                    <div>{{Error}}</div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Change Profile Image</h4>
            </div>
            <div class="modal-body">
                <form novalidate>
                    <div>
                        <p>
                            <button type="file" ngf-select="uploadFiles($files)" ngf-multiple="true">
                                Select File
                            </button>
                        </p>
                    </div>
                    <div ng-show="Files.length > 0">
                        <div ng-repeat="file in Files">
                            File:
                            <div>
                                {{file.name}} {{file.$error}} {{file.$errorParam}}
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{file.Progress}}%;">
                                    {{file.Progress | number:0}}%
                                </div>
                            </div>
                            <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">Processing, please wait...</div>
                            <div class="alert alert-success" role="alert" ng-show="file.Success">Upload Complete!</div>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                            Oooops we had trouble uploading the file. Please refresh the page and try again.
                            <p>If the problem persits please supply us with the following details</p>
                            <p>{{errorMsg}}</p>
                        </div>
                        <div>{{Error}}</div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins.js"></script>
    <script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/date-picker.min.js"></script>
    <script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-cookie.js"></script>
    <script src="/static/js/angular-facebook.js"></script>
    <script src="/static/js/ng-file-upload.js"></script>
    <script src="/static/js/aws-sdk.min.js"></script>
    <script src="/static/js/summer-note.min.js"></script>
    <script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
    <script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/angular-moment.min.js"></script>
    <script src="/static/js/angular-aria.min.js"></script>
    <script src="/static/js/angular-messages.min.js"></script>
    <script src="/static/js/angular-material.min.js"></script>
    <script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
    <script src="/static/js/ngAutocomplete.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/static/js/application.js"></script>
    <!--<script src="/socket.io/socket.io.js"></script>-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(){})
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
        $(document).ready(function(){
            var date_input=$('input[name="date"]'); //our date input has the name "date"
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            var options={
                format: 'yyyy-mm-dd',
                container: container,
                todayHighlight: true,
                autoclose: true,
            };
            date_input.datepicker(options);
        })
    </script>
</body>
</html>