<!doctype html>
<html class="no-js" lang="" ng-app="primeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jobs | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="static/css/normalize.css"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="static/css/font/font.css"/>
    <link rel="stylesheet" href="static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="static/css/login.css"/>
    <link rel="stylesheet" href="static/css/signup.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="static/css/jobs.css"/>
    <link rel="stylesheet" href="static/css/profile.css"/>
    <link rel="stylesheet" href="static/css/home.css"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/pure-css-loader/dist/css-loader.css">
    <!---->
</head>
<body ng-controller="JobController" ng-init="init()">

<div class="clearfix">
    <header>
        <div class="top-section">
            <div class="main-wrapper clearfix">
                <div class="logo">
                    <a href="/">Talents&Mentors</a>
                </div>
                <div class="notification-section hidden-sm hidden-xs">
                    <ul>
                        <li ng-show="notifications.length > 0" class="has-drop-down">
                            <i class="fa fa-flag" aria-hidden="true"></i><span class="badge" style="background-color: red" ng-bind="notifications.length"></span>
                            <div class="drop-down flag">
                                <div class="title clearfix">
                                    <span class="message">Notifications</span>
                                </div>
                                <div ng-repeat="note in notifications" class="content clearfix">
                                    <div class="img-wrap">
                                        <div ng-show="note.image_url" class="img"
                                             style="background-image: url('{{note.image_url}}')"></div>
                                        <div ng-hide="note.image_url" class="img"
                                             style="background-image: url('/static/images/avatar-profile.png')"></div>
                                    </div>
                                    <div class="description">
                                        <a href="/notifications/{{note.id}}">
                                            <div class="t1">
                                                <span ng-bind="note.actor"></span>
                                            </div>
                                            <div class="t2" ng-bind="note.subject"></div>
                                            <div class="cont" ng-bind="note.message"></div>
                                            <!-- <span class="time" ng-bind="note.id | date"></span> -->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-hide="notifications.length > 0 || !user" class="has-drop-down">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            <div class="drop-down flag" style="background-color: white; color: black">
                                <div class="title clearfix">
                                    <span class="message">Notifications</span>
                                </div>
                                <h3 class="text-center">No Notifications</h3>
                            </div>
                        </li>
                        <li ng-show="user" class="has-drop-down">
                            <div>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="drop-down profile">
                                <div class="title clearfix">
                                    <span class="message" ng-bind="user.name"></span>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/connections">My Connections</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/messages">My Messages</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-object-group" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/group">My Groups</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-male" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/private/mentors">My Mentors</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/profile">Edit Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i style="color: red" class="fa fa-close" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont">
                                            <a href="/logout">Sign Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="search-section clearfix">

                <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </span>
                    <div class="search clearfix hidden-sm hidden-xs">
                        <form class="form" method="get" action="/search">
                            <input type="text" name="q" id="q"
                                   placeholder="Search for people, Jobs, Companies and more..." style="color: black">
                    </div>
                    <button class="hidden-sm hidden-xs"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom-section hidden-sm hidden-xs">
            <div class="main-wrapper clearfix">
                <ul class="left">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li class="has-drop-down">
                        <a href="/community"><span ng-show="user" ng-cloak>My </span>Community</a>
                        <div class="drop-down bottom-nav">
                            <div class="content clearfix">
                                <a href="/mentors">
                                    <div class="description">
                                        <div class="cont">
                                            Mentors
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/talents">
                                    <div class="description">
                                        <div class="cont">
                                            Talents
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/groups">
                                    <div class="description">
                                        <div class="cont">
                                            Groups
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/community">
                                    <div class="description">
                                        <div class="cont">
                                            Add New
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/search">
                                    <div class="description">
                                        <div class="cont">
                                            Find Mentors/Mentees
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/jobs">Jobs</a>
                    </li>
                    <li ng-show="user.is_mentor">
                        <a href="/dashboard">Dashboard</a>
                    </li>
                </ul>
                <ul ng-hide="user" class="right">
                    <li>
                        <a href="/register">SignUp</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu" class="collapse menu-links hidden-md hidden-lg">
            <ul>
                <li>
                    <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
                    <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
                    <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
                    <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
                    <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
                    <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
                    <a ng-show="user" href="/profile"><i class="fa fa-user-md"></i>Profile</a>
                    <a ng-show="user" href="/messages"><i class="fa fa-comments-o"></i>Messages</a>
                    <a ng-show="user" href="/logout"><i class="fa fa-close"></i>Sign Out</a>
                    <a ng-hide="user" href="/login"><i class="fa fa-user-secret"></i>&nbsp;Sign In</a>
                </li>
            </ul>
        </div>
    </header>

    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <div id="jobs" class="main-wrapper">
        <div class="content">
            <div class="col-md-12 clearfix">
                <div ng-show="jobs.data.length == 0 && user == undefined" class="signup-add">
                    <div class="title">
                        <span><i class="fa fa-user" aria-hidden="true"></i></span>
                        <span>Job Seekers</span>
                    </div>
                    <div class="content">
                        Looking for that special opportunity. Just signup here and join our ever expanding community to connect and improve yourself.
                        <div class="job-panel-wrap">
                            <div class="job-panel clearfix">
                                <div class="col-md-12 p-0">
                                    <div class="job-title-wrap">
                                        <div class="title">Join our ever expanding community</div>
                                        <div class="company">and have access to myriad of job opportunities posted by members of the community</div>
                                        <div style="float:right"><a style="color:white" class="btn btn-sm btn-success" href="/register">Join Us</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 clearfix">
                <div class="content">
                    <div ng-hide="jobs.data.length == 0" class="filter-wrap">
                        <div class="form-filters clearfix">
                            <div class="col-md-12 p-0">
                                <div class="keywords clearfix">
                                    <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                                    <form ng-submit="searchJob()">
                                        <input type="text" ng-model="search_q" placeholder="Job title, keywords">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="jobs.data.length == 0 && user != undefined" class="job-panel-wrap">
                        <a href="">
                            <div class="job-panel clearfix">
                                <div class="col-md-10 p-0">
                                    <div class="job-title-wrap">
                                        <div class="title">No jobs currently posted</div>
                                        <div class="company">Join our ever expanding community and post one.</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="job-panel-wrap" dir-paginate="job in jobs.data | itemsPerPage: jobs.PerPage" total-items="jobs.total" current-page="jobs.currentPage">
                        <a href="{{job.link}}">
                            <div class="job-panel clearfix">
                                <div class="col-md-1 p-0" style="margin-bottom: 10px;">
                                    <div class="img" style="background-image:url('/static/images/JOBS.jpg')"></div>
                                </div>
                                <div class="col-md-8 p-0" style="margin-bottom: 10px;">
                                    <div class="job-title-wrap">
                                        <div class="title" ng-bind="job.title"></div>
                                        <div ng-show="user" class="company" ng-bind="job.description"></div>
                                    </div>
                                </div>
                                <div class="col-md-3 p-0">
                                    <div class="price" am-time-ago="job.dateadded"></div>
                                    <div class="reward hidden-xs hidden-sm">Posted By: <span ng-bind="job.posted_by"></span></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                <div ng-show="user" class="signup-add">
                    <div class="title">
                        <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                        <span>Opportunities</span>
                    </div>
                    <div class="content">
                       Post a job here and afford other members of the Talents&Mentors community the oportunity to gain fulfilling employment.
                    </div>
                    <a href="" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#jobModal">Post A Job</a>
                </div>
                <div ng-show="jobs.data.length > 0 && user == undefined" class="signup-add" style="padding: 20px 20px 20px 20px">
                    <div class="title">
                        <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                        <span>Opportunities</span>
                    </div>
                    <div class="content">
                       Looking for that special opportunity. Just signup here and join our ever expanding community to connect and improve yourself.
                    </div>
                    <a href="/register" class="btn btn-xs btn-primary">Join Us</a>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="jobModal" tabindex="-1" role="dialog" aria-labelledby="jobModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Post A Job Opportunity</h4>
      </div>
      <div class="modal-body">
        <form method="post" ng-submit="AddJob()">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" ng-model="title" placeholder="e.g. Graduate Trainee" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" ng-model="description" id="description" rows="3" placeholder="A graduate trainee position" required></textarea>
          </div>
          <div class="form-group">
            <label for="link">Url</label>
            <input type="text" class="form-control" id="link" ng-model="link" placeholder="e.g. http://google.com.ng">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="static/js/plugins.js"></script>
<script type="text/javascript" src="static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="static/js/wow.min.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>