<!doctype html>
<html class="no-js" lang="" ng-app="primeApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="287893726188-1q4dve1oqtdr5v44ujpj7ma410m6e5qg.apps.googleusercontent.com">
    <title>Login | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
    <!---->
</head>
<body style="background-image: url(/images/bkgnd.jpg)">

<div id="main" ng-controller="LoginController" ng-init="init()">

    <div ng-show="loading" class="loader loader-default is-active" data-text></div>

    <div id="login">
        <div class="hidden-md hidden-lg" style="margin-top: 4em;"></div>
        <div class="login-wrap">
            <div class="form-section">
                <form method="post" ng-submit="loginUser()">
                    <div class="form-heading">Login</div>
                    <div ng-show="error" ng-cloak="error">
                        <small style="color: red">{{error}}</small>
                    </div>
                    <div class="form-wrap">
                        <span class="form-label">Username</span>
                        <input type="email" ng-model="username" name="username" id="username" placeholder="YOUR EMAIL ADDRESS" required>
                    </div>
                    <div class="form-wrap">
                        <span class="form-label">Password</span>
                        <input type="password" ng-model="password" name="password" id="password" placeholder="ENTER VALID PASSWORD" required>
                    </div>
                    <button data-rippleria class="login-submit btn-shadow" type="submit">Login</button>
                </form>
            </div>
            <div class="info-section hidden-xs hidden-sm">
                <div class="logo"><a href="/">Talents&Mentors</a></div>
                <div class="caption">
                    <p>Welcome to Talents&Mentors, the world's largest professional mentoring network.</p>
                </div>
                <a data-rippleria href="/register" class="sign-up btn-shadow">Register Now</a>
            </div>
        </div>
        <div class="social-login">
            <ul>
                <!--<li><a data-rippleria class="facebook btn-shadow" ng-click="facebookLogin()"><i class="fa fa-facebook"-->
                                                                             <!--aria-hidden="true"></i></a></li>-->
                <!--<li><a data-rippleria class="google btn-shadow" href=""><i class="fa fa-google-plus"-->
                                                                           <!--aria-hidden="true"></i></a></li>-->
                <!--<li><a data-rippleria class="linkedin btn-shadow" href="/oauth/linkedin"><i class="fa fa-linkedin"-->
                                                                             <!--aria-hidden="true"></i></a></li>-->
                <!--<li><fb:login-button scope="public_profile,email" onlogin="checkLoginState();">-->
                <!--</fb:login-button></li>-->
                <li class="g-signin2" data-onsuccess="onSignIn" id="google"></li>
            </ul>
        </div>
        <div class="outside-content">
            <ul>
                <li><a href="/forgot">Forgot your password?</a>|&nbsp;</li>
                <li><a href="/"> Back to Talents&Mentors</a></li>
                <li class="hidden-md hidden-lg"><a href="/register"> Register Now</a></li>
            </ul>
        </div>
    </div>

</div>

<!--<script>-->
    <!--// This is called with the results from from FB.getLoginStatus().-->
    <!--function statusChangeCallback(response) {-->
        <!--console.log(response);-->
        <!--if (response.status === 'connected') {-->
            <!--// Logged into your app and Facebook.-->
            <!--testAPI();-->
        <!--} else if (response.status === 'not_authorized') {-->
            <!--// The person is logged into Facebook, but not your app.-->
            <!--document.getElementById('status').innerHTML = 'Please log ' +-->
                    <!--'into this app.';-->
        <!--} else {-->
            <!--// The person is not logged into Facebook, so we're not sure if-->
            <!--// they are logged into this app or not.-->
            <!--document.getElementById('status').innerHTML = 'Please log ' +-->
                    <!--'into Facebook.';-->
        <!--}-->
    <!--}-->

    <!--function checkLoginState() {-->
        <!--FB.getLoginStatus(function(response) {-->
            <!--statusChangeCallback(response);-->
        <!--});-->
    <!--}-->

    <!--window.fbAsyncInit = function() {-->
        <!--FB.init({-->
            <!--appId      : '550680588469426',-->
            <!--xfbml      : true,-->
            <!--version    : 'v2.8',-->
            <!--cookie     : true-->
        <!--});-->

        <!--// Now that we've initialized the JavaScript SDK, we call-->
        <!--// FB.getLoginStatus().  This function gets the state of the-->
        <!--// person visiting this page and can return one of three states to-->
        <!--// the callback you provide.  They can be:-->
        <!--//-->
        <!--// 1. Logged into your app ('connected')-->
        <!--// 2. Logged into Facebook, but not your app ('not_authorized')-->
        <!--// 3. Not logged into Facebook and can't tell if they are logged into-->
        <!--//    your app or not.-->
        <!--//-->
        <!--// These three cases are handled in the callback function.-->

        <!--FB.getLoginStatus(function(response) {-->
            <!--statusChangeCallback(response);-->
        <!--});-->

    <!--};-->

    <!--// Load the SDK asynchronously-->
    <!--(function(d, s, id) {-->
        <!--var js, fjs = d.getElementsByTagName(s)[0];-->
        <!--if (d.getElementById(id)) return;-->
        <!--js = d.createElement(s); js.id = id;-->
        <!--js.src = "//connect.facebook.net/en_US/sdk.js";-->
        <!--fjs.parentNode.insertBefore(js, fjs);-->
    <!--}(document, 'script', 'facebook-jssdk'));-->

    <!--// Here we run a very simple test of the Graph API after login is-->
    <!--// successful.  See statusChangeCallback() for when this call is made.-->
    <!--function testAPI() {-->
        <!--console.log('Welcome!  Fetching your information.... ');-->
        <!--FB.api('/me?fields=email,education,first_name,gender,last_name,religion', function(response) {-->
            <!--console.log(response);-->
            <!--console.log('Successful login for: ' + response.name);-->
            <!--document.getElementById('status').innerHTML =-->
                    <!--'Thanks for logging in, ' + response.name + '!';-->
        <!--});-->
    <!--}-->
<!--</script>-->


<!--<div id="status">-->
<!--</div>-->
<!--<script type="in/Login"></script>-->
<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-route.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-animate.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-resource.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script src="/static/js/pouchdb.js"></script>
<script src="/static/js/pouchdb.memory.min.js"></script>
<script src="/static/js/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<!--<script src="/static/js/platform.js"></script>-->
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="/static/js/angular-idle.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<script type="text/javascript">

    window.onLoadCallback = function(){
        gapi.auth2.init({
            client_id: '287893726188-1q4dve1oqtdr5v44ujpj7ma410m6e5qg.apps.googleusercontent.com'
        }).then(function (authInstance) {
            // now auth2 is fully initialized
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            });
        });
    };


    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        angular.element(document.getElementById('google')).scope().googleSignIn(profile.getEmail(),profile.getId());
    }
</script>
<script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '550680588469426',
            cookie     : true,  // enable cookies to allow the server to access
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.8' // use graph api version 2.8
        });
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.name + '!';
        });
    }
</script>
</body>
</html>

