<!DOCTYPE html>
<html lang="en" ng-app="primeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Messages | Talents&Mentors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="/static/admin/css/font-awesome.css" rel="stylesheet">
    <link href="/static/admin/css/style.css" rel="stylesheet">
    <link href="/static/admin/css/pages/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
    <link href="/static/css/font-awesome/css/font-awesome.css" rel="stylesheet"/>
</head>
<body ng-controller="MessageController" ng-init="init()">
<header>
    <div class="top-section">
        <div class="main-wrapper clearfix">
            <div class="logo">
                <a href="/">Talents&Mentors</a>
            </div>
            <div class="notification-section hidden-phone" style="margin-top: 10px;">
                <ul>
                    <li ng-show="notifications.length > 0" class="has-drop-down">
                        <i class="fa fa-flag" aria-hidden="true"></i><span class="badge" style="background-color: red"
                                                                           ng-bind="notifications.length"></span>
                        <div class="drop-down flag">
                            <div class="title clearfix">
                                <span class="message">Notifications</span>
                            </div>
                            <div ng-repeat="note in notifications" class="content clearfix">
                                <div class="img-wrap">
                                    <div ng-show="note.image_url" class="img"
                                         style="background-image: url('{{note.image_url}}')"></div>
                                    <div ng-hide="note.image_url" class="img"
                                         style="background-image: url('/static/images/avatar-profile.png')"></div>
                                </div>
                                <div class="description">
                                    <a href="/notifications/{{note.id}}">
                                        <div class="t1">
                                            <span ng-bind="note.actor"></span>
                                        </div>
                                        <div class="t2" ng-bind="note.subject"></div>
                                        <div class="cont" ng-bind="note.message"></div>
                                        <!-- <span class="time" ng-bind="note.id | date"></span> -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li ng-hide="notifications.length > 0 || !user" class="has-drop-down">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <div class="drop-down flag" style="background-color: white; color: black">
                            <div class="title clearfix">
                                <span class="message">Notifications</span>
                            </div>
                            <h3 style="text-align: center; margin-top: 15px">No Notifications</h3>
                        </div>
                    </li>
                    <li ng-show="user" class="has-drop-down">
                        <div>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="drop-down profile">
                            <div class="title clearfix">
                                <span class="message" ng-bind="user.name"></span>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/connections">My Connections</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/messages">My Messages</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-object-group" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/group">My Groups</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/private/mentors">My Mentors</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/profile">Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i style="color: red" class="fa fa-close" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont">
                                        <a href="/logout">Sign Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="search-section clearfix">

                <span class="visible-phone" data-toggle="collapse" data-target="#menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </span>
                <form class="form" method="get" action="/search">
                    <div class="search clearfix hidden-sm hidden-xs">
                            <input type="text" name="q" id="q"
                                   placeholder="Search for people, Jobs, Companies and more..." style="color: black; width: 300px">
                        </div>
                    <button class="hidden-sm hidden-xs"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-section hidden-sm hidden-xs">
        <div class="main-wrapper clearfix">
            <ul class="left">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li class="has-drop-down">
                    <a href="/community"><span ng-show="user" ng-cloak>My </span>Community</a>
                    <div class="drop-down bottom-nav">
                        <div class="content clearfix">
                            <a href="/mentors">
                                <div class="description">
                                    <div class="cont">
                                        Mentors
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/talents">
                                <div class="description">
                                    <div class="cont">
                                        Talents
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/groups">
                                <div class="description">
                                    <div class="cont">
                                        Groups
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/community">
                                <div class="description">
                                    <div class="cont">
                                        Add New
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/search">
                                <div class="description">
                                    <div class="cont">
                                        Find Mentors/Mentees
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/jobs">Jobs</a>
                </li>
                <li ng-show="user.is_mentor">
                    <a href="/dashboard">Dashboard</a>
                </li>
            </ul>
            <ul ng-hide="user" class="right">
                <li>
                    <a href="/register">SignUp</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="menu" class="collapse menu-links hidden-md hidden-lg">
        <ul>
            <li>
                <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
                <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
                <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
                <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
                <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
                <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
                <a ng-show="user" href="/profile"><i class="fa fa-user-md"></i>Profile</a>
                <a ng-show="user" href="/messages"><i class="fa fa-comments-o"></i>Messages</a>
                <a ng-show="user" href="/logout"><i class="fa fa-close"></i>Sign Out</a>
                <a ng-hide="user" href="/login"><i class="fa fa-user-secret"></i>&nbsp;Sign In</a>
            </li>
        </ul>
    </div>
</header>
<!-- /navbar -->
<div class="main" style="border-bottom: none">
    <div class="main-inner">
        <div class="container">
            <div class="row" ng-show="connections.length > 0" style="margin-top: 80px">
                <!-- /span6 -->
                <div class="span4">
                    <!-- /widget -->
                    <div class="widget widget-nopad">
                        <div ng-show="connections.length > 0" class="widget-header">
                            <i class="icon-list-alt"></i>
                            <h3>Connections</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="news-items">
                                <li style="width: 100%;" ng-repeat="talent in connections"
                                    ng-click="selectRecipient(talent)" ng-show="talent.email">
                                    <div class="news-item-pic">
                                        <div ng-show="talent.image_url" class="img"
                                             style="background-image: url('{{talent.image_url}}')"></div>
                                        <div ng-hide="talent.image_url" class="img"
                                             style="background-image: url('/static/images/avatar-profile.png')"></div>
                                    </div>
                                    <div class="news-item-detail">
                                        <a href="/public/{{talent.username}}" target="_blank">
                                            <h4 class="news-item-title" style="color: black;" ng-bind="talent.name"></h4>
                                            <small ng-bind="talent.email" style="color: grey"></small>
                                            <p class="news-item-preview" ng-bind="talent.summary"></p>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
                <div class="span4" ng-show="account">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-comments"></i>
                            <h3 ng-bind="account.name"></h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content" style="max-height: 380px; min-height: 380px">
                            <ul class="messages_layout">
                                <li ng-repeat="convo in account.conversations"
                                    ng-class="convo.sender_email == user.email ? 'by_myself right' : 'from_user left'">
                                    <!--<div style="height: 4em; width: 2em">-->
                                        <!--<a ng-show="convo.sender_url" href="/public/{{sender_username}}"><img-->
                                                <!--width="100%" height="100%" src="{{convo.sender_url}}"/></a>-->
                                        <!--<a ng-hide="convo.sender_url" href="/public/{{sender_username}}"><img-->
                                                <!--width="100%" height="100%" src="/static/images/avatar-profile.png"/></a>-->
                                    <!--</div>-->
                                    <div class="message_wrap">
                                        <span class="arrow"></span>
                                        <div class="info">
                                            <a class="name" href="/public/{{sender_username}}" ng-bind="convo.sender_name"></a> <span class="time"
                                                                                                   am-time-ago="convo.createdAt"></span>
                                        </div>
                                        <div class="text" ng-bind="convo.text"></div>
                                    </div>
                                </li>
                                <br>
                                <div ng-hide="account.conversations.length > 0">
                                    <p class="text-center">No messages in conversation yet.</p>
                                </div>
                            </ul>
                        </div>
                        <div style="border-top: 1px solid whitesmoke">
                            <form class="form-group" method="post" ng-submit="sendMessage()">
                                <textarea class="form-control" rows="2" placeholder="Enter Message..."
                                          style="width: 100%; padding-left: 5px; margin-bottom: 5px" ng-model="text.msg"></textarea>
                                <button type="submit" class="btn btn-mini btn-success pull-right">Send</button>
                            </form>
                        </div>
                        <!-- /widget-content -->
                    </div>
                </div>
                <!-- /span6 -->
            </div>
            <div class="row" style="margin-top: 80px" ng-hide="connections.length > 0">
                <p class="text-center">No connections yet.</p>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<!-- /main -->
<!-- /extra -->

<!-- /footer -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/../static/admin/js/jquery-1.7.2.min.js"></script>
<script src="/../static/admin/js/excanvas.min.js"></script>
<script src="/../static/admin/js/chart.min.js" type="text/javascript"></script>
<script src="/../static/admin/js/bootstrap.js"></script>
<script language="javascript" type="text/javascript"
        src="/../static/admin/js/full-calendar/fullcalendar.min.js"></script>
<script src="/../static/admin/js/base.js"></script>
<script type="text/javascript" src="/../static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/../static/js/angular-cookie.js"></script>
<script src="/../static/js/angular-facebook.js"></script>
<script src="/../static/js/ng-file-upload.js"></script>
<script src="/../static/js/aws-sdk.min.js"></script>
<script src="/../static/js/summer-note.min.js"></script>
<script src="/../static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/../static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/../static/js/moment.min.js"></script>
<script src="/../static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/../static/js/angular-moment.min.js"></script>
<script src="/../static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/../static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
</body>
</html>
