<!doctype html>
<html class="no-js" lang="" ng-app="primeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title idle-disabled="true">Posts | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="static/css/normalize.css"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="static/css/font/font.css"/>
    <link rel="stylesheet" href="static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="static/css/login.css"/>
    <link rel="stylesheet" href="static/css/signup.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="static/css/jobs.css"/>
    <link rel="stylesheet" href="static/css/profile.css"/>
    <link rel="stylesheet" href="static/css/home.css"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/pure-css-loader/dist/css-loader.css">
    <!---->
</head>
<body ng-controller="PostsController" ng-init="init()">

<div class="clearfix">
    <header>
        <div class="top-section">
            <div class="main-wrapper clearfix">
                <div class="logo">
                    <a href="/">Talents&Mentors</a>
                </div>
                <div class="notification-section hidden-sm hidden-xs">
                    <ul>
                        <li ng-show="notifications.length > 0" class="has-drop-down">
                            <i class="fa fa-flag" aria-hidden="true"></i><span class="badge" style="background-color: red" ng-bind="notifications.length"></span>
                            <div class="drop-down flag">
                                <div class="title clearfix">
                                    <span class="message">Notifications</span>
                                </div>
                                <div ng-repeat="note in notifications" class="content clearfix">
                                    <div class="img-wrap">
                                        <div ng-show="note.image_url" class="img"
                                             style="background-image: url('{{note.image_url}}')"></div>
                                        <div ng-hide="note.image_url" class="img"
                                             style="background-image: url('/static/images/avatar-profile.png')"></div>
                                    </div>
                                    <div class="description">
                                        <a href="/notifications/{{note.id}}">
                                            <div class="t1">
                                                <span ng-bind="note.actor"></span>
                                            </div>
                                            <div class="t2" ng-bind="note.subject"></div>
                                            <div class="cont" ng-bind="note.message"></div>
                                            <!-- <span class="time" ng-bind="note.id | date"></span> -->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-hide="notifications.length > 0" class="has-drop-down">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            <div class="drop-down flag" style="background-color: white; color: black">
                                <div class="title clearfix">
                                    <span class="message">Notifications</span>
                                </div>
                                <h3 class="text-center">No Notifications</h3>
                            </div>
                        </li>
                        <li ng-show="user" class="has-drop-down">
                            <div>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="drop-down profile">
                                <div class="title clearfix">
                                    <span class="message" ng-bind="user.name"></span>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/connections">My Connections</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/messages">My Messages</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-object-group" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/group">My Groups</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-male" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/private/mentors">My Mentors</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/profile">Edit Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i style="color: red" class="fa fa-close" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont">
                                            <a href="/logout">Sign Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="search-section clearfix">

                <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </span>

                    <button type="submit" class="hidden-sm hidden-xs btn-shadow" style="float: right;" data-rippleria><i
                            class="fa fa-search" aria-hidden="true"></i></button>
                    <div class="search clearfix hidden-sm hidden-xs" style="float: right;">
                        <form class="form" method="get" action="/search">
                            <input type="text" name="q" id="q"
                                   placeholder="Search for people, Jobs, Companies and more..." style="color: black">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-section hidden-sm hidden-xs">
            <div class="main-wrapper clearfix">
                <ul class="left">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li class="has-drop-down">
                        <a href="/community"><span ng-show="user">My </span>Community</a>
                        <div class="drop-down bottom-nav">
                            <div class="content clearfix">
                                <a href="/mentors">
                                    <div class="description">
                                        <div class="cont">
                                            Mentors
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/talents">
                                    <div class="description">
                                        <div class="cont">
                                            Talents
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/groups">
                                    <div class="description">
                                        <div class="cont">
                                            Groups
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/community">
                                    <div class="description">
                                        <div class="cont">
                                            Add New
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/search">
                                    <div class="description">
                                        <div class="cont">
                                            Find Mentors/Mentees
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/jobs">Jobs</a>
                    </li>
                    <li ng-show="user.is_mentor">
                        <a href="/dashboard">Dashboard</a>
                    </li>
                </ul>
                <!--<ul ng-show="user" class="right">-->
                <!--<li>-->
                <!--<a href="/logout"><i class="fa fa-user"></i>&nbsp;&nbsp;Sign Out</a>-->
                <!--</li>-->
                <!--</ul>-->
                <ul ng-hide="user" class="right">
                    <li>
                        <a href="/register">SignUp</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu" class="collapse menu-links hidden-md hidden-lg">
            <ul>
                <li>
                    <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
                    <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
                    <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
                    <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
                    <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
                    <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
                    <a ng-show="user" href="/profile"><i class="fa fa-user"></i>&nbsp;Edit Profile</a>
                    <a ng-show="user" href="/messages"><i class="fa fa-comments-o"></i>&nbsp;Messages</a>
                    <a ng-show="user" href="/logout"><i class="fa fa-close"></i>&nbsp;Sign Out</a>
                    <a ng-hide="user" href="/login"><i class="fa fa-user-secret"></i>&nbsp;Sign In</a>
                </li>
            </ul>
        </div>
    </header>

    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <div id="jobs" class="main-wrapper">
        <div class="content">
            <!--<div class="col-md-12 clearfix">-->
                <!--<div ng-hide="user.posts.length > 0" class="signup-add">-->
                    <!--<div class="title">-->
                        <!--<span><i class="fa fa-user" aria-hidden="true"></i></span>-->
                        <!--<span>Job Seekers</span>-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--Looking for that special opportunity. Just signup here and join our ever expanding community to connect and improve yourself.-->
                        <!--<div class="job-panel-wrap">-->
                            <!--<div class="job-panel clearfix">-->
                                <!--<div class="col-md-12 p-0">-->
                                    <!--<div class="job-title-wrap">-->
                                        <!--<div class="title">Join our ever expanding community</div>-->
                                        <!--<div class="company">and have access to myriad of job opportunities posted by members of the community</div>-->
                                        <!--<div style="float:right"><a style="color:white" class="btn btn-sm btn-success" href="/register">Join Us</a></div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-md-9 clearfix">
                <div class="content">
                    <!--<div ng-show="user.posts.length > 0" class="filter-wrap">-->
                        <!--<div class="form-filters clearfix">-->
                            <!--<div class="col-md-12 p-0">-->
                                <!--<div class="keywords clearfix">-->
                                    <!--<div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>-->
                                    <!--<form ng-submit="searchPost()">-->
                                        <!--<input type="text" ng-model="search_q" placeholder="Post message, keywords">-->
                                    <!--</form>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div ng-hide="user.posts.length > 0" class="job-panel-wrap">
                        <a href="">
                            <div class="job-panel clearfix">
                                <div class="col-md-10 p-0">
                                    <div class="job-title-wrap">
                                        <div class="title">No posts currently posted</div>
                                        <div class="company">Join our ever expanding community and post one.</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--<div class="job-panel-wrap" dir-paginate="job in jobs.data | itemsPerPage: jobs.PerPage" total-items="jobs.total" current-page="jobs.currentPage">-->
                    <!--<div class="job-panel-wrap" ng-repeat="post in user.posts">-->
                        <!--<a href="/posts/{{post.id}}">-->
                            <!--<div class="job-panel clearfix">-->
                                <!--<div class="col-xs-1 p-0">-->
                                    <!--<div class="img" style="background-image:url('/static/images/JOBS.jpg')"></div>-->
                                <!--</div>-->
                                <!--<div class="col-xs-8 p-0">-->
                                    <!--<div class="job-title-wrap">-->
                                        <!--<div class="title" ng-bind="job.title"></div>-->
                                        <!--<div class="company" ng-bind="post.body"></div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-xs-3 p-0">-->
                                    <!--<div class="price" am-time-ago="job.dateadded"></div>-->
                                    <!--<div class="reward hidden-xs hidden-sm">Posted By: <span ng-bind="job.posted_by"></span></div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                    <div ng-repeat="post in user.posts" class="content clearfix">
                        <div class="col-md-2 pl-0">
                            <div ng-show="post.image_url" class="img shadow" style="background-image:url('{{post.image_url}}')"></div>
                            <div ng-hide="post.image_url" class="img shadow" style="background-image:url('/static/images/avatar-profile.png')"></div>
                        </div>
                        <div class="col-md-10 p-0">
                            <div class="info shadow">
                                <div class="post-section clearfix" style="background-color: whitesmoke">
                                    <div class="name-section">
                                        <div class="name"><a href="" ng-bind="post.poster"></a></div>
                                    </div>
                                    <div class="duration" style="font-size:9px" am-time-ago="post.dateadded">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="line"></div>
                                    <div class="image-wrap">
                                        <a href="/posts/{{post.id}}">
                                            <div class="caption" style="color:black" ng-show="post.body != null">
                                                <ng-bind-html ng-bind-html="post.body"></ng-bind-html>
                                            </div>
                                            <div class="images" ng-show="post.image">
                                                <img src="{{post.image}}" width="100%" height="100%">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="comment-section" style="background-color: whitesmoke">
                                        <button type="button" ng-click="deletePost(post.id)" class="btn btn-xs btn-danger pull-left">Delete</button>
                                        <a href="" ng-click="selectPost(post)" style="margin-left: 5px" data-toggle="modal" data-target="#postModal" class="btn btn-xs btn-primary pull-right">Edit</a>
                                        <button type="button" ng-show="post.status" ng-click="banPost(post.id)" class="btn btn-xs btn-warning pull-right">Ban</button>
                                        <button type="button" ng-hide="post.status" ng-click="activatePost(post.id)" class="btn btn-xs btn-success pull-right">Activate</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-0">
                <!--<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>-->
                <div class="signup-add">
                    <div class="title">
                        <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                        <span>Invite Friends</span>
                    </div>
                    <a href="/invite" class="btn btn-xs btn-primary">Invite</a>
                </div>
                <!--<div ng-show="user.posts.length > 0" class="signup-add" style="padding: 20px 20px 20px 20px">-->
                    <!--<div class="title">-->
                        <!--<span><i class="fa fa-briefcase" aria-hidden="true"></i></span>-->
                        <!--<span>Opportunities</span>-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--Looking for that special opportunity. Just signup here and join our ever expanding community to connect and improve yourself.-->
                    <!--</div>-->
                    <!--<a href="/register" class="btn btn-xs btn-primary">Join Us</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="ModalLabel">Share What's on your mind</h4>
            </div>
            <div class="modal-body">
                <form novalidate>
                    <div class="form-group">
                        <label for="text"></label>
                        <textarea class="form-control" id="text" ng-model="edited.body" rows="5"></textarea>
                    </div>
                    <div>
                        <p>
                            <button type="file" ngf-select="uploadFiles($files)">Replace File</button>
                            <button ng-click="updatePost()" ng-hide="Files.length > 0" class="btn btn-xs btn-primary pull-right">Share</button>
                        </p>
                    </div>
                    <div ng-repeat="file in Files">
                        File:
                        <div>{{file.name}} {{file.$error}} {{file.$errorParam}}</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{file.Progress}}%;">
                                {{file.Progress | number:0}}%
                            </div>
                        </div>
                        <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">
                            Processing, please wait...
                        </div>
                        <div class="alert alert-success" role="alert" ng-show="file.Success">Upload Complete!</div>
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                        Oooops we had trouble uploading the file. Please refresh the page and try again.
                        <p>If the problem persits please supply us with the following details</p>
                        <p>{{errorMsg}}</p>
                    </div>
                    <div>{{Error}}</div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/js/trumbowyg.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>