<!doctype html>
<html class="no-js" lang="" ng-app="primeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Profile | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/date-picker.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
    <!---->
</head>
<body ng-app="primeApp" ng-controller="ProfileController" ng-init="init()" ng-cloak="loading">

<!-- <header>
    <div class="top-section">
        <div class="main-wrapper clearfix">
            <div class="logo">
                <a href="/">Talents&Mentors</a>
            </div>
            <div class="notification-section">
                <ul>
                    <li ng-show="notifications.length > 0" class="has-drop-down">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <div class="drop-down flag">
                            <div class="title clearfix">
                                <span class="message">Notifications</span>
                            </div>
                            <div ng-repeat="note in notifications" class="content clearfix">
                                <div class="img-wrap">
                                    <div class="img" style="background-image: url('/static/images/avatar-profile.png')"></div>
                                </div>
                                <div class="description">
                                    <div class="t1">
                                        <a href="/notifications/{{note.uniqueid}}" ng-bind="note.actor"></a>
                                    </div>
                                    <div class="t2" ng-bind="note.subject"></div>
                                    <div class="cont" ng-bind="note.message"></div>
                                    <span class="time" ng-bind="note.id | date"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-drop-down">
                        <div>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="drop-down profile">
                            <div class="title clearfix">
                                <span class="message" ng-bind="user.name"></span>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/connections">My Connections</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-object-group" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/group">My Groups</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/private/mentors">My Mentors</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/profile">Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i style="color: red" class="fa fa-close" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont">
                                        <a href="/logout">Sign Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="search-section clearfix">
                <form class="form" method="get" action="/search">
                    <div class="search clearfix">
                        <div class="form">
                            <input type="text" name="q" id="q" ng-model="search_q" placeholder="Search for people, Jobs, Companies and more..." style="color:black">
                        </div>
                    </div>
                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="main-wrapper clearfix">
            <ul class="left">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li class="has-drop-down">
                    <a href="/community">My community</a>
                    <div class="drop-down bottom-nav">
                        <div class="content clearfix">
                            <a href="/mentors">
                                <div class="description">
                                    <div class="cont">
                                        Mentors
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/talents">
                                <div class="description">
                                    <div class="cont">
                                        Talents
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/groups">
                                <div class="description">
                                    <div class="cont">
                                        Groups
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/community">
                                <div class="description">
                                    <div class="cont">
                                        Add New
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/search">
                                <div class="description">
                                    <div class="cont">
                                        Find Mentors/Talents
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/jobs">Jobs</a>
                </li>
                <li ng-show="user.is_mentor">
                    <a href="/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</header> -->

<header>
    <div class="top-section">
        <div class="main-wrapper clearfix">
            <div class="logo">
                <a href="/">Talents&Mentors</a>
            </div>
            <div class="notification-section hidden-sm hidden-xs">
                <ul>
                    <li ng-show="notifications.length > 0" class="has-drop-down">
                        <i class="fa fa-flag" aria-hidden="true"></i><span class="badge" style="background-color: red" ng-bind="notifications.length"></span>
                        <div class="drop-down flag">
                            <div class="title clearfix">
                                <span class="message">Notifications</span>
                            </div>
                            <div ng-repeat="note in notifications" class="content clearfix">
                                <div class="img-wrap">
                                    <div ng-show="note.image_url" class="img"
                                         style="background-image: url('{{note.image_url}}')"></div>
                                    <div ng-hide="note.image_url" class="img"
                                         style="background-image: url('/static/images/avatar-profile.png')"></div>
                                </div>
                                <div class="description">
                                    <a href="/notifications/{{note.id}}">
                                        <div class="t1">
                                            <span ng-bind="note.actor"></span>
                                        </div>
                                        <div class="t2" ng-bind="note.subject"></div>
                                        <div class="cont" ng-bind="note.message"></div>
                                        <!-- <span class="time" ng-bind="note.id | date"></span> -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li ng-hide="notifications.length > 0" class="has-drop-down">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <div class="drop-down flag" style="background-color: white; color: black">
                            <div class="title clearfix">
                                <span class="message">Notifications</span>
                            </div>
                            <h3 class="text-center">No Notifications</h3>
                        </div>
                    </li>
                    <li class="has-drop-down">
                        <div>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="drop-down profile">
                            <div class="title clearfix">
                                <span class="message" ng-bind="user.name"></span>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/connections">My Connections</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/messages">My Messages</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-object-group" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/group">My Groups</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/private/mentors">My Mentors</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/profile">Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i style="color: red" class="fa fa-close" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont">
                                        <a href="/logout">Sign Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="search-section clearfix">

                    <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>

                <div class="search clearfix hidden-sm hidden-xs">
                    <form class="form" method="get" action="/search">
                        <input type="text" name="q" id="q" ng-model="search_q"
                               placeholder="Search for people, Jobs, Companies and more..." style="color:black">
                </div>
                <button class="hidden-sm hidden-xs"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-section hidden-sm hidden-xs">
        <div class="main-wrapper clearfix">
            <ul class="left">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li class="has-drop-down">
                    <a href="/community">My community</a>
                    <div class="drop-down bottom-nav">
                        <div class="content clearfix">
                            <a href="/mentors">
                                <div class="description">
                                    <div class="cont">
                                        Mentors
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/talents">
                                <div class="description">
                                    <div class="cont">
                                        Talents
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/groups">
                                <div class="description">
                                    <div class="cont">
                                        Groups
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/community">
                                <div class="description">
                                    <div class="cont">
                                        Add New
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/search">
                                <div class="description">
                                    <div class="cont">
                                        Find Mentors/Talents
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/jobs">Jobs</a>
                </li>
                <li ng-show="user.is_mentor">
                    <a href="/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="menu" class="collapse menu-links hidden-md hidden-lg">
        <ul>
            <li>
                <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
                <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
                <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
                <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
                <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
                <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
                <a href="/profile"><i class="fa fa-user"></i>&nbsp;Edit Profile</a>
                <a href="/messages"><i class="fa fa-comments-o"></i>&nbsp;Messages</a>
                <a href="/logout"><i class="fa fa-close"></i>&nbsp;Sign Out</a>
            </li>
        </ul>
    </div>
</header>
<div id="main">
    <div ng-show="loading" class="loader loader-default is-active" data-text></div>
    <div id="profile-wrapper">
        <div class="banner" style="background-image: url('/static/images/nature.jpg')">
            <div class="main-wrapper">
                <!-- Desktop Version -->
                <div class="profile-summery clearfix hidden-sm hidden-xs">
                    <div class="profile-image-section clearfix">
                        <div ng-show="user.profile.image_url" class="profile-image" style="background-image: url('{{user.profile.image_url}}')">
                            <a class="btn-sm btn-warning" href="" style="margin-top:20px" data-toggle="modal" data-target="#imageModal">Change</a>
                        </div>
                        <div ng-hide="user.profile.image_url" class="profile-image" style="background-image: url('/static/images/avatar-profile.png')" ng-cloak>
                            <a class="btn-sm btn-warning" href="" style="margin-top:20px" data-toggle="modal" data-target="#imageModal">Change</a>
                        </div>
                        <div class="description">
                            <div class="name" ng-bind="user.name"></div>
                            <div class="job">
                                <span ng-bind="user.profile.email"></span>
                                <span ng-show="user.profile.phone">|</span>
                                <span ng-bind="user.profile.phone"></span>
                            </div>
                            <div class="rating">
                                <span ng-bind="user.profile.occupation"></span>
                            </div>
                            <div style="height: 30px; width: 30px;" ng-show="user.profile.is_verified">
                                <img src="/static/images/certified.png" width="100%" height="100%">
                            </div>
                            <div>
                                <!--<a class="btn-sm btn-primary" href="" data-toggle="modal" data-target="#profileModal">Edit</a>-->
                                <a class="btn-sm btn-primary" href="/profile/edit">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="info-section">
                        <table>
                            <tr>
                                <td class="title">Date of Birth:</td>
                                <td class="description" ng-bind="user.profile.birthdate"></td>
                            </tr>
                            <tr>
                                <td class="title">Marital Status:</td>
                                <td class="description">
                                    <span ng-bind="user.profile.marital"></span>
                                    <span ng-hide="user.profile.marital">-----</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Location:</td>
                                <td class="description" ng-cloak>
                                    <span ng-bind="user.profile.location"></span>
                                    <span ng-hide="user.profile.location">-----</span>
                            </tr>
                        </table>
                        <div class="social-media">
                            <ul ng-show="profile_url">
                                <li><strong>Public Profile Address</strong></li><br>
                                <li class="truncate"><a href="{{profile_url}}" target="_blank" ng-bind="profile_url"></a></li>
                                <li ng-show="user.profile.is_mentor">
                                    <div style="height: 50px; width: 50px; margin-top: -30px">
                                        <img src="/static/images/mentor_badge.jpg" width="100%" height="100%">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Mobile Version -->
                <div class="clearfix hidden-lg hidden-md" style="margin-top: 5em;"></div>
                <div class="mobileProfile clearfix hidden-lg hidden-md">
                    <div class="profile-image-section clearfix col-md-12">
                        <div class="profile-image" style="background-image: url('{{user.profile.image_url}}')">
                            <a class="btn-sm btn-warning" href="" style="margin-top:20px" data-toggle="modal" data-target="#imageModal">Change</a>
                        </div>
                        <div class="description">
                            <div class="name" ng-bind="user.name"></div>
                            <div class="job">
                                <span ng-bind="user.profile.email"></span>
                                <span ng-show="user.profile.phone">|</span>
                                <span ng-bind="user.profile.phone"></span>
                            </div>
                            <div class="rating">
                                <span ng-bind="user.profile.occupation"></span>
                            </div>
                            <br>
                            <div>
                                <!-- <a class="btn-sm btn-primary" href="" data-toggle="modal" data-target="#profileModal">Edit</a> -->
                                <a class="btn-sm btn-primary" href="/Editprofile">Edit</a>
                                <!--<a class="btn-sm btn-success" href="" data-toggle="modal" data-target="#messageModal">Contact</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="info-section col-md-12">
                        <table>
                            <tr>
                                <td class="title">Date of Birth:</td>
                                <td class="description" ng-bind="user.profile.birthdate"></td>
                            </tr>
                            <tr>
                                <td class="title">Marital Status:</td>
                                <td class="description">
                                    <span ng-bind="user.profile.marital"></span>
                                    <span ng-hide="user.profile.marital">-----</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Location:</td>
                                <td class="description" ng-cloak>
                                    <span ng-bind="user.profile.location"></span>
                                    <span ng-hide="user.profile.location">-----</span>
                            </tr>
                        </table>
                        <div class="social-media">
                            <ul ng-show="profile_url">
                                <li><strong>Public Profile Address</strong></li><br>
                                <li class="truncate"><a href="{{profile_url}}" target="_blank" ng-bind="profile_url"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="main-content main-wrapper clearfix">
            <!-- <div class="col-md-2 pl-0">
                <div class="side-nav">
                    <div class="title">Navigation</div>
                    <ul>
                        <li><a href=""><i class="fa fa-info-circle" aria-hidden="true"></i>Summary</a></li>
                        <li><a href=""><i class="fa fa-cog" aria-hidden="true"></i>Edit</a></li>
                    </ul>
                </div>
            </div> -->
            <div class="col-md-9 p-0 ">
                <div class="info-section">
                    <div class="summery-section">
                        <div class="title"><strong>Summary</strong>
                        <a href="" data-toggle="modal" data-target="#summaryModal" style="float:right">change</a>
                        </div>
                        <div class="content">
                            {{user.profile.summary}}
                            <h3 ng-hide="user.profile.summary" style="text-align:center; color:grey"><em>Insert Profile Summary Here</em></h3>
                        </div>
                    </div>
                    <div class="summery-section">
                        <div class="title pt-10">
                            <strong>Education</strong>
                            <a style="float:right" href="" data-toggle="modal" data-target="#educationModal"><i class="fa fa-plus"></i></a>
                        </div>
                        <div class="content">
                            <h3 ng-hide="user.education" style="text-align:center; color:grey"><em>Insert Educational Background Here</em></h3>
                            <div ng-repeat="edu in user.education">
                                <div>
                                    <span style="float:right"><a href="" ng-click="editEdu(edu)" data-toggle="modal" data-target="#updateEducationModal">edit</a>&nbsp;|&nbsp;<a href="" style="color: red;" ng-click="DeleteEducation(edu.id)">delete</a></span><br>
                                    <span style="float:left"><strong ng-bind="edu.school"></strong></span>
                                    <span style="float:right"><strong ng-bind="edu.graduation_year"></strong></span>
                                </div><br>    
                                <span ng-bind="edu.studyfield"></span> | <span ng-bind="edu.degree"></span><br>
                                <span ng-bind="edu.description"></span><br><br>
                            </div>
                        </div>
                    </div>

                    <div class="summery-section">
                        <div class="title pt-10">
                            <strong>Work Experience</strong>
                            <a style="float:right" href="" data-toggle="modal" data-target="#workModal"><i class="fa fa-plus"></i></a>
                        </div>
                        <div class="content">
                            <h3 ng-hide="user.experiences" style="text-align:center; color:grey"><em>Insert Work Experience Here</em></h3>
                            <div ng-repeat="edu in user.experiences">
                                <div>
                                    <span style="float:right"><a href="" data-toggle="modal" data-target="#updateworkModal" ng-click="editExperience(edu)">edit</a>&nbsp;|&nbsp;<a href="" style="color: red;" ng-click="DeleteExperience(edu.id)">delete</a></span><br>
                                    <span style="float:left"><strong ng-bind="edu.company"></strong></span>
                                    <span style="float:right"><strong ng-bind="edu.startdate"></strong> - <strong ng-bind="edu.enddate"></strong></span><br>
                                    <span style="float:right" ng-bind="edu.location"></span>
                                </div><br>    
                                <span ng-bind="edu.title"></span><br>
                                <span ng-bind="edu.description"></span><br><br>
                            </div>
                        </div>
                    </div>

                    <div class="summery-section">
                        <div class="title pt-10"><strong>Interests</strong>
                            <a style="float:right" href="" data-toggle="modal" data-target="#interestModal"><i class="fa fa-plus"></i></a>
                        </div>
                        <div ng-hide="user.interests" class="content">
                            <h3 style="text-align:center; color:grey"><span><em>No Interests added yet.</em></span></h3>
                        </div>
                        <div class="content">
                            <span ng-repeat="_int in user.interests" class="bubble">
                                {{_int.interest}} <span> <i ng-click="DeleteInterest(_int.id)" class="fa fa-times" aria-hidden="true"></i></span>
                            </span>
                        </div>
                    </div>

                    <div class="summery-section">
                        <div class="title pt-10"><strong>Skills</strong>
                            <a style="float:right" href="" data-toggle="modal" data-target="#skillModal"><i class="fa fa-plus"></i></a>
                        </div>
                        <div ng-hide="user.skills" class="content">
                            <h3 style="text-align:center; color:grey"><span><em>No Skills added yet.</em></span></h3>
                        </div>
                        <div class="content">
                            <span ng-repeat="_int in user.skills" class="bubble">
                                {{_int.skill}}  <span> <i ng-click="DeleteSkill(_int.id)" class="fa fa-times" aria-hidden="true"></i></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pr-0">
                <div class="extra-section">
                    <div class="title">People You May Know</div>

                    <div ng-repeat="rec in user.recommendations" class="common-friends clearfix">
                        <div ng-show="rec.image_url" class="image" style="background-image: url('{{rec.image_url}}')"></div>
                        <div ng-hide="rec.image_url" class="image" style="background-image: url('/static/images/avatar-profile.png')"></div>
                        <div class="content">
                            <div class="name" ng-bind="rec.name"></div>
                            <div class="ocupation" ng-bind="rec.industry"></div>
                            <a class="btn btn-xs btn-primary" href="/public/{{rec.username}}">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="profileModalLabel">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <form method="post" ng-submit="updateProfile()">
            <div class="form-group row">
              <label for="example-text-input" class="col-xs-2 col-form-label">Name</label>
              <div class="col-xs-10">
                <input class="form-control" type="text" ng-model="user.name" id="name" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-search-input" class="col-xs-2 col-form-label">Email</label>
              <div class="col-xs-10">
                <input class="form-control" type="email" ng-model="user.profile.email">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-email-input" class="col-xs-2 col-form-label">Occupation</label>
              <div class="col-xs-10">
                <input class="form-control" type="text" ng-model="user.profile.occupation">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-url-input" class="col-xs-2 col-form-label">Username</label>
              <div class="col-xs-10">
                <input class="form-control" type="text" ng-model="user.profile.profile_url_param">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-tel-input" class="col-xs-2 col-form-label">Mobile</label>
              <div class="col-xs-10">
                <input class="form-control" type="tel" ng-model="user.profile.phone">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-tel-input" class="col-xs-2 col-form-label">Date of Birth</label>
              <div class="col-xs-10">
                <input class="form-control" id="date" name="date" ng-model="user.profile.birthdate" placeholder="MM/DD/YYY" type="text"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-password-input" class="col-xs-2 col-form-label">Marital Status</label>
              <div class="col-xs-10">
                <select class="form-control" ng-model="user.profile.marital">
                  <option value="single">Single</option>
                  <option value="married">Married</option>
                  <option value="divorced">Divorced</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="Autocomplete" class="col-xs-2 col-form-label">Location</label>
              <div class="col-xs-10">
                  <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="user.profile.location" details="details1" options="options1"/>
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      </form>
    </div>
  </div>
</div> -->

<!-- Summary modal-->
<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="summaryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="summaryModalLabel">Profile Summary</h4>
      </div>
      <div class="modal-body">
        <form method="post" ng-submit="updateProfile()">
          <div class="form-group">
            <textarea class="form-control" ng-model="user.profile.summary" rows="10">{{user.profile.summary}}</textarea>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
    </div>
  </div>
</div>

<div class="modal fade" id="workModal" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="workModalLabel">Add Work Experience</h4>
      </div>
      <div class="modal-body">
        <form method="post" ng-submit="AddExperience()">
          <div class="form-group">
            <label for="exampleInputEmail1">Company Name</label>
            <input type="text" class="form-control" ng-model="company" placeholder="Ake Incorporated">
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" ng-model="loc" placeholder="Abuja, Nigeria">
          </div>
          <div class="form-group">
            <label for="year">From</label>
            <input type="text" class="form-control" name="date" ng-model="startdate" placeholder="Enter graduation year">
          </div>
          <div class="form-group">
            <label for="year">To</label>
            <input type="text" class="form-control" name="date" ng-model="enddate" placeholder="Enter graduation year">
          </div>
          <div class="form-group">
            <label for="year">Position</label>
            <input type="text" class="form-control" ng-model="title" placeholder="Chemical Engineer">
          </div>
          <div class="form-group">
            <label for="experience">Describe Role</label>
            <textarea class="form-control" ng-model="desc" rows="6"></textarea>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
    </div>
  </div>
</div>

<div class="modal fade" id="updateworkModal" tabindex="-1" role="dialog" aria-labelledby="updateworkModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="updateworkModalLabel">Update Work Experience</h4>
            </div>
            <div class="modal-body">
                <form method="post" ng-submit="UpdateExperience()">
                    <div class="form-group">
                        <label for="company">Company Name</label>
                        <input type="text" class="form-control" id="company" ng-model="experience.company" placeholder="Ake Incorporated">
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" ng-model="experience.location" placeholder="Abuja, Nigeria">
                    </div>
                    <div class="form-group">
                        <label for="startdate">From</label>
                        <input type="text" class="form-control" id="startdate" name="date" ng-model="experience.startdate" placeholder="Enter graduation year">
                    </div>
                    <div class="form-group">
                        <label for="year">To</label>
                        <input type="text" class="form-control" name="date" ng-model="experience.enddate" placeholder="Enter graduation year">
                    </div>
                    <div class="form-group">
                        <label for="year">Position</label>
                        <input type="text" class="form-control" ng-model="experience.title" placeholder="Chemical Engineer">
                    </div>
                    <div class="form-group">
                        <label for="experience">Describe Role</label>
                        <textarea class="form-control" id="experience" ng-model="experience.description" rows="6"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="interestModal" tabindex="-1" role="dialog" aria-labelledby="interestModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="interestModalLabel">Add Interest</h4>
      </div>
      <div class="modal-body">
        <form method="post" ng-submit="AddInterest()">
          <div class="form-group">
            <label for="interest">Interest</label>
            <input type="text" class="form-control" ng-model="interest" placeholder="e.g. Volunteering">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="skillModal" tabindex="-1" role="dialog" aria-labelledby="skillModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add New Skill</h4>
      </div>
      <div class="modal-body">
        <form method="post" ng-submit="AddSkill()">
          <div class="form-group">
            <label for="skill">Skill</label>
            <input type="text" class="form-control" ng-model="skill" placeholder="e.g. HTML, CSS">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="educationModal" tabindex="-1" role="dialog" aria-labelledby="educationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="educationModalLabel">Add Educational Background</h4>
      </div>
      <div class="modal-body">
        <form method="post" ng-submit="AddEducation()">
          <div class="form-group">
            <label for="exampleInputEmail1">Name of Institution</label>
            <input type="text" class="form-control" ng-model="school" placeholder="Enter Name of Institution" required>
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" ng-model="location" placeholder="Enter location of institution" required>
          </div>
          <div class="form-group">
            <label for="location">Field of Study</label>
            <input type="text" class="form-control" ng-model="field" placeholder="Enter Field of Study" required>
          </div>
          <div class="form-group">
            <label for="year">Year</label>
            <input type="text" class="form-control" ng-model="year" placeholder="Enter graduation year" required>
          </div>
          <div class="form-group">
            <label for="degree">Certificate</label>
            <select required class="form-control" ng-model="degree">
                <option value="">Choose</option>
                <option value="Secondary School Certificate">Secondary School Certificate</option>
                <option value="Bachelor of Arts">Bachelor of Arts</option>
                <option value="Bachelor of Science">Bachelor of Science</option>
                <option value="Bachelor of Technology">Bachelor of Technology</option>
                <option value="Bachelor of Engineering">Bachelor of Engineering</option>
                <option value="Masters">Masters</option>
                <option value="PhD">PhD</option>
            </select>
          </div>
          <div class="form-group">
            <label for="grade">Grade</label>
            <select required class="form-control" ng-model="grade">
                <option value="">Choose</option>
                <option value="First Class">First Class</option>
                <option value="Second Class Upper">Second Class Upper</option>
                <option value="Second Class Lower">Second Class Lower</option>
                <option value="Third Class">Third Class</option>
                <option value="Pass">Pass</option>
            </select>
          </div>
          <div class="form-group">
            <label for="experience">Experience</label>
            <textarea class="form-control" ng-model="description" rows="3"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
    </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateEducationModal" tabindex="-1" role="dialog" aria-labelledby="updateEducationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="updateEducationModalLabel">Add Educational Background</h4>
            </div>
            <div class="modal-body">
                <form method="post" ng-submit="UpdateEducation()">
                    <div class="form-group">
                        <label for="school">Name of Institution</label>
                        <input type="text" class="form-control" id="school" ng-model="education.school" placeholder="Enter Name of Institution" required>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" ng-model="education.location" placeholder="Enter location of institution" required>
                    </div>
                    <div class="form-group">
                        <label for="field">Field of Study</label>
                        <input type="text" class="form-control" id="field" ng-model="education.studyfield" placeholder="Enter Field of Study" required>
                    </div>
                    <div class="form-group">
                        <label for="year">Year</label>
                        <input type="text" class="form-control" id="year" ng-model="education.graduation_year" placeholder="Enter graduation year" required>
                    </div>
                    <div class="form-group">
                        <label for="degree">Certificate</label>
                        <select required class="form-control" ng-model="education.degree" id="degree">
                            <option value="">Choose</option>
                            <option value="Secondary School Certificate">Secondary School Certificate</option>
                            <option value="Bachelor of Arts">Bachelor of Arts</option>
                            <option value="Bachelor of Science">Bachelor of Science</option>
                            <option value="Bachelor of Technology">Bachelor of Technology</option>
                            <option value="Bachelor of Engineering">Bachelor of Engineering</option>
                            <option value="Masters">Masters</option>
                            <option value="PhD">PhD</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="grade">Grade</label>
                        <select required class="form-control" id="grade" ng-model="education.grade">
                            <option value="">Choose</option>
                            <option value="First Class">First Class</option>
                            <option value="Second Class Upper">Second Class Upper</option>
                            <option value="Second Class Lower">Second Class Lower</option>
                            <option value="Third Class">Third Class</option>
                            <option value="Pass">Pass</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Experience</label>
                        <textarea class="form-control" ng-model="education.description" id="description" rows="3"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="imageModalLabel">Change Profile Image</h4>
      </div>
      <div class="modal-body">
       <form novalidate>
        <div>
            <p>
                <button type="file" ngf-select="uploadFiles($files)" ngf-multiple="true">
                    Select File
                </button>
            </p>
        </div>
        <div ng-show="Files.length > 0">
            <div ng-repeat="file in Files">
                File:
                <div>
                    {{file.name}} {{file.$error}} {{file.$errorParam}}
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{file.Progress}}%;">
                        {{file.Progress | number:0}}%
                    </div>
                </div>
                <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">Processing, please wait...</div>
                <div class="alert alert-success" role="alert" ng-show="file.Success">Upload Complete!</div>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                Oooops we had trouble uploading the file. Please refresh the page and try again.
                <p>If the problem persits please supply us with the following details</p>
                <p>{{errorMsg}}</p>
            </div>
            <div>{{Error}}</div>
    </form>
    </div>
  </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA3AxedvCZ9QsSmuBy7a72Ds3ChoOo5CMs"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/date-picker.min.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-aria.min.js"></script>
<script src="/static/js/angular-messages.min.js"></script>
<script src="/static/js/angular-material.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(){})
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true
      };
      date_input.datepicker(options);
    })
</script>
</body>
</html>