<!doctype html>
<html class="no-js" lang="" ng-app="primeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Search Result | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../static/css/normalize.css"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="static/css/font/font.css"/>
    <link rel="stylesheet" href="static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="static/css/login.css"/>
    <link rel="stylesheet" href="static/css/signup.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="static/css/jobs.css"/>
    <link rel="stylesheet" href="static/css/profile.css"/>
    <link rel="stylesheet" href="static/css/home.css"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/pure-css-loader/dist/css-loader.css">
    <!---->
    <style>
        body {
            background: #fff;
        }
    </style>
</head>
<body ng-controller="SearchController" ng-init="init()" ng-cloak="loading">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--<div ng-view></div>-->

<div class="clearfix">

    <header>
        <div class="top-section">
            <div class="main-wrapper clearfix">
                <div class="logo">
                    <a href="/">Talents&Mentors</a>
                </div>
                <div class="notification-section hidden-sm hidden-xs">
                    <ul>
                        <li ng-show="notifications.length > 0" class="has-drop-down">
                            <i class="fa fa-flag" aria-hidden="true"></i><span class="badge" style="background-color: red" ng-bind="notifications.length"></span>
                            <div class="drop-down flag">
                                <div class="title clearfix">
                                    <span class="message">Notifications</span>
                                </div>
                                <div ng-repeat="note in notifications" class="content clearfix">
                                    <div class="img-wrap">
                                        <div ng-show="note.image_url" class="img"
                                             style="background-image: url('{{note.image_url}}')"></div>
                                        <div ng-hide="note.image_url" class="img"
                                             style="background-image: url('/static/images/avatar-profile.png')"></div>
                                    </div>
                                    <div class="description">
                                        <a href="/notifications/{{note.id}}">
                                            <div class="t1">
                                                <span ng-bind="note.actor"></span>
                                            </div>
                                            <div class="t2" ng-bind="note.subject"></div>
                                            <div class="cont" ng-bind="note.message"></div>
                                            <!-- <span class="time" ng-bind="note.id | date"></span> -->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li ng-hide="notifications.length > 0 || !user.data" class="has-drop-down">
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            <div class="drop-down flag" style="background-color: white; color: black">
                                <div class="title clearfix">
                                    <span class="message">Notifications</span>
                                </div>
                                <h3 class="text-center">No Notifications</h3>
                            </div>
                        </li>
                        <li ng-show="user.data" class="has-drop-down">
                            <div>
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="drop-down profile">
                                <div class="title clearfix">
                                    <span class="message" ng-bind="user.data.name"></span>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/connections">My Connections</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/messages">My Messages</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-object-group" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/group">My Groups</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-male" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/private/mentors">My Mentors</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont pt-4">
                                            <a href="/profile">Edit Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content clearfix">
                                    <div class="img-wrap">
                                        <i style="color: red" class="fa fa-close" aria-hidden="true"></i>
                                    </div>
                                    <div class="description">
                                        <div class="cont">
                                            <a href="/logout">Sign Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="search-section clearfix">

            <span class="hidden-md hidden-lg" data-toggle="collapse" data-target="#menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
                    <div class="search clearfix hidden-sm hidden-xs">
                        <form class="form" method="get" action="/search">
                            <input type="text" name="q" id="q"
                                   placeholder="Search for people, Jobs, Companies and more..." style="color: black">
                    </div>
                    <button class="hidden-sm hidden-xs"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom-section hidden-sm hidden-xs">
            <div class="main-wrapper clearfix">
                <ul class="left">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li class="has-drop-down">
                        <a href="/community"><span ng-show="user.data" ng-cloak>My</span> Community</a>
                        <div class="drop-down bottom-nav">
                            <div class="content clearfix">
                                <a href="/mentors">
                                    <div class="description">
                                        <div class="cont">
                                            Mentors
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/talents">
                                    <div class="description">
                                        <div class="cont">
                                            Talents
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/groups">
                                    <div class="description">
                                        <div class="cont">
                                            Groups
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/community">
                                    <div class="description">
                                        <div class="cont">
                                            Add New
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content clearfix">
                                <a href="/search">
                                    <div class="description">
                                        <div class="cont">
                                            Find Mentors/Talents
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!--<div class="content clearfix">-->
                            <!--<a href="/people">-->
                            <!--<div class="description">-->
                            <!--<div class="cont">-->
                            <!--People You May Know-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</a>-->
                            <!--</div>-->
                        </div>

                    </li>
                    <li>
                        <a href="/jobs">Jobs</a>
                    </li>
                    <li ng-show="user.data.is_mentor">
                        <a href="/dashboard">Dashboard</a>
                    </li>
                </ul>
                <ul ng-hide="user.data" class="right">
                    <li>
                        <a href="/register">SignUp</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu" class="collapse menu-links hidden-md hidden-lg">
            <ul>
                <li>
                    <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
                    <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
                    <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
                    <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
                    <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
                    <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
                    <a ng-show="user.data" href="/profile"><i class="fa fa-user"></i>&nbsp;Edit Profile</a>
                    <a ng-show="user.data" href="/messages"><i class="fa fa-comments-o"></i>Messages</a>
                    <a ng-show="user.data" href="/logout"><i class="fa fa-close"></i>&nbsp;Sign Out</a>
                </li>
            </ul>
        </div>
    </header>

    <div id="search-result" class="main-wrapper">
        <div class="search-wrapper clearfix">
            <!--<div class="col-md-3">-->
                <!--&lt;!&ndash;<div class="filter-section">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="filter-wrap">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="title">Filter Links</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li style="margin-bottom: 5px" ng-repeat="link in search_result.links">&ndash;&gt;-->
                                <!--&lt;!&ndash;<a class="btn btn-xs btn-default" ng-class="link.active ? 'active': ''" ng-bind="link.name"></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="filter-section">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="filter-wrap">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="title">Location</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" id="loc1">&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="loc1">Lagos</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" id="loc2">&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="loc2">Abuja</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" id="loc3">&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="loc3">Ibadan</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" id="loc4">&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="loc4">PortHarcourt</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" id="loc5">&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="loc5">Kano</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" id="loc6">&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="loc6">Kaduna</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="filter-section">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="filter-wrap">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="title">Company</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" id="loc1">&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="loc1">Microsoft</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" id="loc2">&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="loc2">Konja</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" id="loc3">&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="loc3">Traclist</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" id="loc4">&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="loc4">Wakanow</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <div class="col-md-12">
                <div class="result-count" ng-cloak>
                    <span ng-bind="search_result.data.length | number"></span> result found for <strong
                        ng-bind="search_q"></strong>
                </div>
                <div class="content" ng-cloak>
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                    <div ng-cloak dir-paginate="res in search_result.data | itemsPerPage: search_result.PerPage"
                         total-items="search_result.total" current-page="search_result.currentPage"
                         class="result clearfix">
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <a href="/public/{{res._source.username}}">
                                <div ng-show="res._source.image_url" class="img"
                                     style="background-image: url('{{res._source.image_url}}')"></div>
                                <div ng-hide="res._source.image_url" class="img"
                                     style="background-image: url('/static/images/avatar-profile.png')"></div>
                            </a>
                        </div>
                        <div class="col-md-10 col-sm-8 col-xs-8">
                            <div class="name" ng-bind="res._source.title || res._source.name"></div>
                            <div class="about" ng-bind="res._source.description || res._source.summary"></div><br>
                            <a ng-show="res._type == 'people' && user.data && !checkConnection(res._source.email)" data-toggle="modal"
                               data-target="#connectModal" ng-click="selectContact(res._source)" href=""
                               class="btn btn-sm btn-success" ng-cloak>Connect</a>
                            <!--<a ng-show="res._type == 'people' && connections.indexOf(res._source) != -1" data-toggle="modal"-->
                               <!--data-target="#messageModal" ng-click="selectRecipient(result.data)" href=""-->
                               <!--class="btn btn-sm btn-success" ng-cloak>Message</a>-->
                            <a ng-show="res._type == 'job'" href="{{res._source.link}}" target="_blank"
                               class="btn btn-sm btn-primary">Visit Url</a>
                        </div>
                    </div>
                    <div ng-show="search_result.data.length == 0 && !loading" ng-cloak>
                        <img width="300" src="/static/images/sad.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="connectModalLabel">Request Connection</h4>
            </div>
            <div class="modal-body">
                <form method="post" ng-submit="sendRequest()">
                    <div class="form-group">
                        <label for="message">Short Message</label>
                        <textarea class="form-control" ng-model="message" id="message" rows="3"
                                  placeholder="Hi, kindly connect with me on Talents & Mentors. Thanks."></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="messageModalLabel">Send Message</h4>
            </div>
            <form method="post" ng-submit="sendMessage()">
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" ng-model="text_message" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script src="/static/js/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function () {
    })
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>






































