<!doctype html>
<html class="no-js" lang="" ng-app="primeApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="287893726188-1q4dve1oqtdr5v44ujpj7ma410m6e5qg.apps.googleusercontent.com">
    <title>Register | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
    <!---->
</head>
<body style="zoom: 0.9">

<div id="main" ng-controller="LoginController" ng-init="init()">

    <div ng-show="loading" class="loader loader-default is-active" data-text></div>

    <div id="signup">
        <div class="signup-wrap clearfix">
            <div class="form-section">
                <form method="post" ng-submit="registerUser()">
                    <div class="form-heading">Join Us</div>
                    <div ng-show="error" ng-cloak="error">
                        <small style="color: red">{{error[0]}}</small>
                        <small style="color: red">{{pass_error[0]}}</small>
                    </div>
                    <div class="form-wrap">
                        <span class="form-label">First Name</span>
                        <input type="text" placeholder="FIRST NAME" name="first_name" id="first_name" ng-model="first_name" required>
                    </div>
                    <div class="form-wrap">
                        <span class="form-label">Last Name</span>
                        <input type="text" ng-model="last_name" name="last_name" id="last_name" placeholder="LAST NAME" required>
                    </div>
                    <div class="form-wrap">
                        <span class="form-label">Email</span>
                        <input type="email" ng-model="email" name="email" id="email" placeholder="YOUR EMAIL ADDRESS" required>
                    </div>
                    <div class="form-wrap">
                        <span class="form-label">Password</span>
                        <input type="password" name="password" id="password" ng-model="password" placeholder="ENTER VALID PASSWORD" required>
                    </div>
                    <div class="form-wrap">
                        <span class="form-label">Confirm Password<br>
                            <small style="color: red" ng-show="password_error" ng-cloak="password_error">{{password_error}}</small>
                        </span>
                        <input type="password" ng-model="confirm_password" ng-change="comparePassword()" placeholder="REPEAT PASSWORD" required>
                    </div>
                    <button data-rippleria class="login-submit btn-shadow" ng-disabled="password_error" type="submit">Join</button>
                </form>
            </div>
            <div class="info-section hidden-sm hidden-xs">
                <div class="logo"><a href="/">Talents&Mentors</a></div>
                <div class="caption">
                    <p>Welcome to Talents&Mentors, the world's largest professional mentoring network.</p>
                </div>
                <div class="haveAccount">
                    Already have and account on Talents&Mentors.
                </div>
                <a data-rippleria href="/login" class="sign-up btn-shadow">Login</a>
            </div>
        </div>
        <div class="social-login">
            <div class="title">Sign up with</div>
            <ul>
                <!--<li><a data-rippleria class="facebook btn-shadow" ng-click="facebookRegister()"><i class="fa fa-facebook"-->
                                                                             <!--aria-hidden="true"></i></a></li>-->
                <!--<li><a data-rippleria class="google btn-shadow" href=""><i class="fa fa-google-plus"-->
                                                                           <!--aria-hidden="true"></i></a></li>-->
                <!--<li><a data-rippleria class="linkedin btn-shadow" href="/oauth/linkedin"><i class="fa fa-linkedin"-->
                                                                             <!--aria-hidden="true"></i></a></li>-->
                <li class="g-signin2" id="google" data-onsuccess="onSignIn"></li>
            </ul>
        </div>
        <div class="outside-content">
            <ul>
                <!--<li><a href="">Forgot your password?</a></li>-->
                <li><a href="/"> Back to Talents&Mentors</a></li>
                <li class="hidden-md hidden-lg"><a href="/"> Login</a></li>
            </ul>
        </div>
    </div>

</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-route.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-animate.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular-resource.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script src="/static/js/pouchdb.js"></script>
<script src="/static/js/pouchdb.memory.min.js"></script>
<script src="/static/js/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ng-infinite-scroll/build/ng-infinite-scroll.min.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="/static/js/angular-idle.min.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<script type="text/javascript">

    window.onLoadCallback = function(){
        gapi.auth2.init({
            client_id: '287893726188-1q4dve1oqtdr5v44ujpj7ma410m6e5qg.apps.googleusercontent.com'
        }).then(function (authInstance) {
            // now auth2 is fully initialized
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            });
        });
    };


    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        angular.element(document.getElementById('google')).scope().googleSignUp(profile.getEmail(),profile.getId(), profile.getName());
//        $.post('/login', {
//            username: 'gaphy@gmail.com',
//            password: 'password'
////            username: profile.getEmail(),
////            password: profile.getId()
//        }, function (data, status) {
//            console.log(data);
//            console.log(status);
//        });
//        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
//        console.log('Name: ' + profile.getName());
//        console.log('Image URL: ' + profile.getImageUrl());
//        console.log('Email: ' + profile.getEmail());
    }
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(){})
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
<script>
    $(document).ready(function () {
        $("#login, #signup").backstretch('/images/bkgnd.jpg');
    })
</script>
</body>
</html>

