<!doctype html>
<html class="no-js" lang="" ng-app="primeApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Profile | Talents&Mentors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/font/font.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/date-picker.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
    <!---->
</head>
<body ng-app="primeApp" ng-controller="UserProfileController" ng-init="init()" ng-cloak="loading">

<header>
    <div class="top-section">
        <div class="main-wrapper clearfix">
            <div class="logo">
                <a href="/">Talents&Mentors</a>
            </div>
            <div class="notification-section hidden-sm hidden-xs">
                <ul ng-show="user">
                    <li ng-show="notifications.length > 0" class="has-drop-down">
                        <i class="fa fa-flag" aria-hidden="true"></i><span class="badge" style="background-color: red" ng-bind="notifications.length"></span>
                        <div class="drop-down flag">
                            <div class="title clearfix">
                                <span class="message">Notifications</span>
                            </div>
                            <div ng-repeat="note in notifications" class="content clearfix">
                                <div class="img-wrap">
                                    <div ng-show="note.image_url" class="img"
                                         style="background-image: url('{{note.image_url}}')"></div>
                                    <div ng-hide="note.image_url" class="img"
                                         style="background-image: url('/static/images/avatar-profile.png')"></div>
                                </div>
                                <div class="description">
                                    <a href="/notifications/{{note.id}}">
                                        <div class="t1">
                                            <span ng-bind="note.actor"></span>
                                        </div>
                                        <div class="t2" ng-bind="note.subject"></div>
                                        <div class="cont" ng-bind="note.message"></div>
                                        <!-- <span class="time" ng-bind="note.id | date"></span> -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li ng-hide="notifications.length > 0" class="has-drop-down">
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <div class="drop-down flag" style="background-color: white; color: black">
                            <div class="title clearfix">
                                <span class="message">Notifications</span>
                            </div>
                            <h3 class="text-center">No Notifications</h3>
                        </div>
                    </li>
                    <li class="has-drop-down">
                        <div>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="drop-down profile">
                            <div class="title clearfix">
                                <span class="message" ng-bind="user.name"></span>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/connections"><span ng-show="user">My</span> new Connections</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/messages">My Messages</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-object-group" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/group">My Groups</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/private/mentors">My Mentors</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont pt-4">
                                        <a href="/profile">Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="content clearfix">
                                <div class="img-wrap">
                                    <i style="color: red" class="fa fa-close" aria-hidden="true"></i>
                                </div>
                                <div class="description">
                                    <div class="cont">
                                        <a href="/logout">Sign Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="search-section clearfix">
                <form class="form" method="get" action="/search">
                    <div class="search clearfix">
                        <div class="form">
                            <input style="color: black" name="q" id="q" ng-model="search_q" type="text" placeholder="Search for people, Jobs, Companies and more...">
                        </div>
                    </div>
                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="main-wrapper clearfix">
            <ul class="left">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li class="has-drop-down">
                    <a href="/community"><span ng-show="user" ng-cloak>My</span> Community</a>
                    <div class="drop-down bottom-nav">
                        <div class="content clearfix">
                            <a href="/mentors">
                                <div class="description">
                                    <div class="cont">
                                        Mentors
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/talents">
                                <div class="description">
                                    <div class="cont">
                                        Talents
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/groups">
                                <div class="description">
                                    <div class="cont">
                                        Groups
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/community">
                                <div class="description">
                                    <div class="cont">
                                        Add New
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="content clearfix">
                            <a href="/search">
                                <div class="description">
                                    <div class="cont">
                                        Find Mentors/Talents
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/jobs">Jobs</a>
                </li>
                <li ng-show="user.is_mentor">
                    <a href="/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="menu" class="collapse menu-links hidden-md hidden-lg">
        <ul>
            <li>
                <a href="/home"><i class="fa fa-home"></i>&nbsp;Home</a>
                <a href="/community"><i class="fa fa-group"></i>&nbsp;Community</a>
                <a href="/jobs"><i class="fa fa-graduation-cap"></i>&nbsp;Jobs</a>
                <a href="/groups"><i class="fa fa-users"></i>&nbsp;Groups</a>
                <a href="/talents"><i class="fa fa-user-md"></i>&nbsp;Talents</a>
                <a href="/mentors"><i class="fa fa-user-times"></i>&nbsp;Mentors</a>
                <a ng-show="user" href="/profile"><i class="fa fa-user"></i>&nbsp;Edit Profile</a>
                <a ng-show="user" href="/messages"><i class="fa fa-comments-o"></i>&nbsp;Messages</a>
                <a href="/logout"><i class="fa fa-close"></i>&nbsp;Sign Out</a>
            </li>
        </ul>
    </div>
</header>

<div id="main">
    <!--<div ng-show="loading" class="loader loader-default is-active" data-text></div>-->
    <div id="profile-wrapper">
        <div class="banner" style="background-image: url('/static/images/nature.jpg')">
            <div class="main-wrapper">
                <div class="profile-summery clearfix">
                    <div class="profile-image-section clearfix">
                        <div ng-show="result.data.image_url" class="profile-image" style="background-image: url('{{result.data.image_url}}')" ng-cloak></div>
                        <div ng-hide="result.data.image_url" class="profile-image" style="background-image: url('/static/images/avatar-profile.png')" ng-cloak></div>
                        <div class="description">
                            <div class="name" ng-bind="result.data.name"></div>
                            <div class="job">
                                <span ng-bind="result.data.email"></span>
                                <span ng-show="result.data.phone">|</span>
                                <span ng-bind="result.data.phone"></span>
                            </div>
                            <div class="rating">
                                <span ng-bind="result.data.industry"></span>
                            </div>
                            <div style="height: 30px; width: 30px;" ng-show="result.data.is_verified">
                                <img src="/static/images/certified.png" width="100%" height="100%">
                            </div>
                            <div>
                                <a ng-show="user && !checkConnection(result.data.email)" data-toggle="modal"
                                   data-target="#connectModal" ng-click="selectContact(result.data)" href=""
                                   class="btn btn-sm btn-primary" ng-cloak>Connect</a>
                                <a ng-show="user && checkConnection(result.data.email) && connected.indexOf(result.data.email) == -1 && user.email != result.data.email"
                                   class="btn btn-sm btn-default" style="background-color: whitesmoke" ng-cloak>Connection Requested</a>
                                <!--<a ng-show="user && user.email != result.data.email || connected.indexOf(result.data.email) != -1" data-toggle="modal"-->
                                   <!--data-target="#messageModal" ng-click="selectRecipient(result.data)" href=""-->
                                   <!--class="btn btn-sm btn-success" ng-cloak>Message</a>-->
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="info-section">
                        <table>
                            <tr>
                                <td class="title">Date of Birth:</td>
                                <td class="description" ng-bind="result.data.birthdate"></td>
                            </tr>
                            <tr>
                                <td class="title">Marital Status:</td>
                                <td class="description">
                                    <span ng-bind="result.data.marital"></span>
                                    <span ng-hide="result.data.marital">-----</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Location:</td>
                                <td class="description" ng-cloak>
                                    <span ng-bind="result.data.location"></span>
                                    <span ng-hide="result.data.location">-----</span>
                                </td>
                            </tr>
                        </table>
                        <div class="social-media">
                            <ul>
                                <li ng-show="result.data.is_mentor">
                                    <div style="height: 50px; width: 50px; margin-top: -20px">
                                        <img src="/static/images/mentor_badge.jpg" width="100%" height="100%">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="result.data.summary ||result.interests.length > 0 || result.skills.length > 0 || result.experiences.length > 0 || result.education.length > 0" class="main-content main-wrapper clearfix">
            <div class="col-md-12 p-0 ">
                <div class="info-section">
                    <div ng-show="result.data.summary" class="summery-section">
                        <div class="title"><strong>Summary</strong>
                        </div>
                        <div class="content" ng-bind="result.data.summary" ng-cloak></div>
                    </div>
                    <div ng-show="result.education.length > 0" class="summery-section">
                        <div class="title pt-10">
                            <strong>Education</strong>
                        </div>
                        <div class="content">
                            <div ng-repeat="edu in result.education">
                                <div>
                                    <span style="float:left"><strong ng-bind="edu.school"></strong></span>
                                    <span style="float:right"><strong ng-bind="edu.graduation_year"></strong></span>
                                </div>
                                <br>
                                <span ng-bind="edu.studyfield"></span> | <span ng-bind="edu.degree"></span><br>
                                <span ng-bind="edu.description"></span><br><br>
                            </div>
                        </div>
                    </div>

                    <div ng-show="result.experiences.length > 0" class="summery-section">
                        <div class="title pt-10">
                            <strong>Work Experience</strong>
                        </div>
                        <div ng-show="result.experiences.length > 0" class="content">
                            <div ng-repeat="edu in result.experiences">
                                <div>
                                    <span style="float:left"><strong ng-bind="edu.company"></strong></span>
                                    <span style="float:right"><strong ng-bind="edu.startdate"></strong> - <strong
                                            ng-bind="edu.enddate"></strong></span><br>
                                    <span style="float:right" ng-bind="edu.location"></span>
                                </div>
                                <br>
                                <span ng-bind="edu.title"></span><br>
                                <span ng-bind="edu.description"></span><br><br>
                            </div>
                        </div>
                    </div>

                    <div ng-show="result.interests.length > 0" class="summery-section">
                        <div class="title pt-10"><strong>Interests</strong>
                        </div>
                        <div class="content">
                            <div ng-repeat="_int in result.interests" class="bubble">
                                <span ng-bind="_int.interest" ng-cloak></span>
                            </div>
                        </div>
                    </div>

                    <div ng-show="result.skills.length > 0" class="summery-section">
                        <div class="title pt-10"><strong>Skills</strong>
                        </div>
                        <div class="content">
                            <div ng-repeat="_int in result.skills" class="bubble">
                                <span ng-bind="_int.skill" ng-cloak></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="messageModalLabel">Send Message</h4>
            </div>
            <form method="post" ng-submit="sendMessage()">
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" ng-model="text_message" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="connectModalLabel">Request Connection</h4>
            </div>
            <div class="modal-body">
                <form method="post" ng-submit="sendRequest()">
                    <div class="form-group">
                        <label for="message">Short Message</label>
                        <textarea class="form-control" ng-model="message" id="message" rows="3"
                                  placeholder="Hi, kindly connect with me on Talents & Mentors. Thanks."></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.rippleria.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/date-picker.min.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-aria.min.js"></script>
<script src="/static/js/angular-messages.min.js"></script>
<script src="/static/js/angular-material.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(){})
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })
</script>
</body>
</html>