#landing{
	width: 100%;
	height: auto;
	margin-top: 5em;
	a{
		cursor: pointer;
	}
	.p-0{
		padding: 0px;
	}
	.pl-0{
		padding-left: 0px;
	}
	.pr-0{
		padding-right: 0px;
	}
	.banner-section{
		width: 100%;
		height: 15em;
		background-color: #efefef;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		position: relative;
		.overlay{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.1);
			color: #ffffff;
					.left-info{
				width: 100%;
				text-align: center;
				padding: 20px;
				.logo{
					font-family: pacifico, cursive;
					font-size: 30px;
					padding-top: 1em;
				}
				@media (min-width:768px) {
				    .logo{
						font-family: pacifico, cursive;
						font-size: 60px;
						padding-top: 1em;
					}
				  }
				.caption{
					font-weight: 500;
				    letter-spacing: 2px;
				    padding-top: 10px;
				    font-size: 20px;
				}
			}
			@media (min-width:768px) {
			    .left-info{
					float: left;
					width: 50%;
				}
			  }
			.right-info{
				width: 50%;
				float: right;
				.link-wrap{
					padding-top: 4em;
					ul{
						width: 65%;
						float: right;
						padding: 0;
						margin: 0;
						background-color: #333;
						color: #eee;
						li{
							display: block;
							a{
								display: block;
								border: 1px solid #aaa;
								margin-top: -1px;
								color: #eee;
								padding: 17px;
								font-weight: 500;
								.text{
									float: left;
									display: inline-block;
								}
								.icon{
									float: right;
									display: inline-block;
								}
								&:hover{
									background-color: #666;
								}
							}
						}
					}
				}
			}
		}
	}
	@media (min-width:768px) {
		.banner-section{
			width: 100%;
			height: 25em;
			background-color: #efefef;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center top;
			position: relative;
		}
	}
	.get_started{
		padding: 2.5em 0;
		.caption-text{
			font-size: 2.5em;
			padding-bottom: 10px;
			text-align: center;
		}
		@media (min-width:768px) {
			.caption-text{
				font-size: 3em;
				padding-bottom: 10px;
			}
		}
		.small-caption{

		}
		.form-section{
			margin-top: 25px;
			input{
				border: 1px solid #ccc;
				height: 50px;
    			width: 100%;
    			padding: 0 10px;
    			&:focus{
    				outline: none;
    			}
			}
			@media (min-width:768px) {
				input{
					border: 1px solid #ccc;
					height: 50px;
	    			width: 70%;
	    			padding: 0 10px;
	    			float: left;
	    			&:focus{
	    				outline: none;
	    			}
				}
			}
			button{
				width: 100%;
				height: 48px;
				border: none;
				background-color: #65c495;
				color: #ffffff;
				margin-top: 10px;
				&:focus{
					outline: none;
				}
			}
			@media (min-width:768px) {
				button{
					width: 25%;
					float: right;
					height: 48px;
					border: none;
					background-color: #65c495;
					color: #ffffff;
					margin-top: 0;
					&:focus{
						outline: none;
					}
				}
			}
		}
		@media (min-width:768px) {
			.form-section{
				margin-top: 25px;
    			margin-left: 20px;
			}
		}
		@media (min-width:768px) {
			.caption-text{
				font-size: 3em;
				padding-bottom: 10px;
			}
		}
	}
	@media (min-width:768px) {
		.get_started{
			padding: 6em 0;
		}
	}
	.opportunity{
		padding: 10px;
		background-color: #ffffff;
		.title{
			text-align: center;
			font-size: 35px;
			padding-bottom: 30px;
		}
		@media (min-width:768px) {
			.title{
				text-align: center;
				font-size: 3em;
				padding-bottom: 50px;
			}
		}
		.row-section{
			margin-bottom: 40px;
		}
		.opportunity-tab{
			padding: 10px 0;
			.image-section{
				width: 95px;
			    height: 95px;
			    border-radius: 50%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				vertical-align: top;
				margin: auto;
			}
			@media (min-width:768px) {
				.image-section{
					float: left;
					width: 90px;
				    height: 95px;
				    border-radius: 50%;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					vertical-align: top;
				}
			}
			.content-section{
				float: right;
				width: 100%;
				padding-left: 20px;
				padding-top: 10px;
				vertical-align: top;
			}
			@media (min-width:768px) {
				.content-section{
					float: right;
					width: 80%;
					padding-left: 20px;
					padding-top: 10px;
					vertical-align: top;
				}
			}
		}
	}
	@media (min-width:768px) {
		.opportunity{
			padding: 5em;
			background-color: #ffffff;
		}
	}
	footer{
		//background-color: #30455C;
    background-color: #3c763d;
		height: auto;
		width: 100%;
		padding: 5px 0;
		.logo-section{
			text-align: center;
			margin-bottom: 10px;
			a{
				font-family: pacifico, cursive;
				font-size: 25px;
				color: #ffffff;
			}
		}
		@media (min-width:768px) {
			.logo-section{
				text-align: left;
				margin-bottom: 0px;
				margin-top: 5px;
				a{
					font-family: pacifico, cursive;
					font-size: 25px;
					color: #ffffff;
					// padding-top: 1em;
				}
			}
		}
		.link-section{
			ul{
				margin: 0;
				padding: 0;
				text-align: center;
				li{
					display: inline-block;
					line-height: 3em;
					margin-left: 20px;
					a{
						color: #ffffff;
					}
				}
			}
			@media (min-width:768px) {
				ul{
					margin: 0;
					padding: 0;
					text-align: right;
					li{
						display: inline-block;
						line-height: 3em;
						margin-left: 20px;
						a{
							color: #ffffff;
						}
					}
				}
			}
		}
	}
}
.select-opportunity{
	.title{
		text-align: center;
		color: #ffffff;
		font-size: 2.5em;
		padding-bottom: 20px;
		padding-top: 0;
	}
	@media (min-width:768px) {
		.title{
			text-align: center;
			color: #ffffff;
			font-size: 3em;
			padding-bottom: 50px;
			padding-top: 0;
		}
	}
	.opportunity-wrap{
		margin-bottom: 50px;
	}
	.opportunity-tab{
		width: 100%;
		height: 13em;
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		.overlay{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.7);
			display: none;
			i{
				text-align: center;
				color: #5bb75b;
				display: block;
				font-size: 3em;
    			padding-top: 65px;
			}
		}
	}
	.opportunity-label{
		text-align: center;
		color: #ffffff;
		font-weight: 600;
		padding-bottom: 20px;
		font-size: 25px;
	}
	@media (min-width:768px) {
		.opportunity-label{
			text-align: center;
			color: #ffffff;
			font-weight: 600;
			padding-bottom: 20px;
		}
	}
	input[type=radio]:checked ~ label {
		.overlay{
			display: block
		}
	}
	button{
		text-align: center;
		display: block;
		margin: auto;
		background-color: #44b27b;
		color: #ffffff;
		border: none;
		border-radius: 3px;
		padding: 15px 160px;
	}
}
.details{
	.title{
		text-align: center;
		color: #ffffff;
		font-size: 2.5em;
		padding-bottom: 30px;
		padding-top: 0;
	}
	@media (min-width:768px) {
		.title{
			text-align: center;
			color: #ffffff;
			font-size: 3em;
			padding-bottom: 50px;
			padding-top: 0;
		}
	}
	.form-wrap{
		.input{
			padding-bottom: 20px;
			text-align: center;
			input{
				height: 55px;
			    border-bottom-left-radius: 0;
			    border-bottom-right-radius: 0;
				width: 100%;
    			border-radius: 3px;
			    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			    border: 1px solid #ccc;
			    padding: 0 10px;
			}
			@media (min-width:768px) {
				input{
					height: 55px;
				    border-bottom-left-radius: 0;
				    border-bottom-right-radius: 0;
					width: 40%;
	    			border-radius: 3px;
				    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
				    border: 1px solid #ccc;
				    padding: 0 10px;
				}
			}
			&:focus{
				outline: none;
			}
		}
	}
	button{
		text-align: center;
		display: block;
		margin: auto;
		background-color: #44b27b;
		color: #ffffff;
		border: none;
		border-radius: 3px;
		padding: 15px 0;
		width: 100%;
	}
	@media (min-width:768px) {
		button{
			text-align: center;
			display: block;
			margin: auto;
			background-color: #44b27b;
			color: #ffffff;
			border: none;
			border-radius: 3px;
			padding: 15px 160px;
			width: 40%;
		}
	}
}
.location{
	.title{
		text-align: center;
		color: #ffffff;
		font-size: 3em;
		padding-bottom: 50px;
		padding-top: 0;
	}
	.form-wrap{
		.input{
			padding-bottom: 20px;
			text-align: center;
			input{
				height: 55px;
				width: 40%;
    			border-radius: 3px;
			    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			    border: 1px solid #ccc;
			    padding: 0 10px;
			}
			&:focus{
				outline: none;
			}
		}
		.map-area{
			height: 20em;
			width: 40%;
			margin: auto;
			margin-bottom: 20px;
			border-radius: 3px;
		    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		    border: 1px solid #ccc;
		    overflow: hidden;
		    background-color: #efefef;
		}
	}
	button{
		text-align: center;
		display: block;
		margin: auto;
		background-color: #44b27b;
		color: #ffffff;
		border: none;
		border-radius: 3px;
		padding: 15px 160px;
	}
}
.needs{
	.title{
		text-align: center;
		color: #ffffff;
		font-size: 3em;
		padding-bottom: 50px;
		padding-top: 0;
	}
	.form-wrap{
		.input{
			padding-bottom: 20px;
			text-align: center;
			select{
				height: 55px;
			    border-bottom-left-radius: 0;
			    border-bottom-right-radius: 0;
				width: 40%;
    			border-radius: 3px;
			    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			    border: 1px solid #ccc;
			    padding: 0 10px;
			    color: #999;
			}
			&:focus{
				outline: none;
			}
		}
	}
	button{
		text-align: center;
		display: block;
		margin: auto;
		background-color: #44b27b;
		color: #ffffff;
		border: none;
		border-radius: 3px;
		padding: 15px 160px;
	}
}
.photo{
	.title{
		text-align: center;
		color: #ffffff;
		font-size: 3em;
		padding-bottom: 10px;
		padding-top: 0;
	}
	.sub-title{
		text-align: center;
		color: #ffffff;
		padding-bottom: 50px;
		padding-top: 0;
		font-size: 14px;
	}
	.form-wrap{
		.input{
			padding-bottom: 20px;
			text-align: center;
			input{
				height: 55px;
				width: 40%;
    			border-radius: 3px;
			    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			    border: 1px solid #ccc;
			    padding: 0 10px;
			}
			&:focus{
				outline: none;
			}
		}
		.photo-wrap{
			height: 150px;
			width: 150px;
			background-color: #ffffff;
			border-radius: 50%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			margin: auto;
			margin-bottom: 40px;
		}
	}
	button{
		text-align: center;
		display: block;
		margin: auto;
		background-color: #44b27b;
		color: #ffffff;
		border: none;
		border-radius: 3px;
		padding: 15px 160px;
	}
	.terms{
		text-align: center;
		padding: 30px 16em;
		color: #ffffff;
		a{
			color: #ffffff;
		}
	}
}
.menu-links{
	ul{
		margin: 0;
		padding: 0;
		li{
			display: block;
			a{
				display: block;
				width: 100%;
				padding: 10px;
				background-color: #ffffff;
				color: #666;
				&:hover{
					background-color: #f7f7f7;
				}
			}
		}
	}
}
#community{
	margin-top: 5em;
	background: #e7e9ec;
	.banner{
		width: 100%;
		height: 30em;
		background-color: #efefef;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		.overlay{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.5);
			padding: 10px;
			text-align: center;
			.content{
				padding: 50px 0 0 0;
				color: #fff;
				.title{
					font-weight: 600;
	    			font-size: 35px;
				}
				.caption{
					font-size: 17px;
	    			padding: 10px 0;
				}
				.start{
					background: #30455C;
				    border: none;
				    padding: 12px 55px;
				    border-radius: 4px;
				    text-transform: uppercase;
				    font-weight: 600;
				    margin-top: 1em;
				}
			}
		}
		@media (min-width:768px) {
			.overlay{
				padding: 0px;
				text-align: left;
			}
		}
	}
	@media (min-width:768px) {
		.banner{
			height: 24em;
		}
	}
	.captionWrap{
		padding: 16px 24px;
	    box-shadow: 0 2px 8px rgba(0,0,0,.15);
	    background-color: #FFF;
	    box-sizing: border-box;
	    border-radius: 2px;
	    margin-top: -58px;
		.skills{
			.user{
				border-bottom: 1px solid #ccc;
    			padding-bottom: 20px;
				.img{
					width: 75px;
					height: 75px;
					border-radius: 50%;
					background-color: #efefef;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center top;
					position: relative;
					float: left;
					margin-right: 5px;
				}
				.text-wrap{
					float: right;
					width: 90%;
					padding-top: 20px;
					span{
						display: block;
						&.cation{
							color: #888;
    						font-size: 13px;
						}
						&.title{
							font-size: 18px;
    						padding-top: 5px;
						}
					}
				}
			}
		}
		.intrest{
			padding-top: 10px;
			.text{
				font-size: 13px;
			    display: inline-block;
			    padding-right: 10px;
			}
			.addSkill{
			    background: #30455C;
			    color: #fff;
			    border: none;
			    padding: 4px 13px;
			    border-radius: 3px;
			}
		}
	}
	.tilesWrap{
		margin-top: 40px;
		padding-top: 40px;
		background: #fff;
		padding-bottom: 5em;
		.title{
			font-size: 20px;
		    padding: 10px 0 20px 15px;
		    color: #777;
		}
		.mb-20{
			margin-bottom: 20px;
		}
		.cards{
			width: 100%;
			height: 20em;
			box-shadow: 0 1px 6px rgba(0,0,0,.1),0 0 1px rgba(0,0,0,.15);
			background-color: #ffffff;
			a{
				display: block;
			}
			.img-section{
				width: 100%;
				height: 14em;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				position: relative;
				overflow: hidden;
				text-align: center;
				img{
					width: 100%;
					height: auto;
				}
			}
			.info-section{
				width: 100%;
				height: 30%;
				padding: 10px;
				text-align: center;
				margin-top: 10px;
				.skill{
					font-weight: 600;
				    font-size: 13px;
				    color: #999;
				}
				.name{
					width: 100%;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    font-size: 15px;
				    font-weight: 600;
				    color: #333;
				}
				.views{
					font-size: 13px;
				    padding-top: 8px;
				    color: #888;
				}
			}
		}
	}
	.topUpdate{
		padding-top: 40px;
		padding-bottom: 5em;
		.title{
			font-size: 20px;
		    padding: 10px 0 20px 0;
		    color: #777;
		}
		.mb-20{
			margin-bottom: 20px;
		}
		.cards{
			width: 100%;
			height: 20em;
			box-shadow: 0 1px 6px rgba(0,0,0,.1),0 0 1px rgba(0,0,0,.15);
			background-color: #ffffff;
			.img-section{
				width: 100%;
				height: 50%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				position: relative;
			}
			.info-section{
				width: 100%;
				height: 50%;
				padding: 10px;
				.skill{
					font-weight: 600;
				    font-size: 13px;
				    color: #999;
				}
				.name{
					width: 100%;
				    font-size: 14px;
				    color: #333;
				}
				.views{
					font-size: 13px;
				    padding-top: 8px;
				    color: #888;
				}
			}
		}
	}
}
#search-result{
	margin-top: 7em;
	margin-bottom: 7em;
	.search-wrapper{
		width: 100%;
		min-height: 20em;
		box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
		background-color: #fbfbfb;
		border-top: 1px solid rgba(0,0,0,0.03);
		.filter-section{
			margin-bottom: 20px;
			color: #666;
			font-size: 12px;
			.title{
				padding: 10px;
			    border-bottom: 1px solid #eee;
			    font-weight: 600;
			    color: #30455C;
			}
			ul{
				margin: 0;
				padding: 0;
				li{
					display: block;
					a{
						display: block;
						color: #444;
						padding: 5px 10px;
						font-weight: 600;
					}
					input{
						display: inline-block;
						margin-right: 5px;
					}
					label{

					}
				}
			}
		}
		.result-count{
			padding: 20px 0;
			font-size: 15px;
			font-weight: 600;
		}
		.content{
			.result{
				padding: 10px 0;
				border-bottom: 1px dashed #ccc;
				&:last-child{
					border-bottom: none;
				}
				&:nth-child(even){
					background-color: #fbfbfb;
				}
				.img{
					width: 80px;
					height: 80px;
					border-radius: 50%;
					background-color: #efefef;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center top;
					position: relative;
				}
				.name{
					font-size: 16px;
    				font-weight: 600;
    				padding-bottom: 5px;

				}
				.about{

				}
				.views{
					padding: 10px 0;
				    font-weight: 600;
				    color: #888;
				    font-size: 12px;
				}
				button.connect{
					//background-color: #30455C;
          background-color: #3c763d;
					padding: 5px 50px;
					border-radius: 4px;
					color: #fff;
					border: 0;
				}
			}
		}
	}
}
#notification{
	margin-top: 5em;
	min-height: 50em;
	background: #e7e9ec;
	.title{
		padding: 1em 0em 10px 0em;
    	font-size: 23px;
    	color: #30455C;
	}
	table{
		width: 100%;
		border-collapse: collapse;
		tr{
			background-color: #f7f7f7;
			&:hover{
				background-color: #fbfbfb;
			}
			th{
				text-align: left;
    			padding: 10px 10px;
    			color: #30455C;
    			background-color: #ffffff;
			}
			td{
				padding: 10px;
				border-top: 1px solid #e1e1e1;
				.main{
					font-size: 14px;
				}
				.caption{
					color: #555;
    				font-size: 12px;
				}
			}
		}
	}
}
#talentandmetors{
	margin-top: 5em;
	min-height: 50em;
	background: #e7e9ec;
	.connections{
		background: #fff;
	    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
	    display: block;
	    min-height: 60px;
	    margin-top: 2em;
	    padding: 10px;
	    margin-bottom: 20px;
		div{
			display: inline-block;
		}
		.icon{
			font-size: 30px;
			color: #30455C;
			padding-right: 20px;
		}
		.text-wrap{
			.title{
				width: 100%;
			    font-weight: 600;
			    font-size: 17px;
			    line-height: 1em;
			}
			.caption{

			}
		}
	}
	.content-wrap{
		.d-wrap{
			background-color: #ffffff;
			box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
			margin-bottom: 30px;
			&:hover{
				box-shadow: 0 2px 2px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
			}
			.img-section{
				width: 100%;
				height: 13em;
				background-color: #efefef;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center top;
				position: relative;
				text-align: center;
				img{
					width: auto;
					height: 100%;
					 margin-top: -21px;
				}
			}
			.info-section{
				padding: 10px;
				.title{
					font-weight: 600;
    				padding-bottom: 10px;
    				text-align: center;
				}
				.content{
					font-size: 13px;
    				color: #999;
				}
			}
			.contact{
				//background-color: #30455C;
        background-color: #3c763d;
				color: #ffffff;
				text-align: center;
				a{
					display: block;
					color: #ffffff;
					text-decoration: none;
				    text-decoration: none;
				    padding: 10px 0;
				    font-weight: 600;
				}
			}
		}
	}
}
.header-top{
  padding-top: 70px;
}
.userInfoHeader{
	margin-top: 20px;
	padding: 15px 0px 0 0;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    .images{
    	width: 100%;
    	height: 200px;
    	background-position: center;
    	background-size: cover;
    	background-repeat: no-repeat;
    	margin-bottom: 15px;
    }
    .informateWrap{
    	.name{
			font-weight: 600;
			font-size: 20px;

    	}
    	.job{
			font-size: 12px;
			color: 999;
    	}
    	.company{
			font-size: 12px;
			color: 999;
    	}
    	table{
    		width: 100%;
    		border-collapse: collapse;
    		margin: 15px 0;
    		tr{
    			td{
    				padding: 2px 0;
					&:first-child{
						font-size: 12px;
						color: 999;
					}
    			}
    		}
    	}
    	.mainConnect{
    		display: block;
    		font-weight: bold;
		    border-width: 1px;
		    border-style: solid;
		    cursor: pointer;
		    margin: 0;
		    text-decoration: none !important;
		    width: auto;
		    text-shadow: 0 1px 1px rgba(0,0,0,0.35);
		    -webkit-border-radius: 3px;
		    -moz-border-radius: 3px;
		    -ms-border-radius: 3px;
		    -o-border-radius: 3px;
		    border-radius: 3px;
		    padding: 0 13px;
		    height: 31px;
		    line-height: 29px;
		    font-size: 13px;
		    color: #fff;
		    background-color: #287bbc;
		    border-color: #1b5480;
		    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
		    background-image: -webkit-linear-gradient(top, #287bbc 0%,#23639a 100%);
		    background-image: -moz-linear-gradient(top, #287bbc 0%,#23639a 100%);
		    background-image: -o-linear-gradient(top, #287bbc 0%,#23639a 100%);
		    background-image: linear-gradient(top, #287bbc 0%,#23639a 100%);
		    white-space: nowrap;
		    display: -moz-inline-stack;
		    display: inline-block;
		    vertical-align: middle;
		    zoom: 1;
		    vertical-align: middle;
		    margin: 5px 5px 0 0;
		    white-space: nowrap;
		    margin-bottom: 20px;
    	}
    }
}
.userDataWrap{
	margin-top: 20px;
	padding: 15px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    .maintitle{
    	font-weight: 600;
    	font-size: 20px;
    	margin-bottom: 15px;
    }
    .content{
    	font-size: 14px;
    	margin-bottom: 30px;
    	.title{
    		font-weight: 600;
    		margin-bottom: 10px;
    	}
    }
}
.rightAddInfo{
	margin-top: 20px;
	padding: 20px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
}
.mb-30{
	margin-bottom: 30px;
}

.extra-section{
	width: 100%;
	height: auto;
	background: transparent;
}
.extra-section .title{
	font-weight: 500;
    font-size: 15px;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
    padding-top: 15px;
    color: #666;
}
.extra-section .common-friends{
	padding: 10px 0;
}
.extra-section .common-friends .image{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
}
.extra-section .common-friends .content{
	float: right;
	width: 170px;
}
.extra-section .common-friends .content .name{
	font-size: 13px;
    font-weight: 500;
    color: #444;
}
.extra-section .common-friends .content .ocupation{
	font-size: 12px;
    color: #777;
    font-weight: 500;
}
.extra-section .common-friends .content a.contact{
	color: #fff;
    background: #5bb75b;
    font-size: 12px;
    padding: 1px 5px;
    border-radius: 4px;
    font-weight: 500;
}
.Profile{
	tr{
		td{
			vertical-align: top;
			&:first-child{
				padding-right: 10px!important;
			}
		}
	}
}