#jobs {
    margin-top: 5em
}

#jobs .p-0 {
    padding: 0
}

#jobs .p-l {
    padding-left: 0
}

#jobs .pr-0 {
    padding-right: 0
}

#jobs .content {
    padding: 20px 0
}

#jobs .content .filter-wrap .form-filters .keywords {
    background: #fff;
    border-radius: 3px;
    padding: 1px 10px;
    margin-bottom: 10px
}

#jobs .content .filter-wrap .form-filters .keywords .icon {
    width: 10%;
    float: left;
    color: #999;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    padding-right: 6px
}

#jobs .content .filter-wrap .form-filters .keywords input {
    width: 90%;
    height: 3em;
    border: 0;
    float: right
}

#jobs .content .filter-wrap .form-filters .keywords input:focus {
    outline: 0
}

#jobs .content .filter-wrap .form-filters .job-categories {
    margin-bottom: 10px
}

#jobs .content .filter-wrap .form-filters .job-categories select {
    width: 100%;
    height: 3em;
    background: #fff;
    border: 0;
    border-radius: 3px;
    padding: 0 10px;
    color: #999
}

#jobs .content .filter-wrap .form-filters .job-categories select:focus {
    outline: 0
}

#jobs .content .filter-wrap .form-filters .featured {
    margin-bottom: 10px
}

#jobs .content .filter-wrap .form-filters .featured label {
    padding-right: 10px
}

#jobs .content .filter-wrap .form-filters .featured select {
    height: 3em;
    background: #fff;
    border: 0;
    border-radius: 3px;
    padding: 0 10px;
    color: #999;
    width: 70%
}

#jobs .content .filter-wrap .form-filters .featured select:focus {
    outline: 0
}

#jobs .content .job-panel-wrap {
    margin-top: 30px
}

#jobs .content .job-panel-wrap a {
    color: inherit;
    display: block
}

#jobs .content .job-panel {
    border: .0625rem solid #bec2c5;
    padding: 20px 30px;
    background: #fff;
    border-radius: 4px;
    margin: 10px 0
}

#jobs .content .job-panel .img {
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

#jobs .content .job-panel .job-title-wrap {
    padding-left: 20px
}

#jobs .content .job-panel .job-title-wrap .title {
    font-weight: 600;
    font-size: 15px
}

#jobs .content .job-panel .job-title-wrap .company {
    font-size: 13px
}

#jobs .content .job-panel .time-wrap .time {
    font-size: 13px;
    color: #CC6114;
    font-weight: 600
}

#jobs .content .job-panel .time-wrap .days {
    font-size: 13px;
    display: inline-block;
    padding-left: 20px
}

#jobs .content .job-panel .icon {
    color: #888;
    font-size: 13px;
    padding-top: 10px;
    display: inline-block
}

#jobs .content .job-panel .location {
    color: #888;
    font-size: 13px;
    padding-top: 10px;
    display: inline-block
}

#jobs .content .job-panel .price {
    text-align: right;
    font-weight: 600;
    font-size: 17px
}

#jobs .content .job-panel .reward {
    text-align: right;
    font-size: 13px;
    color: #999
}

#jobs .content .signup-add {
    margin-top: 20px;
    padding-bottom: 20px
}

#jobs .content .signup-add .title {
    font-size: 19px;
    color: #333
}

#jobs .content .signup-add .title span {
    display: inline-block
}

#jobs .content .signup-add .title span:first-child {
    padding-right: 10px
}

#jobs .content .signup-add .title span i {
    color: #AFB1B1
}

#jobs .content .signup-add .content {
    padding-top: 10px;
    color: #333;
    line-height: 20px
}

#jobs .content .signup-add a.signup-btn {
    font-size: 12px;
    border: 1px solid #30455C;
    padding: 4px 10px;
    border-radius: 3px;
    color: #30455C
}

#jobs .content .signup-add a.signup-btn:hover {
    background: #30455C;
    color: #fff;
    border-color: #30455C
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
