/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none
}

::selection {
  background: #b3d4fc;
  text-shadow: none
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0
}

textarea {
  resize: vertical
}

.browserupgrade {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0
}

body {
  font-family: Helvetica;
  background-color: #E7E9EC;
}

.main-wrapper {
  max-width: 989px;
  margin: auto
}

a {
  color: #008cc9;
  text-decoration: none
}

a:hover {
  text-decoration: none
}

header {
  width: 100%;
  position: fixed;
  height: auto;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, .109804) 0 2px 10px 0
}

header .top-section {
  background-color: #3c763d;
  height: 70px;
  z-index: 1;
  padding: 10px
}

@media (min-width: 768px) {
  header .top-section {
    background-color: #3c763d;
    height: 42px;
    z-index: 1;
    padding: 0
  }
}

header .top-section .logo {
  width: 20%;
  float: left;
  font-family: pacifico, cursive;
  color: #fff
}

header .top-section .logo a {
  display: block;
  font-family: pacifico, cursive;
  color: #fff;
  font-size: 25px;
  line-height: 44px
}

@media (min-width: 768px) {
  header .top-section .logo a {
    display: block;
    font-family: pacifico, cursive;
    color: #fff;
    font-size: 20px;
    line-height: 40px
  }
}

header .top-section .logo img {
  margin-top: 3px
}

header .top-section .search-section {
  float: right;
  height: 42px;
  width: 53%;
  text-align: right;
  color: #fff
}

header .top-section .search-section i {
  font-size: 30px;
  display: inline-block;
  line-height: 47px;
  cursor: pointer
}

@media (min-width: 768px) {
  header .top-section .search-section {
    float: right;
    height: 42px;
    width: 53%
  }
}

header .top-section .search-section .search {
  width: 73%;
  height: 27px;
  margin-top: 6px;
  float: left
}

header .top-section .search-section .search .filter {
  width: 13%;
  float: left;
  height: 100%;
  background: #575757;
  background-image: -webkit-linear-gradient(#888 0, #888 4%, #575757 100%);
  background-image: -o-linear-gradient(#888 0, #888 4%, #575757 100%);
  background-image: linear-gradient(#888 0, #888 4%, #575757 100%);
  border-radius: 2px 0 0 2px;
  display: block;
  text-align: center;
  color: #999;
  padding: 3px 0 0 0;
  position: relative;
  cursor: pointer
}

header .top-section .search-section .search .filter i {
  display: inline-block
}

header .top-section .search-section .search .filter .fa-bars {
  font-size: 20px
}

header .top-section .search-section .search .form {
  float: right;
  width: 87%;
  height: 100%
}

header .top-section .search-section .search .form input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 10px;
  border-radius: 0 2px 2px 0;
  font-size: 13px
}

header .top-section .search-section button {
  float: left;
  font-weight: 700;
  border-width: 1px;
  border-style: solid;
  height: 30px;
  cursor: pointer;
  margin-top: 5px;
  width: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .35);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  color: #fff;
  background-color: #287bbc;
  border-color: #1b5480;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF287BBC', endColorstr='#FF23639A');
  background-image: -webkit-linear-gradient(top, #287bbc 0, #23639a 100%);
  background-image: -moz-linear-gradient(top, #287bbc 0, #23639a 100%);
  background-image: -o-linear-gradient(top, #287bbc 0, #23639a 100%);
  background-image: linear-gradient(top, #287bbc 0, #23639a 100%);
  white-space: nowrap;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 3px;
  padding-right: 3px;
  overflow: hidden;
  width: 50px
}

header .top-section .search-section button i {
  font-size: 15px;
  line-height: 1
}

header .top-section .search-section .advanced {
  padding-top: 0;
  padding-bottom: 0;
  color: #D7D7D7;
  font-size: 11px;
  line-height: 38px;
  text-decoration: none;
  display: block;
  float: left
}

header .top-section .notification-section {
  float: right;
  height: 42px;
  width: 26%;
  text-align: right;
  line-height: 42px
}

header .top-section .notification-section ul {
  margin: 0;
  padding: 0;
  height: 42px
}

header .top-section .notification-section ul li {
  display: inline-block;
  padding: 0 11px;
  font-size: 21px;
  color: #999;
  height: 100%;
  vertical-align: top;
  position: relative;
  cursor: pointer
}

header .top-section .notification-section ul li .count {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
  padding-top: 0;
  padding-bottom: 0;
  background: #e04c4c;
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  text-indent: 0;
  pointer-events: none
}

header .top-section .notification-section ul li.has-drop-down .drop-down {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  border: 1px solid;
  top: 100%;
  display: none
}

header .top-section .notification-section ul li.has-drop-down .drop-down.message {
  width: 18em;
  left: -9em;
  border: 5px solid #333;
  z-index: 11;
  max-height: 26em;
  overflow: auto
}

header .top-section .notification-section ul li.has-drop-down .drop-down.message .title {
  color: #fff;
  background-color: #333;
  padding: 0 10px;
  height: 35px;
  line-height: 35px
}

header .top-section .notification-section ul li.has-drop-down .drop-down.message .title a {
  color: #fff
}

header .top-section .notification-section ul li.has-drop-down .drop-down.message .title .message {
  float: left;
  display: inline-block;
  font-size: 12px;
  font-weight: 900
}

header .top-section .notification-section ul li.has-drop-down .drop-down.message .title .compose {
  float: right;
  display: inline-block;
  font-size: 13px;
  font-weight: 900
}

header .top-section .notification-section ul li.has-drop-down .drop-down.message .content {
  background-color: #deedfe;
  font-size: 13px;
  padding: 10px
}

header .top-section .notification-section ul li.has-drop-down .drop-down.message .content .img-wrap {
  float: left;
  width: 20%;
  height: auto
}

header .top-section .notification-section ul li.has-drop-down .drop-down.message .content .img-wrap .img {
  width: 70%;
  height: 45px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

header .top-section .notification-section ul li.has-drop-down .drop-down.message .content .description {
  float: right;
  width: 80%;
  text-align: left;
  line-height: 17px;
  position: relative
}

header .top-section .notification-section ul li.has-drop-down .drop-down.message .content .description .time {
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 20px;
  font-size: 12px
}

header .top-section .notification-section ul li.has-drop-down .drop-down.message .content .description .t2 {
  color: #444
}

header .top-section .notification-section ul li.has-drop-down .drop-down.flag {
  width: 18em;
  left: -10em;
  border: 5px solid #333;
  z-index: 11;
  max-height: 26em;
  overflow: auto
}

header .top-section .notification-section ul li.has-drop-down .drop-down.flag .title {
  color: #fff;
  background-color: #333;
  padding: 0 10px;
  height: 35px;
  line-height: 35px
}

header .top-section .notification-section ul li.has-drop-down .drop-down.flag .title a {
  color: #fff
}

header .top-section .notification-section ul li.has-drop-down .drop-down.flag .title .message {
  float: left;
  display: inline-block;
  font-size: 12px;
  font-weight: 900
}

header .top-section .notification-section ul li.has-drop-down .drop-down.flag .title .compose {
  float: right;
  display: inline-block;
  font-size: 13px;
  font-weight: 900
}

header .top-section .notification-section ul li.has-drop-down .drop-down.flag .content {
  background-color: #fff;
  font-size: 13px;
  padding: 10px;
  border-bottom: 1px solid #d2d2d2
}

header .top-section .notification-section ul li.has-drop-down .drop-down.flag .content:hover {
  background-color: #E7E9EC
}

header .top-section .notification-section ul li.has-drop-down .drop-down.flag .content:last-child {
  border-bottom: none
}

header .top-section .notification-section ul li.has-drop-down .drop-down.flag .content .img-wrap {
  float: left;
  width: 20%;
  height: auto
}

header .top-section .notification-section ul li.has-drop-down .drop-down.flag .content .img-wrap .img {
  width: 70%;
  height: 45px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

header .top-section .notification-section ul li.has-drop-down .drop-down.flag .content .description {
  float: right;
  width: 80%;
  text-align: left;
  line-height: 17px;
  position: relative
}

header .top-section .notification-section ul li.has-drop-down .drop-down.flag .content .description .time {
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 20px;
  font-size: 12px
}

header .top-section .notification-section ul li.has-drop-down .drop-down.flag .content .description .t2 {
  color: #444
}

header .top-section .notification-section ul li.has-drop-down .drop-down.people {
  width: 18em;
  left: -14em;
  border: 5px solid #333;
  z-index: 11;
  max-height: 26em;
  overflow: auto
}

header .top-section .notification-section ul li.has-drop-down .drop-down.people .title {
  color: #fff;
  background-color: #333;
  padding: 0 10px;
  height: 35px;
  line-height: 35px
}

header .top-section .notification-section ul li.has-drop-down .drop-down.people .title a {
  color: #fff
}

header .top-section .notification-section ul li.has-drop-down .drop-down.people .title .message {
  float: left;
  display: inline-block;
  font-size: 12px;
  font-weight: 900
}

header .top-section .notification-section ul li.has-drop-down .drop-down.people .title .compose {
  float: right;
  display: inline-block;
  font-size: 13px;
  font-weight: 900
}

header .top-section .notification-section ul li.has-drop-down .drop-down.people .content {
  background-color: #fff;
  font-size: 13px;
  padding: 10px;
  border-bottom: 1px solid #d2d2d2
}

header .top-section .notification-section ul li.has-drop-down .drop-down.people .content:hover {
  background-color: #E7E9EC
}

header .top-section .notification-section ul li.has-drop-down .drop-down.people .content:last-child {
  border-bottom: none
}

header .top-section .notification-section ul li.has-drop-down .drop-down.people .content .img-wrap {
  float: left;
  width: 20%;
  height: auto
}

header .top-section .notification-section ul li.has-drop-down .drop-down.people .content .img-wrap .img {
  width: 70%;
  height: 45px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

header .top-section .notification-section ul li.has-drop-down .drop-down.people .content .description {
  float: right;
  width: 80%;
  text-align: right;
  line-height: 17px;
  position: relative
}

header .top-section .notification-section ul li.has-drop-down .drop-down.people .content .description .time {
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 20px;
  font-size: 12px
}

header .top-section .notification-section ul li.has-drop-down .drop-down.people .content .description .t2 {
  color: #444
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile {
  width: 14em;
  left: -9em;
  border: 5px solid #333;
  z-index: 11;
  max-height: 26em;
  overflow: auto
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .title {
  color: #fff;
  background-color: #333;
  padding: 0 10px;
  height: 35px;
  line-height: 35px
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .title a {
  color: #fff
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .title .message {
  float: left;
  display: inline-block;
  font-size: 12px;
  font-weight: 900
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .title .compose {
  float: right;
  display: inline-block;
  font-size: 13px;
  font-weight: 900
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .content {
  background-color: #fff;
  font-size: 13px;
  padding: 8px;
  border-bottom: 1px solid #d2d2d2
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .content:hover {
  background-color: #E7E9EC
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .content:last-child {
  border-bottom: none
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .content .img-wrap {
  float: left;
  width: 8%;
  height: auto;
  text-align: center;
  font-size: 20px;
  vertical-align: top;
  line-height: 1;
  color: #ccc
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .content .img-wrap .img {
  width: 100%;
  height: 26px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .content .pt-4 {
  padding-top: 4px
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .content .description {
  float: right;
  width: 80%;
  text-align: left;
  line-height: 17px;
  position: relative
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .content .description .time {
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 20px;
  font-size: 12px
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .content .description .t2 {
  color: #444
}

header .top-section .notification-section ul li.has-drop-down .drop-down.profile .content .button {
  float: right;
  width: 40%;
  text-align: left;
  line-height: 17px;
  position: relative
}

header .top-section .notification-section ul li.has-drop-down:hover .drop-down {
  display: block
}

header .top-section .notification-section ul li .profile-image {
  width: 20px;
  height: 20px;
  margin-top: 11px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

header .top-section .notification-section ul li:hover {
  background-color: #252525
}

header .bottom-section {
  background-color: #333;
  border-top: 1px solid;
  z-index: 1;
  height: 2em
}

header .bottom-section ul {
  margin: 0;
  padding: 0
}

header .bottom-section ul.left {
  float: left
}

header .bottom-section ul.left li {
  padding-right: 30px
}

header .bottom-section ul.left li.has-drop-down {
  position: relative
}

header .bottom-section ul.left li.has-drop-down .drop-down.bottom-nav {
  width: 14em;
  left: 0;
  top: 26px;
  border: 1px solid #30455C;
  z-index: 11;
  max-height: 26em;
  overflow: auto;
  display: none;
  position: absolute
}

header .bottom-section ul.left li.has-drop-down .drop-down.bottom-nav .content {
  background-color: #fff;
  font-size: 13px;
  border-bottom: 1px solid #d2d2d2
}

header .bottom-section ul.left li.has-drop-down .drop-down.bottom-nav .content a {
  display: block;
  color: #333;
  font-weight: 100;
  padding: 8px;
  cursor: pointer;
  font-size: 13px
}

header .bottom-section ul.left li.has-drop-down .drop-down.bottom-nav .content:hover {
  background-color: #E7E9EC
}

header .bottom-section ul.left li.has-drop-down .drop-down.bottom-nav .content:last-child {
  border-bottom: none
}

header .bottom-section ul.left li.has-drop-down .drop-down.bottom-nav .content .pt-4 {
  padding-top: 4px
}

header .bottom-section ul.left li.has-drop-down .drop-down.bottom-nav .content .description {
  width: 100%;
  text-align: left;
  line-height: 17px;
  position: relative
}

header .bottom-section ul.left li.has-drop-down .drop-down.bottom-nav .content .description .time {
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 20px;
  font-size: 12px
}

header .bottom-section ul.left li.has-drop-down .drop-down.bottom-nav .content .description .t2 {
  color: #444
}

header .bottom-section ul.left li.has-drop-down .drop-down.bottom-nav .content .button {
  float: right;
  width: 40%;
  text-align: left;
  line-height: 17px;
  position: relative
}

header .bottom-section ul.left li.has-drop-down:hover .drop-down.bottom-nav {
  display: block
}

header .bottom-section ul.right {
  float: right
}

header .bottom-section ul.right li {
  padding-left: 30px
}

header .bottom-section ul li {
  line-height: 2em;
  display: inline-block
}

header .bottom-section ul li a {
  display: inline-block;
  height: 100%;
  color: #d7d7d7;
  font-size: 14px;
  font-weight: 500
}

header .bottom-section ul li a:hover {
  color: #2e8dd7
}

.p-0 {
  padding: 0
}

.pr-0 {
  padding-right: 0
}

.pl-0 {
  padding-left: 0
}

.pt-90 {
  padding-top: 90px
}

.b-none {
  border: none
}

.content .shadow {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15), -1px 0 0 rgba(0, 0, 0, .03), 1px 0 0 rgba(0, 0, 0, .03), 0 1px 0 rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .15), -1px 0 0 rgba(0, 0, 0, .03), 1px 0 0 rgba(0, 0, 0, .03), 0 1px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), -1px 0 0 rgba(0, 0, 0, .03), 1px 0 0 rgba(0, 0, 0, .03), 0 1px 0 rgba(0, 0, 0, .12)
}

.content .identity {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  background: #fff
}

.content .identity .member {
  border-right: 1px solid #ddd;
  height: 100px;
  padding: 10px
}

.content .identity .member .image-section {
  width: 30%;
  height: 100%;
  float: left
}

.content .identity .member .image-section .img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.content .identity .member .content {
  width: 70%;
  height: 100%;
  float: right
}

.content .identity .member .content .name {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #434649;
  padding-top: 5px;
  max-height: 24px;
  margin-bottom: 5px
}

.content .identity .member .content .job {
  font-size: 12px;
  line-height: 14px;
  color: #66696a;
  max-height: 14px;
  margin-bottom: 10px
}

.content .identity .member .content .button {
  font-size: 13px;
  line-height: 17px;
  color: #006fa6;
  font-weight: 400;
  text-decoration: none;
  color: #008cc9
}

.content .identity .stat {
  height: 100px;
  padding: 10px
}

.content .identity .stat .stat-section {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #ddd
}

.content .identity .stat .stat-section:last-child {
  border-bottom: none
}

.content .identity .stat .stat-section .number {
  float: left;
  width: 20%;
  height: 100%;
  font-weight: lighter;
  display: block;
  margin-right: 10px;
  vertical-align: middle;
  width: 30px;
  text-align: right;
  white-space: nowrap;
  color: #008cc9;
  padding-top: 10px
}

.content .identity .stat .stat-section .content {
  float: right;
  width: 80%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  line-height: 17px;
  color: #66696a;
  font-weight: 400;
  text-align: left
}

.content .share-actions {
  width: 100%;
  height: 50px;
  background-color: #fff;
  margin-bottom: 10px
}

.backgrnd{
  position: relative;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/welcom.jpeg')

}

.content .share-actions .share {
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-right: 1px solid #ddd;
  cursor: pointer;
  color: #66696a;
  font-size: 14px
}
.content .share-actions .share .overlay{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content .share-actions .share .overlay h3{
    font-size: 39px;
    padding: 0;
    margin: 0;
}
.content .share-actions .share .overlay small{
  font-size: 14px;
}
.content .share-actions .share .overlay i{
  display: inline-block;
  padding-top: 20px;
}
.content .share-actions .share:hover {
  background-color: #f1f3f5
}

.content .share-actions .share .fa-quote-left {
  color: #8C6BAA;
  font-size: 22px
}

.content .share-actions .share .fa-picture-o {
  color: #7BB72E;
  font-size: 22px
}

.content .share-actions .share .fa-file-o {
  color: #E58422;
  font-size: 22px
}

.content .content {
  margin-bottom: 10px
}

.content .content .img {
  width: 100%;
  background-color: #fff;
  height: 90px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.content .content .info {
  width: 100%;
  background-color: #fff;
  min-height: 100px
}

.content .content .info .post-section {
  padding: 15px
}

.content .content .info .post-section .name-section {
  width: 90%;
  float: left
}

.content .content .info .post-section .name-section .name {
  font-weight: 800
}

.content .content .info .post-section .name-section .description {
  color: #96999c
}

.content .content .info .post-section .duration {
  width: 10%;
  float: right;
  text-align: right
}

.content .content .info .post-section .line {
  border-top: 1px solid #ddd;
  width: 100%;
  margin: auto;
  margin-top: 5px
}

.content .content .info .post-section .image-wrap .caption {
  padding: 10px 0
}

.content .content .info .post-section .image-wrap .images {
  height: auto;
  width: 100%
}

.content .content .info .post-section .image-wrap .images img {
  width: 100%;
  height: auto
}

.content .content .info .post-section .like {
  height: 2em;
  padding-top: 13px;
  width: 100%;
  background-color: #fff
}

.content .content .info .post-section .like ul {
  margin: 0;
  padding: 0
}

.content .content .info .post-section .like ul li {
  display: inline-block;
  padding-right: 5px
}

.content .content .info .post-section .like ul li a {
  display: inline-block
}

.content .content .info .post-section .like ul li a:hover {
  text-decoration: underline;
  color: #008cc9
}

.content .content .info .post-section .like ul li.with-icon a {
  color: #66696a
}

.content .content .info .comment-section {
  background-color: #F1F3F5;
  min-height: 10em;
  width: 100%;
  padding: 15px
}

.content .content .info .comment-section .title {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #66696a;
  text-decoration: none
}

.content .content .info .comment-section .title:hover {
  color: #008cc9
}

.content .content .info .comment-section .comment {
  margin-top: 10px
}

.content .content .info .comment-section .comment .user-img {
  float: left;
  width: 8%
}

.content .content .info .comment-section .comment .user-img .img {
  height: 38px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.content .content .info .comment-section .comment .content {
  float: right;
  width: 90%;
  color: #333;
  font-size: 13px
}

.content .content .info .comment-section .comment .content ul {
  margin: 0;
  margin-top: 10px;
  padding: 0
}

.content .content .info .comment-section .comment .content ul li {
  display: inline-block;
  padding-right: 5px
}

.content .content .info .comment-section .comment .content ul li a {
  display: inline-block
}

.content .content .info .comment-section .comment .content ul li a:hover {
  text-decoration: underline;
  color: #008cc9
}

.content .content .info .comment-section .comment .content ul li.with-icon a {
  color: #66696a
}

.content .content .info .comment-section .comment input {
  background: #fdfdfd;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 6px 4px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1) inset;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .1) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, .1) inset;
  border: 1px solid #c1c1c1;
  font-size: 13px;
  color: #333;
  line-height: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  max-height: 147px;
  width: 100%;
  max-width: 100%;
  resize: none;
  position: relative;
  overflow: auto;
  border-radius: 0
}

.content .fixed-section {
  position: relative
}

.content .fixed-section .front {
  width: 329px;
  height: 180px;
  background: #fff;
  margin-bottom: 10px;
  position: fixed;
  padding: 10px
}

.content .fixed-section .front .title .stat-section {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #ddd;
  font-size: 14px
}

.content .fixed-section .front .title .stat-section:last-child {
  border-bottom: none
}

.content .fixed-section .front .title .stat-section .number {
  float: left;
  width: 10%;
  height: 100%;
  font-weight: lighter;
  display: block;
  margin-right: 10px;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
  color: #008cc9;
  padding-top: 2px;
  font-size: 28px;
  margin-top: -10px
}

.content .fixed-section .front .title .stat-section .content {
  float: right;
  width: 86%;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  line-height: 17px;
  color: #66696a;
  font-weight: 400;
  text-align: left;
  padding-top: 3px
}

.content .fixed-section .front .d-info .comment {
  margin-top: 10px
}

.content .fixed-section .front .d-info .comment .user-img {
  float: left;
  width: 18%
}

.content .fixed-section .front .d-info .comment .user-img .img {
  height: 60px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.content .fixed-section .front .d-info .comment .content {
  float: right;
  width: 80%;
  color: #333;
  font-size: 13px
}

.content .fixed-section .front .d-info .comment .content ul {
  margin: 0;
  margin-top: 10px;
  padding: 0
}

.content .fixed-section .front .d-info .comment .content ul li {
  display: inline-block;
  padding-right: 5px
}

.content .fixed-section .front .d-info .comment .content ul li a {
  display: inline-block
}

.content .fixed-section .front .d-info .comment .content ul li a:hover {
  text-decoration: underline;
  color: #008cc9
}

.content .fixed-section .front .d-info .comment .content ul li.with-icon a {
  color: #66696a
}

.content .fixed-section .front .connect-btn a {
  display: inline-block;
  margin-top: 1em;
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 5px;
  margin-right: 5px
}

.content .fixed-section .add {
  width: 329px;
  height: auto;
  background: #fff;
  margin-bottom: 10px;
  top: 300px;
  position: fixed;
  padding: 10px
}

.content .fixed-section .add.talent {
  top: 465px
}

.content .fixed-section .add .name-section {
  width: 90%;
  float: left
}

.content .fixed-section .add .name-section .name {
  font-weight: 600
}

.content .fixed-section .add .name-section .name a {
  color: #333
}

.content .fixed-section .add .name-section .description {
  color: #96999c
}

.content .fixed-section .add .duration {
  width: 10%;
  float: right;
  text-align: right
}

.content .fixed-section .add .line {
  border-top: 1px solid #ddd;
  width: 100%;
  margin: auto;
  margin-top: 5px
}

.content .fixed-section .add .add-image {
  width: 100%;
  height: 70px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.content .fixed-section .add .connect {
  display: block;
  text-align: center;
  margin-top: 10px;
  background: #30455C;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 5px 0
}

.hidden {
  display: none !important
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto
}

.invisible {
  visibility: hidden
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

@media print {
  *, :after, :before, :first-letter, :first-line {
    background: 0 0 !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important
  }

  a, a:visited {
    text-decoration: underline
  }

  a[href]:after {
    content: " (" attr(href) ")"
  }

  abbr[title]:after {
    content: " (" attr(title) ")"
  }

  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""
  }

  blockquote, pre {
    border: 1px solid #999;
    page-break-inside: avoid
  }

  thead {
    display: table-header-group
  }

  img, tr {
    page-break-inside: avoid
  }

  img {
    max-width: 100% !important
  }

  h2, h3, p {
    orphans: 3;
    widows: 3
  }

  h2, h3 {
    page-break-after: avoid
  }
}

.btn-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important
}

.btn-shadow:active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2) !important
}

a:focus {
  text-decoration: none
}

.messageWrap button.messageLaunch {
  position: fixed;
  right: 30px;
  bottom: 15px;
  background-color: #8CC34A;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all .4s, bottom .8s ease-in-out !important;
  cursor: pointer !important;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .25) !important;
  z-index: 1000
}

.messageWrap button.messageLaunch:hover {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .5) !important
}

.messageWrap button.messageLaunch span {
  display: inline-block
}

.messageWrap button.messageLaunch span.icon {
  font-size: 18px;
  padding-right: 10px
}

.messageWrap button.messageLaunch span.text {
  font-size: 14px
}

.animationFix {
  animation-duration: 1s
}

.messageWrap .messageContainer {
  width: 35%;
  height: 27em;
  position: fixed;
  right: 30px;
  bottom: 15px;
  z-index: 100;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, .2) 0 2px 6px;
  display: none
}

.messageWrap .messageContainer .header {
  background-color: #404040;
  padding: 0 10px;
  height: 2.5em;
  line-height: 2.5em;
  color: #fff
}

.messageWrap .messageContainer .header .closed {
  cursor: pointer
}

.messageWrap .messageContainer .messageArea {
  width: 100%;
  height: 300px
}

.messageWrap .messageContainer .btnArea {
  height: 43px;
  padding: 9px 10px
}

.messageWrap .messageContainer .btnArea button {
  box-shadow: none;
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background-image: linear-gradient(top, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
  border-bottom-color: #2f5bb7;
  color: #fff;
  padding: 3px 15px
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
