#profile-wrapper{
	width: 100%;
	height: auto;
	position: relative;
	padding: 0 0 5em 0;
}
#profile-wrapper .banner{
	width: 100%;
	height: 25em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
#profile-wrapper .banner .profile-summery{
	width: 991px;
	height: 15em;
	margin: auto;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	background: #ffffff;
	position: absolute;
    left: 180px;
    bottom: -10em;
    padding: 20px;
}
#profile-wrapper .banner .group-sum{
  width: 930px;
  height: 12em;
  margin: auto;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
  background: #ffffff;
  position: absolute;
  left: 80px;
  bottom: -10em;
  padding: 20px;
}

#profile-wrapper .banner .profile-summery .profile-image-section{
	width: 60%;
	border-right: 1px solid #ddd;
	float: left;
	height: 100%;
}
#profile-wrapper .banner .profile-summery .profile-image-section .profile-image{
	float: left;
	width: 30%;
	height: 178px;
	border-radius: 50%;
	border: 1px solid #ddd;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description{
	width: 70%;
	height: auto;
	padding-left: 20px;
	float: right;
	padding: 20px 10px;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .name{
	font-size: 20px;
    font-weight: 500;
    color: #444;
    padding-bottom: 5px;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .job{
	font-size: 12px;
    color: #777;
    font-weight: 500;
    padding-bottom: 5px;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .rating{
	// padding-bottom: 5px;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .rating i{
	color: #FFD700;
	display: inline-block;
	font-size: 12px;
}
#profile-wrapper .banner .profile-summery .profile-image-section .description .button{
    border: none;
    background: #5bb75b;
    color: #fff;
    padding: 5px 25px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 5px;
    font-size: 13px;
}
#profile-wrapper .banner .profile-summery .info-section{
	width: 40%;
	float: right;
	height: 100%;
	padding: 20px;
}
#profile-wrapper .banner .profile-summery .info-section table{
	width: 100%;
	border-collapse: collapse;
}
#profile-wrapper .banner .profile-summery .info-section table tr{
}
#profile-wrapper .banner .profile-summery .info-section table tr td{
	width: 50%;
	text-align: left;
	padding: 3px 0;
}
#profile-wrapper .banner .profile-summery .info-section table tr td.title{
	color: #333;
	font-weight: 500;
}
#profile-wrapper .banner .profile-summery .info-section table tr td.description{
	color: #888;
    font-weight: 500;
    font-size: 13px;
}
#profile-wrapper .banner .profile-summery .info-section .social-media{
	margin-top: 1em;
}
#profile-wrapper .banner .profile-summery .info-section .social-media ul{
	margin: 0;
	padding: 0;
}
#profile-wrapper .banner .profile-summery .info-section .social-media ul li{
	display: inline-block;
}
#profile-wrapper .banner .profile-summery .info-section .social-media ul li a{
	display: inline-block;
	color: #54A7F5;
	padding-right: 20px;
}
#profile-wrapper .banner .mobileProfile{
	// width: 991px;
	height: auto;
	margin: auto;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	background: #ffffff;
	// position: absolute;
    left: 180px;
    bottom: -10em;
    padding: 20px;
}
#profile-wrapper .banner .mobileProfile .profile-image-section{
	height: 100%;
}
#profile-wrapper .banner .mobileProfile .profile-image-section .profile-image{
	float: left;
	width: 235px;
	height: 235px;
	border-radius: 50%;
	border: 1px solid #ddd;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin: auto;
}
#profile-wrapper .banner .mobileProfile .profile-image-section .description{
	width: 100%;
	height: auto;
	float: right;
	padding: 20px 10px;
}
#profile-wrapper .banner .mobileProfile .profile-image-section .description .name{
	font-size: 20px;
    font-weight: 500;
    color: #444;
    padding-bottom: 5px;
}
#profile-wrapper .banner .mobileProfile .profile-image-section .description .job{
	font-size: 12px;
    color: #777;
    font-weight: 500;
    padding-bottom: 5px;
}
#profile-wrapper .banner .mobileProfile .profile-image-section .description .rating{
	// padding-bottom: 5px;
}
#profile-wrapper .banner .mobileProfile .profile-image-section .description .rating i{
	color: #FFD700;
	display: inline-block;
	font-size: 12px;
}
#profile-wrapper .banner .mobileProfile .profile-image-section .description .button{
    border: none;
    background: #5bb75b;
    color: #fff;
    padding: 5px 25px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 500;
    margin-top: 5px;
    font-size: 13px;
}
#profile-wrapper .banner .mobileProfile .info-section{
	height: 100%;
	padding: 20px;
}
#profile-wrapper .banner .mobileProfile .info-section table{
	width: 100%;
	border-collapse: collapse;
}
#profile-wrapper .banner .mobileProfile .info-section table tr{
}
#profile-wrapper .banner .mobileProfile .info-section table tr td{
	width: 50%;
	text-align: left;
	padding: 3px 0;
}
#profile-wrapper .banner .mobileProfile .info-section table tr td.title{
	color: #333;
	font-weight: 500;
}
#profile-wrapper .banner .mobileProfile .info-section table tr td.description{
	color: #888;
    font-weight: 500;
    font-size: 13px;
}
#profile-wrapper .banner .mobileProfile .info-section .social-media{
	margin-top: 1em;
}
#profile-wrapper .banner .mobileProfile .info-section .social-media ul{
	margin: 0;
	padding: 0;
}
#profile-wrapper .banner .mobileProfile .info-section .social-media ul li{
	display: inline-block;
}
#profile-wrapper .banner .mobileProfile .info-section .social-media ul li a{
	display: inline-block;
	color: #54A7F5;
	padding-right: 20px;
}












#profile-wrapper .main-content{
	margin-top: 13em;
}
#profile-wrapper .main-content .side-nav{
	width: 100%;
	height: 15em;
	padding: 20px;
	background: #ffffff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
}
#profile-wrapper .main-content .side-nav .title{
	font-weight: 500;
    font-size: 15px;
    padding-bottom: 1em;
}
#profile-wrapper .main-content .side-nav ul{
	margin: 0;
	padding: 0;
}
#profile-wrapper .main-content .side-nav ul li{
	display: block;
}
#profile-wrapper .main-content .side-nav ul li a{
	display: block;
	padding-bottom: 10px;
	font-weight: 500;
	color: #777;
}
#profile-wrapper .main-content .side-nav ul li a:hover{
	color: #30455C;
}
#profile-wrapper .main-content .side-nav ul li a i{
	display: inline-block;
	padding-right: 5px;
	color: #444;
}
#profile-wrapper .main-content .info-section{
	width: 100%;
	height: auto;
	padding: 20px;
	background: #ffffff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
}
#profile-wrapper .main-content .info-section .summery-section{
	border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}
#profile-wrapper .main-content .info-section .summery-section:last-child{
	border-bottom: none;
}
#profile-wrapper .main-content .info-section .summery-section .title{
	font-weight: 500;
    font-size: 15px;
    padding-bottom: 1em;
}
#profile-wrapper .main-content .info-section .summery-section .content{
}
#profile-wrapper .main-content .info-section .summery-section .content .bubble{
	display: inline-block;
    border: 1px solid rgba(200, 200, 200, 0.4);
    margin-right: 10px;
    padding: 6px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-size: 12px;
    background-color: #fff;
    cursor: pointer;
}
#profile-wrapper .main-content .extra-section{
	width: 100%;
	height: auto;
	background: transparent;
}
#profile-wrapper .main-content .extra-section .title{
	font-weight: 500;
    font-size: 15px;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
    padding-top: 15px;
    color: #666;
}
#profile-wrapper .main-content .extra-section .common-friends{
	padding: 10px 0;
}
#profile-wrapper .main-content .extra-section .common-friends .image{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}
#profile-wrapper .main-content .extra-section .common-friends .content{
	float: right;
	width: 170px;
}
#profile-wrapper .main-content .extra-section .common-friends .content .name{
	font-size: 13px;
    font-weight: 500;
    color: #444;
}
#profile-wrapper .main-content .extra-section .common-friends .content .ocupation{
	font-size: 12px;
    color: #777;
    font-weight: 500;
}
#profile-wrapper .main-content .extra-section .common-friends .content a.contact{
	color: #fff;
    background: #5bb75b;
    font-size: 12px;
    padding: 1px 5px;
    border-radius: 4px;
    font-weight: 500;
}
.pt-10{
  padding-top: 10px;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.move-down {
  margin-top: 100px;
}
