<!DOCTYPE html>
<html lang="en" ng-app="primeApp">

<head>
    <title>Login | Talents&Mentors</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/static/css/matrix-login.css"/>
    <link href="/static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='/static/css/font/open_sans.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">

</head>
<body ng-controller="AdminController">
<div ng-show="loading" class="loader loader-default is-active" data-text></div>
<div id="loginbox">
    <form id="loginform" class="form-vertical" method="post" ng-submit="loginUser()">
        <div class="control-group normal_text"><h3 style="color: darkslategrey">
            <em><strong>Talents&Mentors</strong></em></h3>
        </div>
        <div ng-show="error_message">
            <h5 style="color: red; text-align: center" ng-bind="error_message"></h5>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="fa fa-user"> </i></span>
                    <input type="text" placeholder="Username" ng-model="username" required/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="fa fa-lock"></i></span>
                    <input type="password" placeholder="Password" ng-model="password" required/>
                </div>
            </div>
        </div>
        <div class="form-actions">
                    <span class="pull-right">
                        <button type="submit" class="btn btn-xs btn-success"> Login</button>
                    </span>
        </div>
    </form>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/matrix.login.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<script type="text/javascript" src="/static/js/application.js"></script>
</body>

</html>
