<!DOCTYPE html>
<html lang="en" ng-app="primeApp">
<head>
    <title>Talents | Talents&Mentors</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/static/css/uniform.css" />
    <link rel="stylesheet" href="/static/css/select2.css" />
    <link rel="stylesheet" href="/static/css/matrix-style.css" />
    <link rel="stylesheet" href="/static/css/matrix-media.css" />
    <link href="/static/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='/static/css/font/open_sans.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.carousel.css"/>
    <link rel="stylesheet" href="/static/css/owl.carousel/owl-carousel/owl.transitions.css"/>
    <link rel="stylesheet" href="/static/css/jquery.rippleria.min.css"/>
    <link rel="stylesheet" href="/static/css/pure-css-loader/dist/css-loader.css">
</head>
<body ng-controller="AdminController" ng-init="init()">
<div ng-show="loading" class="loader loader-default is-active" data-text></div>
<!--Header-part-->
<div id="header">
    <h1><a href="/">Talents&Mentors</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li class="dropdown" id="profile-messages">
            <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
                <i class="icon icon-user"></i><span class="text">Welcome Admin</span>
            </a>
        </li>
        <li class=""><a title="" href="/logout"><i class="fa fa-user-md"></i> <span class="text">Logout</span></a>
        </li>
    </ul>
</div>

<!--sidebar-menu-->

<div id="sidebar"><a href="/" class="visible-phone"><i class="icon icon-home"></i> Home</a>
    <ul>
        <li><a href="/"><i class="fa fa-home"></i> <span>Home</span></a></li>
        <li><a href="/mentors"><i class="fa fa-users"></i> <span>Mentors</span></a></li>
        <li class="active"><a href="/talents"><i class="fa fa-male"></i> <span>Talents</span></a></li>
        <li><a href="/groups"><i class="fa fa-group"></i> <span>Groups</span></a></li>
        <li><a href="/jobs"><i class="fa fa-building-o"></i> <span>Jobs</span></a></li>
        <li><a href="/requests"><i class="fa fa-comment-o"></i> <span>Requests</span></a></li>
        <li><a href="/posts"><i class="fa fa-pagelines"></i> <span>Posts</span></a></li>
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="/talents" class="current">Talents</a> </div>
        <h1>Talents</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Location</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="act in data.talents">
                                <td ng-bind="act.name"></td>
                                <td ng-bind="act.email"></td>
                                <td ng-bind="act.phone"></td>
                                <td ng-bind="act.location"></td>
                                <td>
                                    <button ng-hide="act.is_verified" ng-click="Verify(act.email)" class="btn btn-mini btn-success">Verify</button>&nbsp;
                                    <button ng-show="act.is_verified" ng-click="unVerify(act.email)" class="btn btn-mini btn-danger">UnVerify</button>&nbsp;
                                    <button ng-hide="act.is_mentor" ng-click="markMentor(act.email)" class="btn btn-mini btn-primary">Mark as Mentor</button>
                                    <button ng-click="deleteUser(act.email)" class="btn btn-mini btn-danger">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="data.talents.length == 0" class="text-center" style="padding-top: 20px; padding-bottom: 20px">
                        <strong>No current Talents</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2017 &copy; Talents&Mentors. Brought to you by <a target="_blank" href="http://xeptr.org">Xeptr Interactive</a>
    </div>
</div>
<!--end-Footer-part-->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.ui.custom.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.uniform.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/matrix.js"></script>
<script src="/static/js/matrix.tables.js"></script>
<script type="text/javascript" src="/static/js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/css/owl.carousel/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script src="/static/js/angular-facebook.js"></script>
<script type="text/javascript" src="/static/js/angular-cookie.js"></script>
<script src="/static/js/ng-file-upload.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/summer-note.min.js"></script>
<script src="/static/js/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="/static/js/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/angular-moment.min.js"></script>
<script src="/static/js/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/ngAutocomplete.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
</body>
</html>
